<!DOCTYPE html>
<html ng-app="passProtect">

<head>
    <title>Grade 5 Quiz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/no_back_please.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/angular-md5.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="form.testForm">
                        <p class="test_name">Grade 6 Math Quiz</p>
                        <usernameinput></usernameinput>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Test is for 30 marks.<br>Use a pencil and paper to do all your working out.<br>Select the most correct answer to each question.<br>You may NOT use a calculator to help you.<br>You have 1 Hour 30 Minutes to complete this test.<br>Ask your coach if you are not sure how to answer the questions.</div>
                        <div class="HeaderbannerLabel">TEST</div>

                        <!-- Question 1 -->
                        <h3>(1) The perimeter of a book is 32cm. The width of the book is 4cm. What is the length?</h3>
                        <p>
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">28cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_b">8cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_c">12cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_d">16cm</label>
                        </p>

                        <!-- Question 2 -->
                        <h3>(2) The Area of my table is 96cm². The width of the table is 8cm. What is the length?</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">88cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_b">8cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_c">12cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_d">40cm</label>
                        </p>

                        <!-- Question 3 -->
                        <h3>(3) What is the volume of a cube if each side is 6cm?</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">12cm³</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_b">36cm³</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_c">216cm³</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_d">18cm³</label>
                        </p>

                        <!-- Question 4 -->
                        <h3>(4) The sum of three consecutive numbers is 87. What is the biggest of the numbers?</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">28</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_b">29</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_c">30</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_d">31</label>
                        </p>

                        <!-- Question 5 -->
                        <h3>(5) How many triangles?</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_b">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_c">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_d">6</label>
                        </p>

                        <!-- Question 6 -->
                        <h3>(6) How many squares are there altogether?</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a">12</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_b">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_c">30</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_d">55</label>
                        </p>

                        <!-- Question 7 -->
                        <h3>(7) Shaded Area =</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a">200m²</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_b">96m²</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_c">16m²</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_d">104m²</label>
                        </p>

                        <!-- Question 8 -->
                        <h3>(8) John and James shared money in the ratio 2:3. James got R30. How much did they share?</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_a">R50</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_b">R20</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_c">R30</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_d">R35</label>
                        </p>

                        <!-- Question 9 -->
                        <h3>(9) 96 - □ = 72 + 13</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">11</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_b">21</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_c">72</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_d">13</label>
                        </p>

                        <!-- Question 10 -->
                        <h3>(10) In a class of 70 learners, 3/7 of them like sweets. How many learners do not like sweets?</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">42</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_b">48</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_c">18</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_d">30</label>
                        </p>

                        <!-- Question 11 -->
                        <h3>(11) Find the value of y: 15y = 90</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_a">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_b">8</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_c">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_d">3</label>
                        </p>

                        <!-- Question 12 -->
                        <h3>(12) Find the value of x: 4x = 80</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_a">20</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_b">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_c">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_d">25</label>
                        </p>

                        <!-- Question 13 -->
                        <h3>(13) I am thinking of a number. If I divide my number by 3, then subtract 4, I get 2. What is my number?</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">12</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_b">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_c">18</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_d">24</label>
                        </p>

                        <!-- Question 14 -->
                        <h3>(14) I have a rectangle with an area of 20cm². The width is 4cm. What is the length?</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_a">5cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_b">6cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_c">8cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_d">10cm</label>
                        </p>

                        <!-- Question 15 -->
                        <h3>(15) The product of two consecutive numbers is 182. What are the numbers?</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a">13 and 14</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_b">12 and 13</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_c">13 and 14</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_d">14 and 15</label>
                        </p>

                        <!-- Question 16 -->
                        <h3>(16) What is 3/4 of 60?</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_a">40</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_b">35</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_c">45</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_d">50</label>
                        </p>

                        <!-- Question 17 -->
                        <h3>(17) Multiply the fractions: 2/3 x 4/5</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_a">8/5</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_b">8/6</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_c">8/15</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_d">6/5</label>
                        </p>

                        <!-- Question 18 -->
                        <h3>(18) What is the remainder when you divide 56 by 9?</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_a">2</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_b">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_c">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_d">1</label>
                        </p>

                        <!-- Question 19 -->
                        <h3>(19) 3/4 x 4/3</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_a">12/12</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_b">1/1</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_c">1</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_d">4</label>
                        </p>

                        <!-- Question 20 -->
                        <h3>(20) A student wrote a test and scored 8 out of 10. What percentage did he score?</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_a">80%</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_b">75%</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_c">85%</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_d">70%</label>
                        </p>

                        <!-- Question 21 -->
                        <h3>(21) 72 - 18 + 36 = □</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="0">
                            <label for="q21_a">108</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="0">
                            <label for="q21_b">84</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_c">90</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="0">
                            <label for="q21_d">81</label>
                        </p>

                        <!-- Question 22 -->
                        <h3>(22) 4/9 of 108 = □</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_a">48</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="0">
                            <label for="q22_b">36</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="0">
                            <label for="q22_c">54</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="0">
                            <label for="q22_d">42</label>
                        </p>

                        <!-- Question 23 -->
                        <h3>(23) The cost of 12 eggs is K18.00. Find the cost of 4 eggs.</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_a">K6.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_b">K5.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_c">K4.50</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_d">K3.50</label>
                        </p>

                        <!-- Question 24 -->
                        <h3>(24) 25% of 80 learners failed the test. How many learners passed the test?</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_a">60 learners</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_b">50 learners</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_c">40 learners</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_d">70 learners</label>
                        </p>

                        <!-- Question 25 -->
                        <h3>(25) What is the sum of the angles in a triangle?</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_a">90°</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_b">360°</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_c">180°</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_d">120°</label>
                        </p>

                        <!-- Question 26 -->
                        <h3>(26) 12 x 12 = □</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_a">100</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_b">120</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_c">144</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_d">156</label>
                        </p>

                        <!-- Question 27 -->
                        <h3>(27) What is the value of x in the equation: 4x - 8 = 12?</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="0">
                            <label for="q27_a">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="0">
                            <label for="q27_b">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_c">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="0">
                            <label for="q27_d">4</label>
                        </p>

                        <!-- Question 28 -->
                        <h3>(28) How many sides does a pentagon have?</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_a">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="0">
                            <label for="q28_b">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="0">
                            <label for="q28_c">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="0">
                            <label for="q28_d">4</label>
                        </p>

                        <!-- Question 29 -->
                        <h3>(29) A clock shows 4:30. What is the angle between the hour and minute hands?</h3>
                        <p>
                            <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="0">
                            <label for="q29_a">45°</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="1">
                            <label for="q29_b">150°</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="0">
                            <label for="q29_c">180°</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="0">
                            <label for="q29_d">90°</label>
                        </p>

                        <!-- Question 30 -->
                        <h3>(30) I am thinking of a number. When I add 8 to it and then divide the result by 3, I get 4. What is my number?</h3>
                        <p>
                            <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="0">
                            <label for="q30_a">2</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="1">
                            <label for="q30_b">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="0">
                            <label for="q30_c">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="0">
                            <label for="q30_d">8</label>
                        </p>

                        
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <input type="hidden" name="test" ng-init="testResponse.test='quiz'">
                        <input type="hidden" name="course" ng-init="testResponse.course='grade6_quiz'">
                        <input type="hidden" name="module" ng-init="testResponse.module='math_quiz'">
                        <coachsection></coachsection>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
