
<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">
<head>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<title>Alpha Comprehensive Test 2</title>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->

    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="pmodule/angular.min.js"></script>
    <script src="pmodule/angular-animate.js"></script>
    <script src="pmodule/angular-sanitize.js"></script>
    <script src="pmodule/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">


<style>
.HeaderbannerLabel {
    background-color: rgb(0, 159, 21);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-left: 34px;
    margin-left: -30px;
    font: 400 16px/24px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 8px 8px 8px 42px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 30%;
}
.ins {
    color: #212121;
    font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: 135%;
    margin-top: 22px;
    white-space: pre-wrap;
}
h3 {
    font-weight: normal;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.box {	display: inline-block;
	background-color: none; 
	vertical-align: middle}
span.frac {  display: inline-block;  font-size: 75%;  text-align: center; vertical-align: middle}
span.frac > sup {  display: block;  border-bottom: 1px solid;  font: inherit;}
span.frac > span {  display: none;}
span.icon > span {  display: inline-block; font-size: 1.1em}
span.frac > sub {  display: block;  font: inherit;}
</style>
</head>
<body ng-controller="ModalDemoCtrl as ctrl" style="background-color: rgb(179, 255, 179); font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
	<!-- TODO: Add inline script for passowrd modal -->
	<!-- Password modal -->
	<script type="text/ng-template" id="testModalContent.html">
			<div class="modal-header">
					<h3 class="modal-title" id="modal-title">The Coach should enter the password</h3>
			</div>
			<div class="modal-body" id="modal-body">
					<label class="item item-input">
							<input ng-model="password" type="password" class="form-control" id="passwordInput" required>
					</label>
					<p class="password-error" ng-show="wrongPassword==true">Sorry, that is not the correct password. Please try again</p>
			</div>
			<div class="modal-footer">
					<button class="btn btn-success" type="button" ng-click="$ctrl.checkPassword(password)">OK</button>
					<button class="btn btn-danger" type="button">Cancel</button>
			</div>
	</script> 

	<!-- TODO: Add tag to instantiate modal when page opens -->
<span ng-init=ctrl.openModal()></span>
<section class="container-fluid" style="margin: auto; width: 640px !important; background-color: white;">
	<div class="row">
		<div class="container page">
			<div class="row">
			 <div class="pd-tb">
			    <div class="pd-lr"> 
			       <p style="box-sizing: border-box; font-size: 34px; line-height: 135%; max-width: 100%; min-width: 0%;">Alpha Comprehensive Test 2</p>
			       <p style="font-size: 13px;line-height: 135%;margin-top: 22px;white-space: pre-wrap;">TIME ALLOWED: 1 HOUR 30 MINUTES</p>
			        <div style="color:rgb(219, 68, 55);font-size: 13px;margin-top: 22px;"></div>		
			        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
			        <div class="ins">Calculators are NOT allowed<br>Ask your coach if you are not sure how to answer the questions</div>
                    
				<div class="HeaderbannerLabel">SECTION A</div>				
						<h3>(1) 
							<span class="frac"><sup>2</sup><span>/</span><sub>4</sub></span> =
							<span class="frac">								
								<sup>6</sup>
								<span>/</span>
								<sub><span class="icon"><i class="far fa-square"></i></span></sub>
							</span>
						</h3>
						<!-- TODO: Add form name,action and method --> 
						<!-- <form name="testForm" action="/submit_test" method="post"> -->
						<form action="/submit_test" name="testForm2" method="post">
					  <p>
					  	<!-- TODO: Add value attribute to each radio button -->
					  	<!-- Each group of radio buttons with the same name corresponds to one question -->
					  	<!-- Wrong answers are 0, correct answer is 1 -->
					  	<!-- Example below -->
					    <!-- <input type="radio" id="test1" name="q1" value="0"> -->
					    <input type="radio" id="q1_a" name="q1" value="0">
					    <label for="q1_a">6</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_b" name="q1" value="0">
					    <label for="q1_b">9</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_c" name="q1" value="1">
					    <label for="q1_c">12</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_d" name="q1" value="0">
					    <label for="q1_d">27</label>
						</p>
						
						<h3>(2)  Find the lowest common denominator.</h3>
						<span>
								<span class="frac"><sup>7</sup><span>/</span><sub>2</sub></span> and
								<span class="frac"><sup>3</sup><span>/</span><sub>5</sub></span>
						</span>
						<p>
					    <input type="radio" id="q2_a" name="q2" value="1">
					    <label for="q2_a">10</label>
					  </p>
					  <p>
					    <input type="radio" id="q2_b" name="q2" value="0">
					    <label for="q2_b">20</label>
					  </p>
					  <p>
					    <input type="radio" id="q2_c" name="q2" value="0">
					    <label for="q2_c">50</label>
					  </p>
					  <p>
					    <input type="radio" id="q2_d" name="q2" value="0">
					    <label for="q2_d">60</label>
						</p>
						
						<h3>(3)	Fill in the blank with <, > or =.</h3>
						<span>
							<span class="frac"><sup>2</sup><span>/</span><sub>6</sub></span>
							<span class="icon"><i class="far fa-square"></i></span>
							<span class="frac"><sup>7</sup><span>/</span><sub>8</sub></span>
						</span>
						<p>
							<input type="radio" id="q3_a" name="q3" value="0">
							<label for="q3_a"> > </label>
						</p>
						<p>
							<input type="radio" id="q3_b" name="q3" value="1">
							<label for="q3_b"> < </label>
						</p>
						<p>
							<input type="radio" id="q3_c" name="q3" value="0">
							<label for="q3_c"> = </label>
						</p>
						<p>
							<input type="radio" id="q3_d" name="q3" value="0">
							<label for="q3_d">None of the above</label>
						</p>
			
					<h3>(4)
						8<span class="frac"><sup>2</sup><span>/</span><sub>4</sub></span> &minus;
						1<span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span> =
						<span class="icon"><i class="far fa-square"></i></span>
					</h3>
					  <p>
					    <input type="radio" id="q4_a" name="q4" value="1">
							<label for="q4_a">
								6<span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span> 
							</label>
					  </p>
					  <p>
					    <input type="radio" id="q4_b" name="q4" value="0">
					    <label for="q4_b">
							<span class="frac"><sup>28</sup><span>/</span><sub>5</sub></span> 
						</label>
						</p>
						<p>
					    <input type="radio" id="q4_c" name="q4" value="0">
					    <label for="q4_c">
							<span class="frac"><sup>21</sup><span>/</span><sub>5</sub></span> 
						</label>
					  </p>
					  <p>
					    <input type="radio" id="q4_d" name="q4" value="0">
					    <label for="q4_d">
							<span class="frac"><sup>49</sup><span>/</span><sub>5</sub></span> 
						</label>
					  </p>
					  
				
					<h3>(5) 0.2 <span class="icon"><i class="far fa-square"></i></span> 0.02  </h3>
					<span>Fill in the blank with <, > or =.</span>
					  <p>
					    <input type="radio" id="q5_a" name="q5" value="1">
					    <label for="q5_a"> > </label>
					  </p>
					  <p>
					    <input type="radio" id="q5_b" name="q5" value="0">
					    <label for="q5_b"> < </label>
					  </p>
					  <p>
					    <input type="radio" id="q5_c" name="q5" value="0">
					    <label for="q5_c"> = </label>
					  </p>
					  <p>
					    <input type="radio" id="q5_d" name="q5" value="0">
					    <label for="q5_d">None of the above</label>
					  </p>
					  
						<h3>(6) Rewrite 0.5 as a fraction.</h3>
						<span> 0.5 = <span class="icon"><i class="far fa-square"></i></span></span>
					   <p>
							<input type="radio" id="q6_a" name="q6" value="1">
							<label for="q6_a">
								<span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span> 
							</label>
						</p>
						<p>
							<input type="radio" id="q6_b" name="q6" value="0">
							<label for="q6_b">
								<span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span> 
							</label>
						</p>
						<p>
							<input type="radio" id="q6_c" name="q6" value="0">
							<label for="q6_c">
								<span class="frac"><sup>2</sup><span>/</span><sub>5</sub></span> 
							</label>
						</p>
						
						<p>
							<input type="radio" id="q6_d" name="q6" value="0">
							<label for="q6_d">
								<span class="frac"><sup>2</sup><span>/</span><sub>7</sub></span> 
							</label>
						</p>
		
						<h3>(7) Fill in the blank with <, > or =.</h3>
						<span>
							0.4  <span class="icon"><i class="far fa-square"></i></span> <span class="frac"><sup>5</sup><span>/</span><sub>100</sub></span>
						</span>
					  <p>
					    <input type="radio" id="q7_a" name="q7" value="1">
					    <label for="q7_a">></label>
					  </p>
					  <p>
					    <input type="radio" id="q7_b" name="q7" value="0">
					    <label for="q7_b"> < </label>
					  </p>
					  <p>
					    <input type="radio" id="q7_c" name="q7" value="0">
					    <label for="q7_c">=</label>
					  </p>
					  <p>
					    <input type="radio" id="q7_d" name="q7" value="0">
					    <label for="q7_d">None of the above</label>
					  </p>

						<h3>(8) Estimate the angle shown below.</h3>
						<div><img src="images/alp_comp_2/question10.jpg" alt="image missing" class="img-responsive"/></div>
					  <p>
					    <input type="radio" id="q8_a" name="q8" value="1">
					    <label for="q8_a">30&deg;</label>
					  </p>
					  <p>
					    <input type="radio" id="q8_b" name="q8" value="0">
					    <label for="q8_b">90&deg;</sup></label>
					  </p>
					  <p>
					    <input type="radio" id="q8_c" name="q8" value="0">
					    <label for="q8_c">135&deg;</label>
					  </p>
					  <p>
					    <input type="radio" id="q8_d" name="q8" value="0">
					    <label for="q8_d">180&deg;</sup></label>
					  </p>
					  
					  <h3>(9) Which of the following is a prime number?</h3>
						<p>
								<input type="radio" id="q9_a" name="q9" value="0">
								<label for="q9_a">25</label>
							</p>
							<p>
								<input type="radio" id="q9_b" name="q9" value="0">
								<label for="q9_b">33</label>
							</p>
							<p>
								<input type="radio" id="q9_c" name="q9" value="0">
								<label for="q9_c">65</label>
							</p>
							<p>
								<input type="radio" id="q9_d" name="q9" value="1">
								<label for="q9_d">71</label>
							</p>
										
					<h3>(10) [19 &minus; 3] &times; 5 = <span class="icon"><i class="far fa-square"></i></span> </h3>
					<p>
						<input type="radio" id="q10_a" name="q10" value="0">
						<label for="q10_a">4</label>
					</p>
					<p>
						<input type="radio" id="q10_b" name="q10" value="0">
						<label for="q10_b">75</label>
					</p>
					<p>
						<input type="radio" id="q10_c" name="q10" value="1">
						<label for="q10_c">80</label>
					</p>
					<p>
						<input type="radio" id="q10_d" name="q10" value="0">
						<label for="q10_d">92</label>
					</p>

					<div class="HeaderbannerLabel">SECTION B</div>

					<h3>(11) 10.16 + 36.75 = <span class="icon"></span><i class="far fa-square"></i></span></h3>
					<p>
						<input type="radio" id="q11_a" name="q11" value="0">
						<label for="q11_a">4.691</label>
					</p>
					<p>
						<input type="radio" id="q11_b" name="q11" value="1">
						<label for="q11_b">46.91</label>
					</p>
					<p>
						<input type="radio" id="q11_c" name="q11" value="0">
						<label for="q11_c">469.1</label>
					</p>
					<p>
						<input type="radio" id="q11_d" name="q11" value="0">
						<label for="q11_d">4691</label>
					</p>

					<h3>(12) 3.9 &minus; 2.31  = <span class="icon"></span><i class="far fa-square"></i></span></h3>
					<p>
						<input type="radio" id="q12_a" name="q12" value="1">
						<label for="q12_a">1.59</label>
					</p>
					<p>
						<input type="radio" id="q12_b" name="q12" value="0">
						<label for="q12_b">2.82</label>
					</p>
					<p>
						<input type="radio" id="q12_c" name="q12" value="0">
						<label for="q12_c">0.89</label>
					</p>
					<p>
						<input type="radio" id="q12_d" name="q12" value="0">
						<label for="q12_d">0.98</label>
					</p>

					<h3>(13) 26 × 226  = <span class="icon"></span><i class="far fa-square"></i></span></h3>
					<p>
						<input type="radio" id="q13_a" name="q13" value="0">
						<label for="q13_a">4,520</label>
					</p>
					<p>
						<input type="radio" id="q13_b" name="q13" value="0">
						<label for="q13_b">6,760</label>
					</p>
					<p>
						<input type="radio" id="q13_c" name="q13" value="0">
						<label for="q13_c">1,356</label>
					</p>
					<p>
						<input type="radio" id="q13_d" name="q13" value="1">
						<label for="q13_d">5,876</label>
					</p>

					<h3>(14)  0.82 &times; 0.3 = <span class="icon"></span><i class="far fa-square"></i></span></h3>
					<p>
						<input type="radio" id="q14_a" name="q14" value="0">
						<label for="q14_a">0.52</label>
					</p>
					<p>
						<input type="radio" id="q14_b" name="q14" value="1">
						<label for="q14_b">0.24</label>
					</p>
					<p>
						<input type="radio" id="q14_c" name="q14" value="0">
						<label for="q14_c">1.12</label>
					</p>
					<p>
						<input type="radio" id="q14_d" name="q14" value="0">
						<label for="q14_d">2.70</label>
					</p>

					<h3>(15) 8184 &divide; 31 = <span class="icon"></span><i class="far fa-square"></i></span></h3>
					<p>
						<input type="radio" id="q15_a" name="q15" value="1">
						<label for="q15_a">264</label>
					</p>
					<p>
						<input type="radio" id="q15_b" name="q15" value="0">
						<label for="q15_b">272</label>
					</p>
					<p>
						<input type="radio" id="q15_c" name="q15" value="0">
						<label for="q15_c">821</label>
					</p>
					<p>
						<input type="radio" id="q15_d" name="q15" value="0">
						<label for="q15_d">815</label>
					</p>

					<h3>(16) 7 &divide; 4 = <span class="icon"></span><i class="far fa-square"></i></span> </h3>
					<p>
						<input type="radio" id="q16_a" name="q16" value="0">
						<label for="q16_a">1.34</label>
					</p>
					<p>
						<input type="radio" id="q16_b" name="q16" value="1">
						<label for="q16_b">1.75</label>
					</p>
					<p>
						<input type="radio" id="q16_c" name="q16" value="0">
						<label for="q16_c">0.57</label>
					</p>
					<p>
						<input type="radio" id="q16_d" name="q16" value="0">
						<label for="q16_d">0.74</label>
					</p>

					<h3>(17) 
						<span class="frac"><sup>5</sup><span>/</span><sub>10</sub></span> +
						<span class="frac"><sup>1</sup><span>/</span><sub>3</sub></span> =
						<span class="icon"></span><i class="far fa-square"></i></span>
					</h3>
					<p>
						<input type="radio" id="q17_a" name="q17" value="0">
						<label for="q17_a">
							<span class="frac"><sup>6</sup><span>/</span><sub>13</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q17_b" name="q17" value="0">
						<label for="q17_b">
							<span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q17_c" name="q17" value="0">
						<label for="q17_c">
							<span class="frac"><sup>1</sup><span>/</span><sub>5</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q17_d" name="q17" value="1">
						<label for="q17_d">
							<span class="frac"><sup>5</sup><span>/</span><sub>6</sub></span>
						</label>
					</p>

					<h3>(18) 
						<span class="frac"><sup>5</sup><span>/</span><sub>6</sub></span> &times;
						<span class="frac"><sup>5</sup><span>/</span><sub>7</sub></span> =
						<span class="icon"></span><i class="far fa-square"></i></span>
					</h3>
					<p>
						<input type="radio" id="q18_a" name="q18" value="0">
						<label for="q18_a">
							4<span class="frac"><sup>2</sup><span>/</span><sub>5</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q18_b" name="q18" value="0">
						<label for="q18_b">
							<span class="frac"><sup>9</sup><span>/</span><sub>42</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q18_c" name="q18" value="0">
						<label for="q18_c">
							<span class="frac"><sup>5</sup><span>/</span><sub>21</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q18_d" name="q18" value="1">
						<label for="q18_d">
							<span class="frac"><sup>25</sup><span>/</span><sub>42</sub></span>
						</label>
					</p>

					<h3>(19) 
						5 &divide;
						<span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span> =
						<span class="icon"></span><i class="far fa-square"></i></span>
					</h3>
					<p>
						<input type="radio" id="q19_a" name="q19" value="0">
						<label for="q19_a">
								2.5
						</label>
					</p>
					<p>
						<input type="radio" id="q19_b" name="q19" value="0">
						<label for="q19_b">
								5.0
						</label>
					</p>
					<p>
						<input type="radio" id="q19_c" name="q19" value="1">
						<label for="q19_c">
							10
						</label>
					</p>
					<p>
						<input type="radio" id="q19_d" name="q19" value="0">
						<label for="q19_d">
							15
						</label>
					</p>
					
					<h3>(20) Rewrite the number below in expanded form.</h3>
						<span>10<sup>5</sup></span> =
						<span class="icon"><i class="far fa-square"></i></span>
					<p>
						<input type="radio" id="q20_a" name="q20" value="0">
						<label for="q20_a">5,000</label>
					</p>
					<p>
						<input type="radio" id="q20_b" name="q20" value="0">
						<label for="q20_b">500,000</label>
					</p>
					<p>
						<input type="radio" id="q20_c" name="q20" value="1">
						<label for="q20_c">100,000</label>
					</p>
					<p>
						<input type="radio" id="q20_d" name="q20" value="0">
						<label for="q20_d">1000,000</label>
					</p>

					<h3>(21) Calculate the volume of the shape below.</h3>
					<span>Volume = <span class="icon"><i class="far fa-square"></i></span> cubic units</span>
					<span><div><img src="images/alp_comp_2/question25.jpg" alt="image missing" class="img-responsive"/></div></span>
					<p>
						<input type="radio" id="q21_a" name="q21" value="0">
						<label for="q21_a">20</label>
					</p>
					<p>
						<input type="radio" id="q21_b" name="q21" value="0">
						<label for="q21_b">50</label>
					</p>
					<p>
						<input type="radio" id="q21_c" name="q21" value="1">
						<label for="q21_c">40</label>
					</p>
					<p>
						<input type="radio" id="q21_d" name="q21" value="0">
						<label for="q21_d">60</label>
					</p>
																							
					<h3>(22) 170 cm = <span class="icon"><i class="far fa-square"></i></span> m</h3>
					<span>Convert the units above.</span>
					<p>
						<input type="radio" id="q22_a" name="q22" value="0">
						<label for="q22_a">17</label>
					</p>
					<p>
						<input type="radio" id="q22_b" name="q22" value="0">
						<label for="q22_b">0.17</label>
					</p>
					<p>
						<input type="radio" id="q22_c" name="q22" value="0">
						<label for="q22_c">170</label>
					</p>
					<p>
						<input type="radio" id="q22_d" name="q22" value="1">
						<label for="q22_d">1.7</label>
					</p>



					<div class="HeaderbannerLabel">SECTION C</div>	
					
					<h3>(23)  3.5 : 7 therefore, <span class="icon"><i class="far fa-square"></i></span> : 14 </h3>
					<p>
						<input type="radio" id="q23_a" name="q23" value="0">
						<label for="q23_a">3.5</label>
					</p>
					<p>
						<input type="radio" id="q23_b" name="q23" value="0">
						<label for="q23_b">7.5</label>
					</p>
					<p>
						<input type="radio" id="q23_c" name="q23" value="0">
						<label for="q23_c">14</label>
					</p>
					<p>
						<input type="radio" id="q23_d" name="q23" value="1">
						<label for="q23_d">7</label>
					</p>
					
					<h3>(24) 
						<span class="frac"><sup>22</sup><span>/</span><sub>25</sub></span> = 
						<span class="icon"><i class="far fa-square"></i></span>%		
					</h3>
					<p>
						<input type="radio" id="q24_a" name="q24" value="0">
						<label for="q24_a">
							22
						</label>
					</p>
					<p>
						<input type="radio" id="q24_b" name="q24" value="1">
						<label for="q24_b">
							88
						</label>
					</p>
					<p>
						<input type="radio" id="q24_c" name="q24" value="0">
						<label for="q24_c">
							90
						</label>
					</p>
					<p>
						<input type="radio" id="q24_d" name="q24" value="0">
						<label for="q24_d">
							100
						</label>
					</p>		
					
					<h3>(25)  342.2 &divide; 0.58 =  <span class="icon"><i class="far fa-square"></i></span> </h3>
					<p>
						<input type="radio" id="q25_a" name="q25" value="0">
						<label for="q25_a">342</label>
					</p>
					<p>
						<input type="radio" id="q25_b" name="q25" value="0">
						<label for="q25_b">340</label>
					</p>
					<p>
						<input type="radio" id="q25_c" name="q25" value="1">
						<label for="q25_c">590</label>
					</p>
					<p>
						<input type="radio" id="q25_d" name="q25" value="0">
						<label for="q25_d">358</label>
					</p>

					<h3>(26) 
							<span class="frac"><sup>3</sup><span>/</span><sub>8</sub></span> &divide;
							<span class="frac"><sup>5</sup><span>/</span><sub>9</sub></span> =
							<span class="icon"><i class="far fa-square"></i></span>
						</h3>
						<p>
							<input type="radio" id="q26_a" name="q26" value="0">
							<label for="q26_a">
								<span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span>
							</label>
						</p>
						<p>
							<input type="radio" id="q26_b" name="q26" value="0">
							<label for="q26_b">
								<span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>
							</label>
						</p>
						<p>
							<input type="radio" id="q26_c" name="q26" value="0">
							<label for="q26_c">
								<span class="frac"><sup>15</sup><span>/</span><sub>72</sub></span>
							</label>
						</p>
						<p>
							<input type="radio" id="q26_d" name="q26" value="1">
							<label for="q26_d">								
								<span class="frac"><sup>27</sup><span>/</span><sub>40</sub></span>
							</label>
						</p>

					<h3>(27) What is not true about about -R?</h3>
					<div><img src="images/alp_comp_2/question35.jpg" alt="image missing" class="img-responsive"/></div>
					<p>
						<input type="radio" id="q27_a" name="q27" value="0">
						<label for="q27_a">&minus;R > 0</label>
					</p>
					<p>
						<input type="radio" id="q27_b" name="q27" value="0">
						<label for="q27_b">&minus;R = V</label>
					</p>
					<p>
						<input type="radio" id="q27_c" name="q27" value="1">
						<label for="q27_c">&minus;R = &minus;V</label>
					</p>
					<p>
						<input type="radio" id="q27_d" name="q27" value="0">
						<label for="q27_d">None of the above</label>
					</p>

					<h3>(28)
						 | &minus;0.6 | = <span class="icon"><i class="far fa-square"></i></span>
					</h3>
					<span>Find the absolute value.</span>
					<p>
						<input type="radio" id="q28_a" name="q28" value="0">
						<label for="q28_a">&minus;0.6</label>
					</p>
					<p>
						<input type="radio" id="q28_b" name="q28" value="1">
						<label for="q28_b">0.6</label>
					</p>
					<p>
						<input type="radio" id="q28_c" name="q28" value="0">
						<label for="q28_c">6</label>
					</p>
					<p>
						<input type="radio" id="q28_d" name="q28" value="0">
						<label for="q28_d">60</label>
					</p>

					<h3>(29)  Find the lowest common multiple (LCM) for 11 and 7</h3>
					<p>
						<input type="radio" id="q29_a" name="q29" value="0">
						<label for="q29_a">11</label>
					</p>
					<p>
						<input type="radio" id="q29_b" name="q29" value="0">
						<label for="q29_b">7</label>
					</p>
					<p>
						<input type="radio" id="q29_c" name="q29" value="0">
						<label for="q29_c">70</label>
					</p>
					<p>
						<input type="radio" id="q29_d" name="q29" value="1">
						<label for="q29_d">77</label>
					</p>

					<h3>(30) Find the highest common factor (HCF) for 25, 50 and 100.</h3>
					<p>
						<input type="radio" id="q30_a" name="q30" value="0">
						<label for="q30_a">10</label>
					</p>
					<p>
						<input type="radio" id="q30_b" name="q30" value="0">
						<label for="q30_b">15</label>
					</p>
					<p>
						<input type="radio" id="q30_c" name="q30" value="0">
						<label for="q30_c">20</label>
					</p>
					<p>
						<input type="radio" id="q30_d" name="q30" value="1">
						<label for="q30_d">25</label>

					<h3>(31)Solve the expression when s = 4</h3>
					<span>9 &minus; <span class="frac"><sup>8</sup><span>/</span><sub>s</sub></span> = <span class="icon"><i class="far fa-square"></i></span> </span>
					<p>
						<input type="radio" id="q31_a" name="q31" value="0">
						<label for="q31_a">9</label>
					</p>
					<p>
						<input type="radio" id="q31_b" name="q31" value="0">
						<label for="q31_b">13</label>
					</p>
					<p>
						<input type="radio" id="q31_c" name="q31" value="0">
						<label for="q31_c">15</label>
					</p>
					<p>
						<input type="radio" id="q31_d" name="q31" value="1">
						<label for="q31_d">7</label>
					</p>

					<h3>(32) 
							9 + 11g &minus; 4h = <span class="icon"><i class="far fa-square"></i></span> 
					</h3>
					<span>Solve the expression when g = 2 and h = 7</span>
					<p>
						<input type="radio" id="q32_a" name="q32" value="0">
						<label for="q32_a">2</label>
					</p>
					<p>
						<input type="radio" id="q32_b" name="q32" value="0">
						<label for="q32_b">7</label>
					</p>
					<p>
						<input type="radio" id="q32_c" name="q32" value="0">
						<label for="q32_c">11</label>
					</p>
					<p>
						<input type="radio" id="q32_d" name="q32" value="1">
						<label for="q32_d">3</label>
					</p> 

					
					<h3>(33) 3 = 10p</h3>
					<span>Find the value of p</span>
					<p>
						<input type="radio" id="q33_a" name="q33" value="0">
						<label for="q33_a">
							<span class="frac"><sup>1</sup><span>/</span><sub>3</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q33_b" name="q33" value="0">
						<label for="q33_b">
							<span class="frac"><sup>1</sup><span>/</span><sub>10</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q33_c" name="q33" value="0">
						<label for="q33_c">
							<span class="frac"><sup>10</sup><span>/</span><sub>3</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q33_d" name="q33" value="1">
						<label for="q33_d">
							<span class="frac"><sup>3</sup><span>/</span><sub>10</sub></span>
						</label>
					</p>
						
					<h3>(34) 
							5x &minus; 3x  = <span class="icon"><i class="far fa-square"></i></span>x
					</h3>
					<span>Simplify the expression.</span>
					<p>
						<input type="radio" id="q34_a" name="q34" value="0">
						<label for="q34_a">3</label>
					</p>
					<p>
						<input type="radio" id="q34_b" name="q34" value="0">
						<label for="q34_b">5</label>
					</p>
					<p>
						<input type="radio" id="q34_c" name="q34" value="0">
						<label for="q34_c">15</label>
					</p>
					<p>
						<input type="radio" id="q34_d" name="q34" value="1">
						<label for="q34_d">2</label>
					</p> 
					
					<h3>(35) Find the surface area of the net below.</h3>
					<span>Surface area  = <span class="icon"><i class="far fa-square"></i></span> square units</span>
					<div><img src="images/alp_comp_2/question47.jpg" alt="image missing" class="img-responsive"/></div>
					<p>
						<input type="radio" id="q35_a" name="q35" value="0">
						<label for="q35_a">14</label>
					</p>
					<p>
						<input type="radio" id="q35_b" name="q35" value="0">
						<label for="q35_b">20</label>
					</p>
					<p>
						<input type="radio" id="q35_c" name="q35" value="0">
						<label for="q35_c">100</label>
					</p>
					<p>
						<input type="radio" id="q35_d" name="q35" value="1">
						<label for="q35_d">65</label>
					</p> 

					<h3>(36) 3, 2, 26, 9</h3>
					<span>Find the mean/average of the above data set</span>
					<p>
						<input type="radio" id="q36_a" name="q36" value="0">
						<label for="q36_a">9</label>
					</p>
					<p>
						<input type="radio" id="q36_b" name="q36" value="0">
						<label for="q36_b">14</label>
					</p>
					<p>
						<input type="radio" id="q36_c" name="q36" value="0">
						<label for="q36_c">26</label>
					</p>
					<p>
						<input type="radio" id="q36_d" name="q36" value="1">
						<label for="q36_d">10</label>
					</p> 

					<div class="HeaderbannerLabel">SECTION D</div>

					<h3>(37) 17 + (&minus;8) &minus; (&minus;8) = <span class="icon"><i class="far fa-square"></i></span> </h3>
					<p>
						<input type="radio" id="q37_a" name="q37" value="0">
						<label for="q37_a">1</label>
					</p>
					<p>
						<input type="radio" id="q37_b" name="q37" value="1">
						<label for="q37_b">17</label>
					</p>
					<p>
						<input type="radio" id="q37_c" name="q37" value="0">
						<label for="q37_c">&minus;16</label>
					</p>
					<p>
						<input type="radio" id="q37_d" name="q37" value="0">
						<label for="q37_d">33</label>
					</p> 

					<h3>(38) 
						&minus;<span class="frac"><sup>3</sup><span>/</span><sub>5</sub></span> +
						(&minus;<span class="frac"><sup>8</sup><span>/</span><sub>2</sub></span>) =
						<span class="icon"><i class="far fa-square"></i></span>
					</h3>
					<p>
						<input type="radio" id="q38_a" name="q38" value="0">
						<label for="q38_a">
								&minus;8<span class="frac"><sup>3</sup><span>/</span><sub>5</sub></span>							
						</label>
					</p>
					<p>
						<input type="radio" id="q38_b" name="q38" value="1">
						<label for="q38_b">
							&minus;4<span class="frac"><sup>3</sup><span>/</span><sub>5</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q38_c" name="q38" value="0">
						<label for="q38_c">
							&minus;4<span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q38_d" name="q38" value="0">
						<label for="q38_d">
								&minus;<span class="frac"><sup>11</sup><span>/</span><sub>7</sub></span>
						</label>
					</p>


					<h3>(39) |&minus;2.6 &minus; (&minus;1)| = <span class="icon"><i class="far fa-square"></i></span> </h3>
					<p>
						<input type="radio" id="q39_a" name="q39" value="0">
						<label for="q39_a">&minus;3.6</label>
					</p>
					<p>
						<input type="radio" id="q39_b" name="q39" value="0">
						<label for="q39_b">&minus;1.6</label>
					</p>
					<p>
						<input type="radio" id="q39_c" name="q39" value="0">
						<label for="q39_c">3.6</label>
					</p>
					<p>
						<input type="radio" id="q39_d" name="q39" value="1">
						<label for="q39_d">1.6</label>
					</p> 

					<h3>(40) &minus;16 = 8 + s </h3>
					<span>Find the value of s</span>
					<p>
						<input type="radio" id="q40_a" name="q40" value="0">
						<label for="q40_a">2</label>
					</p>
					<p>
						
						<input type="radio" id="q40_b" name="q40" value="0">
						<label for="q40_b">128</label>
					</p>
					<p>
						<input type="radio" id="q40_c" name="q40" value="0">
						<label for="q40_c">&minus;8</label>
					</p>
					<p>
						<input type="radio" id="q40_d" name="q40" value="1">
						<label for="q40_d">&minus;24</label>
					</p> 

					
					<h3>(41) 
						1<span class="frac"><sup>2</sup><span>/</span><sub>7</sub></span> &divide;
						(&minus;2<span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span>) =
						<span class="icon"><i class="far fa-square"></i></span>
					</h3>
					<p>
						<input type="radio" id="q41_a" name="q41" value="0">
						<label for="q41_a">
								&minus;3<span class="frac"><sup>3</sup><span>/</span><sub>11</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q41_b" name="q41" value="0">
						<label for="q41_b">
							&minus;<span class="frac"><sup>3</sup><span>/</span><sub>7</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q41_c" name="q41" value="1">
						<label for="q41_c">
							&minus;<span class="frac"><sup>4</sup><span>/</span><sub>7</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q41_d" name="q41" value="0">
						<label for="q41_d">							
							&minus;4<span class="frac"><sup>4</sup><span>/</span><sub>7</sub></span>
						</label>
					</p>
				
					<h3>(42) 1 &times; (&minus;4 + (&minus;8)) = <span class="icon"><i class="far fa-square"></i></span></h3>
					<p>
						<input type="radio" id="q42_a" name="q42" value="0">
						<label for="q42_a">&minus;4</label>
					</p>
					<p>
						<input type="radio" id="q42_b" name="q42" value="0">
						<label for="q42_b">&minus;8</label>
					</p>
					<p>
						<input type="radio" id="q42_c" name="q42" value="0">
						<label for="q42_c">24</label>
					</p>
					<p>
						<input type="radio" id="q42_d" name="q42" value="1">
						<label for="q42_d">&minus;12</label>
					</p> 	
					
					<h3>(43) Find the value of k</h3>
					<span>
						<span class="frac">
								<sup>3</sup><span>/</span>
								<sub>k</sub>
							</span> =
						<span class="frac"><sup>4</sup><span>/</span><sub>5</sub></span>				
					</span>
					<p>
						<input type="radio" id="q43_a" name="q43" value="0">
						<label for="q43_a">
							2<span class="frac"><sup>2</sup><span>/</span><sub>5</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q43_b" name="q43" value="0">
						<label for="q43_b">
							2<span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q43_c" name="q43" value="0">
						<label for="q43_c">
							<span class="frac"><sup>7</sup><span>/</span><sub>5</sub></span>
						</label>
					</p>
					<p>
						<input type="radio" id="q43_d" name="q43" value="1">
						<label for="q43_d">
							3<span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>
						</label>
					</p> 

					
					<h3>(44) 250 &minus; 150x = <span class="icon"><i class="far fa-square"></i></span>(5 &minus; 3x)</h3>
					<span>Apply the distributive property to factor out the highest common factor.</span>
					<p>
						<input type="radio" id="q44_a" name="q44" value="0">
						<label for="q44_a">100</label>
					</p>
					<p>
						<input type="radio" id="q44_b" name="q44" value="0">
						<label for="q44_b">250</label>
					</p>
					<p>
						<input type="radio" id="q44_c" name="q44" value="0">
						<label for="q44_c">150</label>
					</p>
					<p>
						<input type="radio" id="q44_d" name="q44" value="1">
						<label for="q44_d">50</label>
					</p> 

					
					<h3>(45) 2(t + 1)= 10</h3>
					<span>Find the value of t</span>
					<p>
						<input type="radio" id="q45_a" name="q45" value="1">
						<label for="q45_a">4</label>
					</p>
					<p>
						<input type="radio" id="q45_b" name="q45" value="0">
						<label for="q45_b">5</label>
					</p>
					<p>
						<input type="radio" id="q45_c" name="q45" value="0">
						<label for="q45_c">8</label>
					</p>
					<p>
						<input type="radio" id="q45_d" name="q45" value="0">
						<label for="q45_d">12</label>
					</p> 
					
					<h3>(46) Find the diameter of a circle with radius 11</h3>
					<p>
						<input type="radio" id="q46_a" name="q46" value="0">
						<label for="q46_a">11</label>
					</p>
					<p>
						<input type="radio" id="q46_b" name="q46" value="1">
						<label for="q46_b">22</label>
					</p>
					<p>
						<input type="radio" id="q46_c" name="q46" value="0">
						<label for="q46_c">20</label>
					</p>
					<p>
						<input type="radio" id="q46_d" name="q46" value="0">
						<label for="q46_d">44</label>
					</p> 

					<h3>(47) 12 aliens landed in our city. Some aliens were on the first spaceship. The remaining 7 aliens were on the second spaceship.</h3>
					<span>How many aliens were on the first spaceship?</span>
					<p>
						<input type="radio" id="q47_a" name="q47" value="1">
						<label for="q47_a">5</label>
					</p>
					<p>
						<input type="radio" id="q47_b" name="q47" value="0">
						<label for="q47_b">6</label>
					</p>
					<p>
						<input type="radio" id="q47_c" name="q47" value="0">
						<label for="q47_c">12</label>
					</p>
					<p>
						<input type="radio" id="q47_d" name="q47" value="0">
						<label for="q47_d">17</label>
					</p> 

					<h3>(48) Which shape has more sides?</h3>
					<div class="full" style="display:flex;">
						<div class="uneven_imgs" style="width: 276px;">
							<div><img src="images/alp_comp_2/question64_a.png" class="displayed center-block"/></div>
							<p>
								<input type="radio" id="q48_a" name="q48" value="0">
								<label for="q48_a">A</label>
							</p>
						</div>
							
						<div class="uneven_imgs" style="width: 276px;">
							<div><img src="images/alp_comp_2/question64_b.png" class="displayed center-block"/></div>
							<p>
								<input type="radio" id="q48_b" name="q48" value="1">
								<label for="q48_b">B</label>
							</p>
						</div>
					</div>
				 

					<h3>(49) How many pieces of cheese did Samuel eat?</h3>
					<div><img src="images/alp_comp_2/question65.png" alt="image missing" class="img-responsive"/></div>
					<p>
						<input type="radio" id="q49_a" name="q49" value="0">
						<label for="q49_a">1</label>
					</p>
					<p>
						<input type="radio" id="q49_b" name="q49" value="0">
						<label for="q49_b">2</label>
					</p>
					<p>
						<input type="radio" id="q49_c" name="q49" value="0">
						<label for="q49_c">3</label>
					</p>
					<p>
						<input type="radio" id="q49_d" name="q49" value="1">
						<label for="q49_d">4</label>
					</p> 

					<h3>(50) How has the rectangle been divided?</h3>
					<div><img src="images/alp_comp_2/question66.png" alt="image missing" class="img-responsive"/></div>
					<p>
						<input type="radio" id="q50_a" name="q50" value="1">
						<label for="q50_a">Thirds</label>
					</p>
					<p>
						<input type="radio" id="q50_b" name="q50" value="0">
						<label for="q50_b">Fourths</label>
					</p>
					<p>
						<input type="radio" id="q50_c" name="q50" value="0">
						<label for="q50_c">Halves</label>
					</p>
					<p>
						<input type="radio" id="q50_d" name="q50" value="0">
						<label for="q50_d">None of the above</label>
					</p>

					<div class="HeaderbannerLabel">CREDENTIALS</div>
					<!-- TODO: Add text input fields for user_id, coach_email -->
					<!-- Input fiels for user_id contains some js code for validation -->
						<label for="username" style="color: #000;font-size: 20px;line-height: 135%;width: 100%;">Student ID</label>
					<input type="text" autocomplete="off" id="user_id" name="username" ng-model="test_response.username" whitelist style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
					<span class="password-error" ng-show="testForm2.$dirty && testForm2.username.$error.whitelist">Please enter a valid Student ID</span>
					<input type="hidden" name="test" value="alp_comp_2">
					<input type="hidden" name="module" value="numeracy">
					<br><br>
					<label for="coach_id" style="color: #000;font-size: 20px;line-height: 135%;width: 100%;">Coach ID</label>
					<input type="text" name="coach_id" ng-model="test_response.coach_id" ng-maxlength="5" placeholder="e.g MM003" style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">	
					<span class="password-error" ng-show="testForm2.coach_id.$error.maxlength">Please enter a valid Coach ID</span>

					<!-- Submit button disabled if form is invalid -->
					<!-- <input type="submit" value="submit" ng-disabled="testForm2.$invalid"> -->
						
					<br><br>
					<button type="submit" value="Submit" ng-disabled="testForm2.$invalid" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button>
				</form>
			     </div>
			  </div>
			</div>
		</div>
	</div>
</section>
<footer class="container-fluid">
	<div class="row">
		<div class="container">
			<div class="row">
			
	        </div>
	   </div>
   </div>
</footer>
</body>
</html>
