<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
    <title>Alpha Sectional Test D 2</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="pmodule/angular.min.js"></script>
    <script src="pmodule/angular-animate.js"></script>
    <script src="pmodule/angular-sanitize.js"></script>
    <script src="pmodule/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">
    <style>
    .HeaderbannerLabel {
        background-color: rgb(0, 159, 21);
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        font-weight: 500;
        padding-left: 34px;
        margin-left: -30px;
        font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        padding: 8px 8px 8px 42px;
        margin-top: 30px;
        margin-bottom: 25px;
        width: 30%;
    }

    .ins {
        color: #212121;
        font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        line-height: 135%;
        margin-top: 22px;
        white-space: pre-wrap;
    }

    h3 {
        font-weight: normal;
    }

    img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .box {
        display: inline-block;
        background-color: none;
        vertical-align: middle
    }

    span.frac {
        display: inline-block;
        font-size: 75%;
        text-align: center;
        vertical-align: middle
    }

    span.frac>sup {
        display: block;
        border-bottom: 1px solid;
        font: inherit;
    }

    span.frac>span {
        display: none;
    }

    span.icon>span {
        display: inline-block;
        font-size: 1.1em
    }

    span.frac>sub {
        display: block;
        font: inherit;
    }
    </style>
</head>

<body ng-controller="ModalDemoCtrl as ctrl" style="background-color: rgb(179, 255, 179); font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <!-- TODO: Add inline script for passowrd modal -->
    <!-- Password modal -->
    <script type="text/ng-template" id="testModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">The Coach should enter the password</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <label class="item item-input">
                <input ng-model="password" type="password" class="form-control" id="passwordInput" required>
            </label>
            <p class="password-error" ng-show="wrongPassword==true">Sorry, that is not the correct password. Please try again</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="$ctrl.checkPassword(password)">OK</button>
            <button class="btn btn-danger" type="button">Cancel</button>
        </div>
    </script>
    <!-- TODO: Add tag to instantiate modal when page opens -->
    <span ng-init=ctrl.openModal()></span>
    <section class="container-fluid" style="margin: auto; width: 640px !important; background-color: white;">
        <div class="row">
            <div class="container page">
                <div class="row">
                    <div class="pd-tb">
                        <div class="pd-lr">
                            <p style="box-sizing: border-box; font-size: 34px; line-height: 135%; max-width: 100%; min-width: 0%;">Alpha Sectional Test D 2</p>
                            <p style="font-size: 13px;line-height: 135%;margin-top: 22px;white-space: pre-wrap;">TIME ALLOWED: 1 HOUR 30 MINUTES</p>
                            <div style="color:rgb(219, 68, 55);font-size: 13px;margin-top: 22px;"></div>
                            <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                            <div class="ins">Calculators are NOT allowed
                                <br>Ask your coach if you are not sure how to answer the questions</div>
                            <div class="HeaderbannerLabel">Answer all questions</div>
                            <h3>(1) &minus;2 + 3 =<span class="icon"><i class="far fa-square"></i></span></h3>
                            <!-- TODO: Add form name,action and method -->
                            <!-- <form name="testForm" action="/submit_test" method="post"> -->
                            <form action="/submit_test" name="testForm2" method="post">
                                <p>
                                    <!-- TODO: Add value attribute to each radio button -->
                                    <!-- Each group of radio buttons with the same name corresponds to one question -->
                                    <!-- Wrong answers are 0, correct answer is 1 -->
                                    <!-- Example below -->
                                    <!-- <input type="radio" id="test1" name="q1" value="0"> -->
                                    <input type="radio" id="q1_a" name="q1" value="0">
                                    <label for="q1_a">4</label>
                                </p>
                                <p>
                                    <input type="radio" id="q1_b" name="q1" value="0">
                                    <label for="q1_b">2</label>
                                </p>
                                <p>
                                    <input type="radio" id="q1_c" name="q1" value="1">
                                    <label for="q1_c">1</label>
                                </p>
                                <p>
                                    <input type="radio" id="q1_d" name="q1" value="0">
                                    <label for="q1_d">3</label>
                                </p>
                                <h3>(2)	&minus;1 &minus; 3 &minus; (&minus;9) + (&minus;5) = <span class="icon"><i class="far fa-square"></i></span></span>
						</h3>
                                <p>
                                    <input type="radio" id="q2_a" name="q2" value="1">
                                    <label for="q2_a">0</label>
                                </p>
                                <p>
                                    <input type="radio" id="q2_b" name="q2" value="0">
                                    <label for="q2_b">1</label>
                                </p>
                                <p>
                                    <input type="radio" id="q2_c" name="q2" value="0">
                                    <label for="q2_c">3</label>
                                </p>
                                <p>
                                    <input type="radio" id="q2_d" name="q2" value="0">
                                    <label for="q2_d">5</label>
                                </p>
                                <h3>(3)
							<span class="frac"><sup>13</sup><span>/</span><sub>4</sub></span> +
							<span class="frac"><sup>7</sup><span>/</span><sub>2</sub></span> =
							<span class="icon"><i class="far fa-square"></i></span>
	        		</h3>
                                <p>
                                    <input type="radio" id="q3_a" name="q3" value="0">
                                    <label for="q3_a">
                                        <span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q3_b" name="q3" value="0">
                                    <label for="q3_b">
                                        <span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q3_c" name="q3" value="1">
                                    <label for="q3_c">
                                        6<span class="frac"><sup>3/sup><span>/</span><sub>4</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q3_d" name="q3" value="0">
                                    <label for="q3_d">
                                        2<span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>
                                    </label>
                                </p>
                                <h3>(4)	|4 &minus; (&minus;2.5)|  =  <span class="icon"><i class="far fa-square"></i></span></h3>
                                <p>
                                    <input type="radio" id="q4_a" name="q4" value="0">
                                    <label for="q4_a">0.065</label>
                                </p>
                                <p>
                                    <input type="radio" id="q4_b" name="q4" value="0">
                                    <label for="q4_b">0.65</label>
                                </p>
                                <p>
                                    <input type="radio" id="q4_c" name="q4" value="1">
                                    <label for="q4_c">6.5</label>
                                </p>
                                <p>
                                    <input type="radio" id="q4_d" name="q4" value="0">
                                    <label for="q4_d">65</label>
                                </p>
                                <h3>(5) 11 = p + 6 </h3>
                                <span>Find the value of p</span>
                                <p>
                                    <input type="radio" id="q5_a" name="q5" value="0">
                                    <label for="q5_a">17</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_b" name="q5" value="1">
                                    <label for="q5_b">&minus;17</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_c" name="q5" value="0">
                                    <label for="q5_c">17p</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_d" name="q5" value="0">
                                    <label for="q5_d">&minus;17p</label>
                                </p>
                                <h3>(6) What is the sign of the expression below?</h3>
                                <span>
								&minus;x<sup>3</sup> .
								(<span class="frac"><sup>0</sup><span>/</span><sub>y</sub></span>) when x and y are negative numbers?
                                </span>
                                <p>
                                    <input type="radio" id="q6_a" name="q6" value="0">
                                    <label for="q6_a">Postive</label>
                                </p>
                                <p>
                                    <input type="radio" id="q6_b" name="q6" value="0">
                                    <label for="q6_b">Negative</label>
                                </p>
                                <p>
                                    <input type="radio" id="q6_c" name="q6" value="1">
                                    <label for="q6_c">Zero</label>
                                </p>
                                <p>
                                    <input type="radio" id="q6_d" name="q6" value="0">
                                    <label for="q6_d">None</label>
                                </p>
                                <h3>(7) 
								&minus;<span class="frac"><sup>4</sup><span>/</span><sub>5</sub></span> &times;
								(&minus;<span class="frac"><sup>7</sup><span>/</span><sub>6</sub></span>) =
								<span class="icon"><i class="far fa-square"></i></span>
						</h3>
                                <p>
                                    <input type="radio" id="q7_a" name="q7" value="0">
                                    <label for="q7_a">
                                        <span class="frac"><sup>1</sup><span>/</span><sub>14</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q7_b" name="q7" value="0">
                                    <label for="q7_b">
                                        <span class="frac"><sup>1</sup><span>/</span><sub>15</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q7_c" name="q7" value="1">
                                    <label for="q7_c">
                                        <span class="frac"><sup>14</sup><span>/</span><sub>15</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q7_d" name="q7" value="0">
                                    <label for="q7_d">
                                        <span class="frac"><sup>15</sup><span>/</span><sub>14</sub></span>
                                    </label>
                                </p>
                                <h3>(8) 
								&minus;<span class="frac"><sup>5</sup><span>/</span><sub>8</sub></span> &divide;
								1<span class="frac"><sup>3</sup><span>/</span><sub>7</sub></span> =
								<span class="icon"><i class="far fa-square"></i></span>
						</h3>
                                <p>
                                    <input type="radio" id="q8_a" name="q8" value="0">
                                    <label for="q8_a">
                                        <span class="frac"><sup>1</sup><span>/</span><sub>7</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q8_b" name="q8" value="0">
                                    <label for="q8_b">
                                        <span class="frac"><sup>7</sup><span>/</span><sub>8</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q8_c" name="q8" value="1">
                                    <label for="q8_c">
                                        &minus;<span class="frac"><sup>7</sup><span>/</span><sub>16</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q8_d" name="q8" value="0">
                                    <label for="q8_d">
                                        7<span class="frac"><sup>7</sup><span>/</span><sub>8</sub></span>
                                    </label>
                                </p>
                                <h3>(9) (&minus;11)<sup>2</sup> = <span class="icon"><i class="far fa-square"></i></span></h3>
                                <p>
                                    <input type="radio" id="q9_a" name="q9" value="0">
                                    <label for="q9_a">22</label>
                                </p>
                                <p>
                                    <input type="radio" id="q9_b" name="q9" value="1">
                                    <label for="q9_b">121</label>
                                </p>
                                <p>
                                    <input type="radio" id="q9_c" name="q9" value="0">
                                    <label for="q9_c">&minus;121</label>
                                </p>
                                <p>
                                    <input type="radio" id="q9_d" name="q9" value="0">
                                    <label for="q9_d">111</label>
                                </p>
                                <h3>(10) (&minus;2<span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>)<sup>2</sup> = <span class="icon"><i class="far fa-square"></i></span></h3>
                                <p>
                                    <input type="radio" id="q10_a" name="q10" value="0">
                                    <label for="q10_a">
                                        <span class="frac"><sup>1</sup><span>/</span><sub>16</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q10_b" name="q10" value="1">
                                    <label for="q10_b">
                                        <span class="frac"><sup>121</sup><span>/</span><sub>16</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q10_c" name="q10" value="0">
                                    <label for="q10_c">
                                        2<span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q10_d" name="q10" value="0">
                                    <label for="q10_d">
                                        2<span class="frac"><sup>7</sup><span>/</span><sub>16</sub></span>
                                    </label>
                                </p>
                                <h3>(11) (&minus;5 + 7 &times; 1) + 9 &times; 5 = <span class="icon"><i class="far fa-square"></i></span> </h3>
                                <p>
                                    <input type="radio" id="q11_a" name="q11" value="1">
                                    <label for="q11_a">43</label>
                                </p>
                                <p>
                                    <input type="radio" id="q11_b" name="q11" value="0">
                                    <label for="q11_b">0</label>
                                </p>
                                <p>
                                    <input type="radio" id="q11_c" name="q11" value="0">
                                    <label for="q11_c">&minus;43</label>
                                </p>
                                <p>
                                    <input type="radio" id="q11_d" name="q11" value="0">
                                    <label for="q11_d">1</label>
                                </p>
                                <h3>(12) &minus;160&percnt; + 0.1 + 25&percnt;  =	<span class="icon"><i class="far fa-square"></i></span> </h3>
                                <p>
                                    <input type="radio" id="q12_a" name="q12" value="0">
                                    <label for="q12_a">1.25</label>
                                </p>
                                <p>
                                    <input type="radio" id="q12_b" name="q12" value="1">
                                    <label for="q12_b">&minus;1.25</label>
                                </p>
                                <p>
                                    <input type="radio" id="q12_c" name="q12" value="0">
                                    <label for="q12_c">12.5</label>
                                </p>
                                <p>
                                    <input type="radio" id="q12_d" name="q12" value="0">
                                    <label for="q12_d">12</label>
                                </p>
                                <h3>(13)
							<span class="frac"><sup>r</sup><span>/</span><sub>5</sub></span> =
							<span class="frac"><sup>4</sup><span>/</span><sub>7</sub></span>
						</h3>
                                <p>
                                    <input type="radio" id="q13_a" name="q13" value="0">
                                    <label for="q13_a">
                                        <span class="frac"><sup>4</sup><span>/</span><sub>35</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q13_b" name="q13" value="0">
                                    <label for="q13_b">
                                        <span class="frac"><sup>7</sup><span>/</span><sub>20</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q13_c" name="q13" value="1">
                                    <label for="q13_c">
                                        2<span class="frac"><sup>6</sup><span>/</span><sub>7</sub></span>
                                    </label>
                                </p>
                                <p>
                                    <input type="radio" id="q13_d" name="q13" value="0">
                                    <label for="q13_d">
                                        <span class="frac"><sup>1</sup><span>/</span><sub>3</sub></span>
                                    </label>
                                </p>
                                <h3>(14)  24 + 32p = <span class="icon"></span><i class="far fa-square"></i></span></h3>
                                <span>Find the greatest common factor using the distributive property.</span>
                                <p>
                                    <input type="radio" id="q14_a" name="q14" value="0">
                                    <label for="q14_a">56p</label>
                                </p>
                                <p>
                                    <input type="radio" id="q14_b" name="q14" value="0">
                                    <label for="q14_b">24(32p)</label>
                                </p>
                                <p>
                                    <input type="radio" id="q14_c" name="q14" value="1">
                                    <label for="q14_c">8(3 + 4p)</label>
                                </p>
                                <p>
                                    <input type="radio" id="q14_d" name="q14" value="0">
                                    <label for="q14_d">(24 + 32p)</label>
                                </p>
                                <h3>(15) 24 = 3(n &minus; 5) </h3>
                                <span>Find the value of n.</span>
                                <p>
                                    <input type="radio" id="q15_a" name="q15" value="0">
                                    <label for="q15_a">12</label>
                                </p>
                                <p>
                                    <input type="radio" id="q15_b" name="q15" value="1">
                                    <label for="q15_b">13</label>
                                </p>
                                <p>
                                    <input type="radio" id="q15_c" name="q15" value="0">
                                    <label for="q15_c">24</label>
                                </p>
                                <p>
                                    <input type="radio" id="q15_d" name="q15" value="0">
                                    <label for="q15_d">72</label>
                                </p>
                                <h3>(16)  Find the diameter of a cicle with radius 12.</h3>
                                </h3>
                                <p>
                                    <input type="radio" id="q16_a" name="q16" value="0">
                                    <label for="q16_a">12</label>
                                </p>
                                <p>
                                    <input type="radio" id="q16_b" name="q16" value="0">
                                    <label for="q16_b">16</label>
                                </p>
                                <p>
                                    <input type="radio" id="q16_c" name="q16" value="0">
                                    <label for="q16_c">20</label>
                                </p>
                                <p>
                                    <input type="radio" id="q16_d" name="q16" value="1">
                                    <label for="q16_d">24</label>
                                </p>
                                <h3>(17) Find the diameter of a circle with a circumference of 30.</h3>
                                <span> = 3</span>
                                <p>
                                    <input type="radio" id="q17_a" name="q17" value="0">
                                    <label for="q17_a">5</label>
                                </p>
                                <p>
                                    <input type="radio" id="q17_b" name="q17" value="1">
                                    <label for="q17_b">10</label>
                                </p>
                                <p>
                                    <input type="radio" id="q17_c" name="q17" value="0">
                                    <label for="q17_c">20</label>
                                </p>
                                <p>
                                    <input type="radio" id="q17_d" name="q17" value="0">
                                    <label for="q17_d">30</label>
                                </p>
                                <h3>(18)  A circle has a diameter of 8, find its area.</h3>
                                <span>&pi; = 3</span>
                                <p>
                                    <input type="radio" id="q18_a" name="q18" value="1">
                                    <label for="q18_a">48</label>
                                </p>
                                <p>
                                    <input type="radio" id="q18_b" name="q18" value="0">
                                    <label for="q18_b">96</label>
                                </p>
                                <p>
                                    <input type="radio" id="q18_c" name="q18" value="0">
                                    <label for="q18_c">146</label>
                                </p>
                                <p>
                                    <input type="radio" id="q18_d" name="q18" value="0">
                                    <label for="q18_d">148</label>
                                </p>
                                <h3>(19) Find the value of x.</h3>
                                <span> x = <span class="icon"></span><i class="far fa-square"></i></span><sup>&deg;</sup></span>
                                <span><div><img src="images/alp_sec_d2/question19.jpg" alt="image missing" class="img-responsive"/></div></span>
                                <p>
                                    <input type="radio" id="q19_a" name="q19" value="0">
                                    <label for="q19_a">3</label>
                                </p>
                                <p>
                                    <input type="radio" id="q19_b" name="q19" value="0">
                                    <label for="q19_b">5</label>
                                </p>
                                <p>
                                    <input type="radio" id="q19_c" name="q19" value="0">
                                    <label for="q19_c">10</label>
                                </p>
                                <p>
                                    <input type="radio" id="q19_d" name="q19" value="1">
                                    <label for="q19_d">15</label>
                                </p>
                                <h3>(20)  Which shape does the intersection of the horizontal plane with a square pyramid look like?</h3>
                                <span><div><img src="images/alp_sec_d2/question20.jpg" alt="image missing" class="img-responsive"/></div></span>
                                <div class="full" style="display:flex;">
                                    <div class="half" style="width: 276px;">
                                        <div><img src="images/alp_sec_d2/question20_a.jpg" class="displayed center-block" /></div>
                                        <p>
                                            <input type="radio" id="q20_a" name="q20" value="0">
                                            <label for="q20_a">A</label>
                                        </p>
                                    </div>
                                    <div class="half" style="width: 276px;">
                                        <div><img src="images/alp_sec_d2/question20_b.jpg" class="displayed center-block" /></div>
                                        <p>
                                            <input type="radio" id="q20_b" name="q20" value="0">
                                            <label for="q20_b">B</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="half">
                                    <div><img src="images/alp_sec_d2/question20_b.jpg" class="displayed center-block" /></div>
                                    <p>
                                        <input type="radio" id="q20_c" name="q20" value="1">
                                        <label for="q20_c">C</label>
                                    </p>
                                </div>
                                <div class="half">
                                    <div><img src="images/alp_sec_d2/question20_d.jpg" class="displayed center-block" /></div>
                                    <p>
                                        <input type="radio" id="q20_d" name="q20" value="0">
                                        <label for="q20_d">D</label>
                                    </p>
                                </div>
                                <h3>(21)  Find the value of x</h3>
                                <span> x = <span class="icon"></span><i class="far fa-square"></i></span> units</span>
                                <span><div><img src="images/alp_sec_d2/question21_a.jpg" alt="image missing" class="img-responsive"/></div></span>
                                <p>
                                    <input type="radio" id="q21_a" name="q21" value="0">
                                    <label for="q21_a">5</label>
                                </p>
                                <p>
                                    <input type="radio" id="q21_b" name="q21" value="0">
                                    <label for="q21_b">10</label>
                                </p>
                                <p>
                                    <input type="radio" id="q21_c" name="q21" value="0">
                                    <label for="q21_c">15</label>
                                </p>
                                <p>
                                    <input type="radio" id="q21_d" name="q21" value="1">
                                    <label for="q21_d">20</label>
                                </p>
                                <h3>(22)  The great magician pulled some rabbits out of his hat. Then he pulled out 6 doves. He pulled 19 animals out of his hat.</h3>
                                <span>How many rabbits did he pull out of his hat?</span>
                                <p>
                                    <input type="radio" id="q22_a" name="q22" value="0">
                                    <label for="q22_a">7</label>
                                </p>
                                <p>
                                    <input type="radio" id="q22_b" name="q22" value="0">
                                    <label for="q22_b">11</label>
                                </p>
                                <p>
                                    <input type="radio" id="q22_c" name="q22" value="1">
                                    <label for="q22_c">13</label>
                                </p>
                                <p>
                                    <input type="radio" id="q22_d" name="q22" value="0">
                                    <label for="q22_d">15</label>
                                </p>
                                <h3>(23)  Which shape has more sides?</h3>
                                <div class="full" style="display:flex;">
                                    <div class="uneven_imgs" style="width: 276px;">
                                        <div><img src="images/alp_sec_d2/question23_a.png" class="displayed center-block" /></div>
                                        <p>
                                            <input type="radio" id="q23_a" name="q23" value="1">
                                            <label for="q23_a">A</label>
                                        </p>
                                    </div>
                                    <div class="uneven_imgs" style="width: 276px;">
                                        <div><img src="images/alp_sec_d2/question23_b.png" class="displayed center-block" /></div>
                                        <p>
                                            <input type="radio" id="q23_b" name="q23" value="0">
                                            <label for="q23_b">B</label>
                                        </p>
                                    </div>
                                </div>
                                <h3>(24)   How many nuts are there in total?</h3>
                                <span><div><img src="images/alp_sec_d2/question24.png" alt="image missing" class="img-responsive"/></div></span>
                                <p>
                                    <input type="radio" id="q24_a" name="q24" value="0">
                                    <label for="q24_a">5</label>
                                </p>
                                <p>
                                    <input type="radio" id="q24_b" name="q24" value="0">
                                    <label for="q24_b">7</label>
                                </p>
                                <p>
                                    <input type="radio" id="q24_c" name="q24" value="0">
                                    <label for="q24_c">9</label>
                                </p>
                                <p>
                                    <input type="radio" id="q24_d" name="q24" value="1">
                                    <label for="q24_d">11</label>
                                </p>
                                <h3>(25)  How many fewer mermaids are on the island than the beach?</h3>
                                <span><div><img src="images/alp_sec_d2/question25.png" alt="image missing" class="img-responsive"/></div></span>
                                <p>
                                    <input type="radio" id="q25_a" name="q25" value="0">
                                    <label for="q25_a">0</label>
                                </p>
                                <p>
                                    <input type="radio" id="q25_b" name="q25" value="0">
                                    <label for="q25_b">2</label>
                                </p>
                                <p>
                                    <input type="radio" id="q25_c" name="q25" value="0">
                                    <label for="q25_c">4</label>
                                </p>
                                <p>
                                    <input type="radio" id="q25_d" name="q25" value="1">
                                    <label for="q25_d">8</label>
                                </p>
                                <h3>(26)  Which circles are divided in to thirds?</h3>
                                <div class="full" style="display:flex;">
                                    <div class="uneven_imgs" style="width: 276px;">
                                        <div><img src="images/alp_sec_d2/question26_a.png" class="displayed center-block" /></div>
                                        <p>
                                            <input type="radio" id="q26_a" name="q26" value="1">
                                            <label for="q26_a">A</label>
                                        </p>
                                    </div>
                                    <div class="uneven_imgs" style="width: 276px;">
                                        <div><img src="images/alp_sec_d2/question26_b.png" class="displayed center-block" /></div>
                                        <p>
                                            <input type="radio" id="q26_b" name="q26" value="0">
                                            <label for="q26_b">B</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="uneven_imgs" style="width: 276px;">
                                    <div><img src="images/alp_sec_d2/question26_a.png" class="displayed center-block" /></div>
                                    <p>
                                        <input type="radio" id="q26_c" name="q26" value="0">
                                        <label for="q26_c">C</label>
                                    </p>
                                </div>
                        
                        <div class="HeaderbannerLabel">CREDENTIALS</div>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Input fiels for user_id contains some js code for validation -->
                        <label for="username" style="color: #000;font-size: 20px;line-height: 135%;width: 100%;">Student ID</label>
                        <input type="text" autocomplete="off" id="user_id" name="username" ng-model="test_response.username" whitelist style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                        <span class="password-error" ng-show="testForm2.$dirty && testForm2.username.$error.whitelist">Please enter a valid Student ID</span>
                        <input type="hidden" name="test" value="alp_sec_d2">
                        <input type="hidden" name="module" value="numeracy">
                        <br>
                        <br>
                        <label for="coach_id" style="color: #000;font-size: 20px;line-height: 135%;width: 100%;">Coach ID</label>
                        <input type="text" name="coach_id" ng-model="test_response.coach_id" ng-maxlength="5" placeholder="e.g MM003" style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                        <span class="password-error" ng-show="testForm2.coach_id.$error.maxlength">Please enter a valid Coach ID</span>
                        <!-- Submit button disabled if form is invalid -->
                        <!-- <input type="submit" value="submit" ng-disabled="testForm2.$invalid"> -->
                        <br>
                        <br>
                        <button type="submit" value="Submit" ng-disabled="testForm2.$invalid" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <footer class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
