<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">
<head>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<title>Alpha Sectional Test A 1</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Desun Technology">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!--Custom Css-->
<link rel="stylesheet" href="css/custom.css">
<!--Fonts-->
<!-- TODO : please ensure that all fonts and libraries are offline -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="css/fontawesome-all.min.css" rel="stylesheet">
<!--Js-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- TODO: Include password modal js below -->
<!-- password modal js -->
<script src="pmodule/angular.min.js"></script>
<script src="pmodule/angular-animate.js"></script>
<script src="pmodule/angular-sanitize.js"></script>
<script src="pmodule/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="pmodule/app.js"></script>
<link rel="stylesheet" href="pmodule/password_modal.css">

<style>
.HeaderbannerLabel {
    background-color: rgb(0, 159, 21);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-left: 34px;
    margin-left: -30px;
    font: 400 16px/24px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 8px 8px 8px 42px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 30%;
}
.ins {
    color: #212121;
    font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: 135%;
    margin-top: 22px;
    white-space: pre-wrap;
}
h3 {
    font-weight: normal;
}
.box {	display: inline-block;
	background-color: none; 
	vertical-align: middle}
span.frac {  display: inline-block;  font-size: 75%;  text-align: center; vertical-align: middle}
span.frac > sup {  display: block;  border-bottom: 1px solid;  font: inherit;}
span.frac > span {  display: none;}
span.icon > span {  display: inline-block; font-size: 1.1em}
span.frac > sub {  display: block;  font: inherit;}
</style>
</head>
<body ng-controller="ModalDemoCtrl as ctrl" style="background-color: rgb(179, 255, 179); font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
	<!-- TODO: Add inline script for passowrd modal -->
	<!-- Password modal -->
    <script type="text/ng-template" id="testModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">The Coach should enter the password</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <label class="item item-input">
                <input ng-model="password" type="password" class="form-control" id="passwordInput" required>
            </label>
            <p class="password-error" ng-show="wrongPassword==true">Sorry, that is not the correct password. Please try again</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="$ctrl.checkPassword(password)">OK</button>
            <button class="btn btn-danger" type="button">Cancel</button>
        </div>
    </script> 


	<!-- TODO: Add tag to instantiate modal when page opens -->
	<span ng-init=ctrl.openModal()></span>
<section class="container-fluid" style="margin: auto; width: 640px !important; background-color: white;">
	<div class="row">
		<div class="container page">
			<div class="row">
			 <div class="pd-tb">
			    <div class="pd-lr"> 
			       <p style="box-sizing: border-box; font-size: 34px; line-height: 135%; max-width: 100%; min-width: 0%;">Alpha Sectional Test A 1</p>
			       <p style="font-size: 13px;line-height: 135%;margin-top: 22px;white-space: pre-wrap;">TIME ALLOWED: 30 MINUTES</p>
			        <div style="color:rgb(219, 68, 55);font-size: 13px;margin-top: 22px;"></div>		
			        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
			        <div class="ins">Calculators are NOT allowed<br>Ask your coach if you are not sure how to answer the questions</div>
                    
				<div class="HeaderbannerLabel">ASSESSMENT</div>				
						<h3>(1) 
							<span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span> &#x3D;
							<span class="frac"><sup>2</sup><span>/</span>
								<sub>
										<span class="icon"><i class="fa fa-square"></i></span>
								</sub>

							</span>
						</h3>
						<!-- TODO: Add form name,action and method --> 
						<!-- <form name="testForm" action="/submit_test" method="post"> -->
						<form action="/submit_test" name="testForm2" method="post">
					  <p>
					  	<!-- TODO: Add value attribute to each radio button -->
					  	<!-- Each group of radio buttons with the same name corresponds to one question -->
					  	<!-- Wrong answers are 0, correct answer is 1 -->
					  	<!-- Example below -->
					    <!-- <input type="radio" id="test1" name="q1" value="0"> -->
					    <input type="radio" id="q1_a" name="q1" value="0">
					    <label for="q1_a">1</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_b" name="q1" value="0">
					    <label for="q1_b">2</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_c" name="q1" value="0">
					    <label for="q1_c">3</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_d" name="q1" value="1">
					    <label for="q1_d">4</label>
						</p>
						
						<h3>(2) 
								<span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span> &#x3D;
								<span class="frac">
									<sup>
											<span class="icon"><i class="fa fa-square"></i></span>
									</sup>
								<span>/</span><sub>12</sub></span>
							</h3>
					  <p>
					    <input type="radio" id="q2_a" name="q2" value="0">
					    <label for="q2_a">2</label>
					  </p>
					  <p>
					    <input type="radio" id="q2_b" name="q2" value="0">
					    <label for="q2_b">4</label>
					  </p>
					  <p>
					    <input type="radio" id="q2_c" name="q2" value="1">
					    <label for="q2_c">8</label>
					  </p>
					  <p>
					    <input type="radio" id="q2_d" name="q2" value="0">
					    <label for="q2_d">12</label>
						</p>
						
						<h3>(3) Find the lowest common denominator. 
								<span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span> and
								<span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span>
						</h3>
						<p>
					    <input type="radio" id="q3_a" name="q3" value="0">
					    <label for="q3_a">6</label>
					  </p>
					  <p>
					    <input type="radio" id="q3_b" name="q3" value="1">
					    <label for="q3_b">12</label>
					  </p>
					  <p>
					    <input type="radio" id="q3_c" name="q3" value="0">
					    <label for="q3_c">18</label>
					  </p>
					  <p>
					    <input type="radio" id="q3_d" name="q3" value="0">
					    <label for="q3_d">24</label>
					  </p>
					  
						<h3>(4)  Fill in the blank with <, > or =.</h3>
						<p>
								<span class="frac"><sup>3</sup><span>/</span><sub>10</sub></span>
								<span class="icon"></span><i class="fa fa-square"></i></span>
								<span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span>
						</p>
					
						<p>
								<input type="radio" id="q4_a" name="q4" value="1">
								<label for="q4_a">></label>
						</p>
						<p>
								<input type="radio" id="q4_b" name="q4" value="0">
								<label for="q4_b"><</label>
						</p>
						<p>
								<input type="radio" id="q4_c" name="q4" value="0">
								<label for="q4_c">=</label>
						</p>
						<p>
								<input type="radio" id="q4_d" name="q4" value="0">
								<label for="q4_d">None of the above</label>
						</p>

					<h3>(5) Solve the expression below.</h3>
					<p>
								7<span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span> -
								5<span class="frac"><sup>5</sup><span>/</span><sub>6</sub></span>
					</p>
					  <p>
					    <input type="radio" id="q5_a" name="q5" value="0">
					    <label for="q5_a">
								<span class="frac"><sup>3</sup><span>/</span><sub>11</sub></span>
							</label>
					  </p>
					  <p>
					    <input type="radio" id="q5_b" name="q5" value="0">
					    <label for="q5_b">
									3<span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span>
							</label>
					  </p>
					  <p>
					    <input type="radio" id="q5_c" name="q5" value="1">
					    <label for="q5_c">
									1<span class="frac"><sup>1</sup><span>/</span><sub>3</sub></span>
							</label>
					  </p>
					  
					  <p>
					    <input type="radio" id="q5_d" name="q5" value="0">
					    <label for="q5_d">
									1<span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span>
							</label>

					  </p>
								<h3>(6) 0.03 <span class="icon"><i class="fa fa-square"></i></span> 0.3</h3>
								<p>
											Fill in the blank with <, > or =.
								</p>
					  <p>
					    <input type="radio" id="q6_a" name="q6" value="0">
					    <label for="q6_a">></label>
					  </p>
					  <p>
					    <input type="radio" id="q6_b" name="q6" value="1">
					    <label for="q6_b"><</label>
					  </p>
					  <p>
					    <input type="radio" id="q6_c" name="q6" value="0">
					    <label for="q6_c">=</label>
					  </p>
					  <p>
					    <input type="radio" id="q6_d" name="q6" value="0">
					    <label for="q6_d">None of the above</label>
					  </p>
					  
					  <h3>(7) Rewrite 0.4 as a fraction</h3>
					   <p>
								<input type="radio" id="q7_a" name="q7" value="1">
								<label for="q7_a">
									<span class="frac"><sup>2</sup><span>/</span><sub>5</sub></span>
								</label>
							</p>
							<p>
								<input type="radio" id="q7_b" name="q7" value="0">
								<label for="q7_b">
										<span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span>
								</label>
							</p>
							<p>
								<input type="radio" id="q7_c" name="q7" value="0">
								<label for="q7_c">
										<span class="frac"><sup>1</sup><span>/</span><sub>3</sub></span>
								</label>
							</p>
							
							<p>
								<input type="radio" id="q7_d" name="q7" value="0">
								<label for="q7_d">
										1<span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span>
								</label>
							</p>
		
						<h3>(8) Fill in the blank with <, > or =.</h3>
						<p>
								0.2 <span class="icon"><i class="fa fa-square"></i></span> <span class="frac"><sup>3</sup><span>/</span><sub>10</sub></span>
						</p>
					  <p>
					    <input type="radio" id="q8_a" name="q8" value="0">
					    <label for="q8_a">></label>
					  </p>
					  <p>
					    <input type="radio" id="q8_b" name="q8" value="1">
					    <label for="q8_b"><</label>
					  </p>
					  <p>
					    <input type="radio" id="q8_c" name="q8" value="0">
					    <label for="q8_c">=</label>
					  </p>
					  <p>
					    <input type="radio" id="q8_d" name="q8" value="0">
					    <label for="q8_d">None of the above</label>
					  </p>
					  
						<h3>(9) Which angle is greater?</h3>						
							<div class="full" style="display:flex;">
									<div class="half" style="width: 276px;">
										<div><img src="images/alp_sec_a1/question9_1.png" class="center-block"/></div>
										<p>
											<input type="radio" id="q9_a" name="q9" value="1">
											<label for="q9_a">a</label>
										</p>
									</div>
									 
									<div class="half" style="width: 276px;">
										<div><img src="images/alp_sec_a1/question9_2.png" class="center-block"/></div>
										<p>
											<input type="radio" id="q9_b" name="q9" value="1">
											<label for="q9_b">b</label>
										</p>
									</div>
							</div>
			 				 
					  <h3>(10) Estimate the angle shown
								<div><img src="images/alp_sec_a1/question10.jpg" alt="image missing" class="img-responsive"/></div>
						</h3>
					  <p>
					    <input type="radio" id="q10_a" name="q10" value="0">
					    <label for="q10_a">45&deg;</label>
					  </p>
					  <p>
					    <input type="radio" id="q10_b" name="q10" value="1">
					    <label for="q10_b">90&deg;</sup></label>
					  </p>
					  <p>
					    <input type="radio" id="q10_c" name="q10" value="0">
					    <label for="q10_c">130&deg;</label>
					  </p>
					  <p>
					    <input type="radio" id="q10_d" name="q10" value="0">
					    <label for="q10_d">180&deg;</sup></label>
					  </p>
					  
					  <h3>(11) Which of the following is a prime number?</h3>
					  <p>
					    <input type="radio" id="q11_a" name="q11" value="0">
					    <label for="q11_a">9</label>
					  </p>
					  <p>
					    <input type="radio" id="q11_b" name="q11" value="1">
					    <label for="q11_b">37</label>
					  </p>
					  <p>
					    <input type="radio" id="q11_c" name="q11" value="0">
					    <label for="q11_c">65</label>
					  </p>
					  <p>
					    <input type="radio" id="q11_d" name="q11" value="1">
					    <label for="q11_d">81</label>
					  </p>
					  
					  <h3>(12)  [20 - 6] ÷ 2 = <span class="icon"><i class="fa fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="q12_a" name="q12" value="0">
					    <label for="q12_a">5</label>
					  </p>
					  <p>
					    <input type="radio" id="q12_b" name="q12" value="1">
					    <label for="q12_b">7</label></label>
					  </p>
					  <p>
					    <input type="radio" id="q12_c" name="q12" value="0">
					    <label for="q12_c">9</label>
					  </p>
					  <p>
					    <input type="radio" id="q12_d" name="q12" value="0">
					    <label for="q12_d">17</label>
					  </p>
					  
					   <div class="HeaderbannerLabel">CREDENTIALS</div>
					   <!-- TODO: Add text input fields for user_id, coach_email -->
					   <!-- Input fiels for user_id contains some js code for validation -->
						 <label for="username" style="color: #000;font-size: 20px;line-height: 135%;width: 100%;">Student ID</label>
					   <input type="text" autocomplete="off" id="user_id" name="username" ng-model="test_response.username" whitelist style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
					   <span class="password-error" ng-show="testForm2.$dirty && testForm2.username.$error.whitelist">Please enter a valid Student ID</span>
					   <input type="hidden" name="test" value="prealp_comp_2">
					   <input type="hidden" name="module" value="numeracy">
					   <br><br>
					    <label for="coach_id" style="color: #000;font-size: 20px;line-height: 135%;width: 100%;">Coach ID</label>
						<input type="text" name="coach_id" ng-model="test_response.coach_id" ng-maxlength="5" placeholder="e.g MM003" style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">	
						<span class="password-error" ng-show="testForm2.coach_id.$error.maxlength">Please enter a valid Coach ID</span>

					   <!-- Submit button disabled if form is invalid -->
                       <!-- <input type="submit" value="submit" ng-disabled="testForm2.$invalid"> -->
                            
                       <br><br>
					   <button type="submit" value="Submit" ng-disabled="testForm2.$invalid" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button>
					</form>
			     </div>
			  </div>
			</div>
		</div>
	</div>
</section>
<footer class="container-fluid">
	<div class="row">
		<div class="container">
			<div class="row">
			
	        </div>
	   </div>
   </div>
</footer>
</body>
</html>
