<!DOCTYPE html>
<html ng-app="passProtect">

<head>
    <title>Level 5 Section 4 Test </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/no_back_please.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/angular-md5.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- Run init function when page opens -->
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="form.testForm">
                        <p class="test_name">Level 5 Section 4 Test</p>
                        <usernameinput></usernameinput>
                        <!-- Input fiels for user_id contains some js code for validation -->
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Test is for 15 marks.<br>Use a pencil and paper to do all your working out.<br>Select the most correct answer to each question.<br>You may NOT use a calculator to help you.<br>You have 30 Minutes to complete this test.<br>Ask your coach if you are not sure how to answer the questions.</div>
                        <div class="HeaderbannerLabel">TEST</div>
                        <h3>(1) Determine the perimeter of the shape.</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q01_c300.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">20 units</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b">21 units</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_c">22 units</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0000">
                            <label for="q1_d">23 units</label>
                        </p>
                        <h3>(2) Calculate the perimeter of the shape.</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q02_c250.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">51 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="00">
                            <label for="q2_b">68 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_c">74 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">88 mm</label>
                        </p>
                        <h3>(3) Calculate the area of the rectangle.</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q03_c250.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">27 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_b">30 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">54 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_d">180 cm<sup>2</sup></label>
                        </p>
                        <h3>(4) If a square has an area of 121 mm<sup>2</sup>, what is the length of each of its sides?</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">10 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_b">11 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_c">12 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d">20 mm</label>
                        </p>
                        <h3>(5) Do the following rectangles have the same perimeter, the same area or both the same area and the same perimeter?</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q05_c200.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a">Same area only</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_b">Same perimeter only</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c">Same area and perimeter</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d">None of the above.</label>
                        </p>
                        <h3>(6) Use the formula: Area = <span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span> &times; base &times; ⊥height to calculate the area of the triangle with a base of 11 cm and a perpendicular height of 8 cm.</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q06_c200.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a"> 19 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_b">38 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_c">44 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_d">88 cm<sup>2</sup></label>
                        </p>
                        <h3>(7) Use the formula: Area= <span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span> &times; base &times; ⊥height to calculate the area of the right-angled triangle.</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q07_c200.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_a">20 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="00">
                            <label for="q7_b">24 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_c">40 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d">440 mm<sup>2</sup></label>
                        </p>
                        <h3>(8) Calculate the volume of the rectanglular prism whose base has an area of 50 cm<sup>2</sup> and is 7 cm high.</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q08_c200.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_a">57 cm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">100 cm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_c">342 cm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_d">350 cm<sup>3</sup></label>
                        </p>
                        <h3>(9) Calculate the surface area of the rectangular prism. The net of the prism is shown.</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q09_c250.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">90 units<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b">120 units<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_c">126 units<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_d">150 units<sup>2</sup></label>
                        </p>
                        <h3>(10) An ice cream shop records how many of each flavour they sell in a week. The results are represented in the bar graph.</h3>
                        <h3> How many vanilla ice creams were sold?</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q10_c400.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">15 ice creams</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_b">19 ice creams</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c">20 ice creams</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_d">11 ice creams</label>
                        </p>
                        <h3>(11) An ice cream shop records how many of each flavour they sell in a week.</h3>
                        <h3> The results are represented in the bar graph. Which flavour ice cream was the least popular?</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q11_c400.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a">Chocolate</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="00">
                            <label for="q11_b">Vanilla</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">Strawberry</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_d">Cookies ‘n Cream</label>
                        </p>
                        <h3>(12) An ice cream shop records how many of each flavour they sell in a week. The results are represented in the bar graph. </h3>
                        <h3>How many more strawberry ice creams were sold than vanilla ice creams?</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q12_c400.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_a">10 ice creams</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b">15 ice creams</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">19 ice creams</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_d">29 ice creams</label>
                        </p>
                        <h3>(13) Jessica records the ages of children at her school. She records the results in a histogram.</h3>
                        <h3> In which age range were between 50 and 60 children recorded?</h3>
                        <h3>
                            <div><img src="/images/level_5_sec_4/l5_s4_q13_c400.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">10 − 11 years</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">11 − 12 years</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_c">12 − 13 years</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">13 − 14 years</label>
                        </p>
                        <h3>(14) Joyce asked her friends their Maths test result out of 25. She wrote them below. Calculate the mean of their results.</h3>
                        <h3>22, 16, 20, 12, 15</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_a">14</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c">16</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_d">17</label>
                        </p>
                        <h3>(15) Joyce asks her friends their Maths test results out of 25. She wrote them below. Determine the median of the results.</h3>
                        <h3>22, 16, 20, 12, 15</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a"> 14</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="00">
                            <label for="q15_b">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_c">16</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_d">17</label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='level_5_sec_4'">
                        <input type="hidden" name="course" ng-init="testResponse.course='level_5'">
                        <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                        <input type="hidden" name="test_version" ng-init="testResponse.test_version='v3'">
                        <coachsection></coachsection>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>