<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Literacy Test 3</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="/pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC - LITERACY</div>
                        <p class="test_name">ADJECTIVES AND ADVERBS TEST 3</p>
                        <div ng-include="'/pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3></h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <div class="HeadertopicLabel">ADJECTIVES AND ADVERBS</div>
                        <h4>Each question contains a sentence from which a word or a group of words is missing in the space shown. Below each sentence are four words or groups of words. Only one of the words or groups of words will make the sentence right. Choose it. </h4>
                        <h3>(1) Of all the bridges I have seen, Rusinda is the ________.</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">narrower</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_b">narrowest</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c">more narrow</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0000">
                            <label for="q1_d">most narrow</label>
                        </p>
                        <h3>(2) Dora has become ________ than she was in her previous job.</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_a">busier</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="00">
                            <label for="q2_b">busiest</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">busy</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">more busy</label>
                        </p>
                        <h3>(3) China is one of the ________ developed nations in the world.</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">much</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_b">mostly</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_c">most</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">more</label>
                        </p>
                        <h3>(4) The woodsman was as ________ as the tree.</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_a">tall</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_b">tallest</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_c">shorter</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d">shortest</label>
                        </p>
                        <h3>(5) ________ Chansa nor Kamedula came to school on time.</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a">Both</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="00">
                            <label for="q5_b">But</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c">Either</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_d">Neither</label>
                        </p>
                        <h3>(6) ________ of our learners arrived at school late because it was raining in the morning.</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a">Enough</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_b">Much</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_c">Either</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_d">Several</label>
                        </p>
                        <h3>(7) Namwinga smiled ________ at the visitors.</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a">cheerful</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_b">cheerfully</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_c">more cheerful</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d">most cheerful</label>
                        </p>
                        <h3>(8) The teacher ________ changed the subject.</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_a">faster</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">quick</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_c">quickly</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_d">slow</label>
                        </p>
                        <h3>(9) She spoke so ________ at the meeting.</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">best</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b">good</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_c">nice</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_d">well</label>
                        </p>
                        <h3>(10) How ________ does the dispensary open?</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">always</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_b">often</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c">sometimes</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_d">usually</label>
                        </p>
                        <div class="HeadertopicLabel">SPELLING</div>
                        <h4>Each question has a sentence with one word missing. Below each sentence are four words. Choose the word that is correctly spelt.</h4>
                        <h3>(11) This is the ________ time for us to work hard.</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a">corect</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_b">correct</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">correte</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_d">correcte</label>
                        </p>
                        <h3>(12) If my ________ house caught fire I would call for help.</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_a">neighbour's</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_b">neigbour’s</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">negbors</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_d">negbou’s</label>
                        </p>
                        <h3>(13) Mooka is always ________.</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_a">accurate</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">acurate</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_c">acurat</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">acurrate</label>
                        </p>
                        <h3>(14) I have a ________ that I will pass to go to Grade 8 next year.</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_a">feeling</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b">felling</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c">feling</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_d">feelling</label>
                        </p>
                        <div class="HeadertopicLabel">PUNCTUATION</div>
                        <h3>(15) Choose the sentence which is correctly punctuated.</h4>
                            <p>
                                <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="1">
                                <label for="q15_a">He asked me, "Why are you laughing?"</label>
                            </p>
                            <p>
                                <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="00">
                                <label for="q15_b">He asked me? "Why are you laughing.</label>
                            </p>
                            <p>
                                <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="000">
                                <label for="q15_c">He asked me, why are you laughing.</label>
                            </p>
                            <p>
                                <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                                <label for="q15_d">He asked me" why are you laughing.</label>
                            </p>
                            <h3>(16) Choose the sentence which is correctly punctuated.</h3>
                            <p>
                                <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0">
                                <label for="q16_a">Is that your uncle, asked Mweemba's friend.</label>
                            </p>
                            <p>
                                <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="00">
                                <label for="q16_b">"Is that your uncle!" asked Mweembas friend.</label>
                            </p>
                            <p>
                                <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="000">
                                <label for="q16_c">Is that your uncle? asked Mweembas friend.</label>
                            </p>
                            <p>
                                <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="1">
                                <label for="q16_d">"Is that your uncle?" asked Mweemba's friend.</label>
                            </p>
                            <h3>(17) Choose the sentence which is correctly punctuated.</h3>
                            <p>
                                <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0">
                                <label for="q17_a">John said "I am not a coward."</label>
                            </p>
                            <p>
                                <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="00">
                                <label for="q17_b">John said I am not a coward.</label>
                            </p>
                            <p>
                                <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="1">
                                <label for="q17_c">John said, "I am not a coward."</label>
                            </p>
                            <p>
                                <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="0000">
                                <label for="q17_d">John said, I am not a coward.</label>
                            </p>
                            <div class="HeadertopicLabel">MEANING</div>
                            <h4>Each question has a word, a group of words, or a sentence underlined. Below each question are four words or parts of a sentence. Only one of these gives the right meaning of the word or group of words underlined. You have to choose the correct meaning,</h4>
                            <h3>(18) <u>The tree is too high for me to reach its top</u>. This sentence means ________.</h3>
                            <p>
                                <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="0">
                                <label for="q18_a">I can reach the top of the tree</label>
                            </p>
                            <p>
                                <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="1">
                                <label for="q18_b">I cannot reach the top of the tree</label>
                            </p>
                            <p>
                                <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="000">
                                <label for="q18_c">I may reach the top of the tree</label>
                            </p>
                            <p>
                                <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="0000">
                                <label for="q18_d">I will reach the top of the tree</label>
                            </p>
                            <h3>(19) It is <u>risky</u> to swim in a river. The word risky means ________.</h3>
                            <p>
                                <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="1">
                                <label for="q19_a">dangerous</label>
                            </p>
                            <p>
                                <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="00">
                                <label for="q19_b">safe</label>
                            </p>
                            <p>
                                <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="000">
                                <label for="q19_c">nice</label>
                            </p>
                            <p>
                                <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0000">
                                <label for="q19_d">cold</label>
                            </p>
                            <h3>(20) This is the <u>appropriate</u> time for you to go to bed. The word appropriate means ________.</h3>
                            <p>
                                <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="0">
                                <label for="q20_a">about</label>
                            </p>
                            <p>
                                <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="00">
                                <label for="q20_b">wrong</label>
                            </p>
                            <p>
                                <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="1">
                                <label for="q20_c">right</label>
                            </p>
                            <p>
                                <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="0000">
                                <label for="q20_d">almost</label>
                            </p>
                            <h3>(21) <u>Mabvuto, as well as his mother, is coming</u>. The sentence means that ________.</h3>
                            <p>
                                <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="0">
                                <label for="q21_a">Only Mabvuto is coming</label>
                            </p>
                            <p>
                                <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="1">
                                <label for="q21_b">Mabvuto and his mother are coming</label>
                            </p>
                            <p>
                                <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="000">
                                <label for="q21_c">Only his mother is coming</label>
                            </p>
                            <p>
                                <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="0000">
                                <label for="q21_d">Neither Mabvuto nor his mother is coming</label>
                            </p>
                            <div class="HeadertopicLabel">SENTENCE ORDER</div>
                            <h3>(22) Choose the paragraph which has the sentences in the BEST order.</h3>
                            <p>
                                <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="0">
                                <label for="q22_a">Later God named him Israel which means a soldier of God. He had a lot of sheep and cattle. Long ago, there was a rich man who lived in Hebron. His name was Jacob.</label>
                            </p>
                            <p>
                                <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="1">
                                <label for="q22_b">Long ago, there was a rich man who lived in Hebron. He had a lot of sheep and cattle. His name was Jacob. Later God named him Israel which means a soldier of God.</label>
                            </p>
                            <p>
                                <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="000">
                                <label for="q22_c">He had a lot of sheep and cattle. His name was Jacob. Long ago, there was a rich man who lived in Hebron. Later God named him Israel which means a soldier of God.</label>
                            </p>
                            <p>
                                <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="0000">
                                <label for="q22_d">His name was Jacob. Long ago, there was a rich man who lived in Hebron. He had a lot of sheep and cattle. Later God named him Israel which means a soldier of God.</label>
                            </p>
                            <h3>(23) Choose the paragraph which has the sentences in the BEST order.</h3>
                            <p>
                                <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="1">
                                <label for="q23_a">Sepiso qualified to go to Grade 8 with very good results. Her father bought her a blue bicycle as a present. She received it with joy.</label>
                            </p>
                            <p>
                                <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="00">
                                <label for="q23_b">Her father bought her a blue bicycle as a present. She received it with joy. Sepiso qualified to go to Grade 8 with very good results.</label>
                            </p>
                            <p>
                                <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="000">
                                <label for="q23_c">Sepiso qualified to go to Grade 8 with very good results. She received it with joy. Her father bought her a blue bicycle as a present.</label>
                            </p>
                            <p>
                                <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="0000">
                                <label for="q23_d">She received it with joy. Her father bought her a blue bicycle as a present. Sepiso qualified to go to Grade 8 with very good results.</label>
                            </p>
                            <h3>(24) Choose the paragraph which has the sentences in the BEST order.</h3>
                            <p>
                                <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="0">
                                <label for="q24_a">He then decided to go back home when nobody showed up. Unfortunately, he found nobody. He did not know what to do so he sat down and waited for an hour. Mike went to his aunt's house to visit.</label>
                            </p>
                            <p>
                                <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="00">
                                <label for="q24_b">Mike went to his aunt's house to visit. He then decided to go back home when nobody showed up. Unfortunately, he found nobody. He did not know what to do so he sat down and waited for an hour.</label>
                            </p>
                            <p>
                                <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="1">
                                <label for="q24_c">Mike went to his aunt's house to visit. Unfortunately, he found nobody. He did not know what to do so he sat down and waited for an hour. He then decided to go back home when nobody showed up.</label>
                            </p>
                            <p>
                                <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0000">
                                <label for="q24_d">He did not know what to do so he sat down and waited for an hour. He then decided to go back home when nobody showed up. Mike went to his aunt's house to visit. Unfortunately, he found nobody.</label>
                            </p>
                            <h3>(25) Choose the paragraph which has the sentences in the BEST order.</h3>
                            <p>
                                <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="0">
                                <label for="q25_a">He was sad. He decided to report the matter to the police. My brother looked everywhere for his son, Nasilele. It was getting dark. He couldn't find him.</label>
                            </p>
                            <p>
                                <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="00">
                                <label for="q25_b">My brother looked everywhere for his son, Nasilele. He was sad. He decided to report the matter to the police. It was getting dark. He couldn't find him.</label>
                            </p>
                            <p>
                                <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="1">
                                <label for="q25_c">My brother looked everywhere for his son, Nasilele. He couldn't find him. It was getting dark. He was sad. He decided to report the matter to the police.</label>
                            </p>
                            <p>
                                <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="0000">
                                <label for="q25_d">It was getting dark. He was sad. He couldn't find him. My brother looked everywhere for his son, Nasilele. He decided to report the matter to the police.</label>
                            </p>
                            <div class="HeadertopicLabel">READING COMPREHENSION</div>
                            <p>Mr and Mrs Chipinde lived in a small village called Musule. It was very far away from Katima Mulilo Boma. They had a small house that was near a big tree. It was made of poles, mud and grass. Mr and Mrs Chipinde were' poor farmers because their farm was very small. They grew vegetables and groundnuts, which they sold at the village market. They wanted their son to go to school because they wanted him to get a job in town. “We will send Mwepu to school,” Mr Chipinde said. “But Kafusha will not be sent to school because she will be helping me with housework,” said Mrs Chipinde. Mwepu and Kafusha liked talking to each other. Sometimes he taught her things he was learning at school. He asked her some questions. She answered most of them correctly. Mwepu was happy because his sister was a very clever girl. </p>
                            <h3>(26) Mr and Mrs Chipinde were poor because ________.</h3>
                            <p>
                                <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="0">
                                <label for="q26_a">they didn't have a farm</label>
                            </p>
                            <p>
                                <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="1">
                                <label for="q26_b">their farm was very small</label>
                            </p>
                            <p>
                                <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="000">
                                <label for="q26_c">they were growing only one crop</label>
                            </p>
                            <p>
                                <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="0000">
                                <label for="q26_d">they had many children to look after</label>
                            </p>
                            <h3>(27) The family lived in a small village called ________.</h3>
                            <p>
                                <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="0">
                                <label for="q27_a">Katima Mulilo</label>
                            </p>
                            <p>
                                <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="00">
                                <label for="q27_b">Chikuni</label>
                            </p>
                            <p>
                                <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="1">
                                <label for="q27_c">Musule</label>
                            </p>
                            <p>
                                <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="0000">
                                <label for="q27_d">Chipinde</label>
                            </p>
                            <h3>(28) Kafusha will not be sent to school because ________.</h3>
                            <p>
                                <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="0">
                                <label for="q28_a">there is not enough money</label>
                            </p>
                            <p>
                                <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="1">
                                <label for="q28_b">she will be helping Mrs Chipinde with housework</label>
                            </p>
                            <p>
                                <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="000">
                                <label for="q28_c">she will be marrying very soon</label>
                            </p>
                            <p>
                                <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="0000">
                                <label for="q28_d">there is only one school in Musule village </label>
                            </p>
                            <h3>(29) Mwepu was happy because ________.</h3>
                            <p>
                                <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="0">
                                <label for="q29_a">he was in Grade four</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="1">
                                <label for="q29_b">his sister was very clever</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="000">
                                <label for="q29_c">he was the only one going to school</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="0000">
                                <label for="q29_d">his sister was at school</label>
                            </p>
                            <h3>(30) Where did Mr and Mrs Chipinde sell vegetables and groundnuts? They sold vegetables and groundnuts ________.</h3>
                            <p>
                                <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="0">
                                <label for="q30_a">in the town market</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="1">
                                <label for="q30_b">in the village market</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="000">
                                <label for="q30_c">outside the school</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="0000">
                                <label for="q30_d">in Katima Mulilo Boma</label>
                            </p>
                            <div class="HeaderbannerLabel">COACH SECTION</div>
                            <!-- TODO: Add text input fields for user_id, coach_email -->
                            <!-- Hidden fields for test,course and module -->
                            <input type="hidden" name="test" ng-init="testResponse.test='testResponse.test='grade7_test3'">
                            <input type="hidden" name="course" ng-init="testResponse.course='zm_gr7_revision'">
                            <input type="hidden" name="module" ng-init="testResponse.module='literacy'">
                            <div ng-include="'/pmodule/templates/gr7_exam_number.html'"></div>
                            <div ng-include="'/pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>