<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Literacy Test 13</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="/pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC - LITERACY</div>
                        <p class="test_name">VERBS TEST 1</p>
                        <div ng-include="'/pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3></h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <div class="HeadertopicLabel">Verbs</div>
                        <h4>Each question contains a sentence from which a word or a group of words is missing in the space shown. Below each sentence are four words or groups of words. Only one of the words or groups of words will make the sentence right. Choose it.</h4>
                        <h3>(1) My father ________ himself with a knife yesterday.</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_a">cut</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b">cuts</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c">is cut</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0000">
                            <label for="q1_d">cutting</label>
                        </p>
                        <h3>(2) These days we ________ many cases of child abuse.</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">has</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">have</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">had</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">hasn't</label>
                        </p>
                        <h3>(3) Did you ________ a man carrying a basket of oranges?</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">saw</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_b">see</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">seen</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">sees</label>
                        </p>
                        <h3>(4) Motorists should drive carefully to ________ road accidents.</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">avoided</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_b">avoiding</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_c">avoid</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d">avoids</label>
                        </p>
                        <h3>(5) Muntali will visit us next time he ________.</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_a">comes</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="00">
                            <label for="q5_b">come</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c">came</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d">will come</label>
                        </p>
                        <h3>(6) The headteacher had a pen and paper. She ________ to write a letter.</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a">will want</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_b">wanted</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_c">wants</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_d">want</label>
                        </p>
                        <h3>(7) The children ________ groundnuts yesterday.</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a">is pound</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="00">
                            <label for="q7_b">are pounding</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_c">were pounding</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d">was pounding</label>
                        </p>
                        <h3>(8) The pupils ________ in class for three hours now.</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_a">has been</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">had been</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_c">have been</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_d">having been</label>
                        </p>
                        <h3>(9) When I arrived, they had just finished ________.</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">cooked</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b">cook</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_c">cooking</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_d">cooks</label>
                        </p>
                        <h3>(10) When I arrived, I found Mary ________ her supper.</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">ate</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b">eaten</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_c">eating</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_d">eaten</label>
                        </p>
                        <div class="HeadertopicLabel">SPELLING</div>
                        <h4>Each question has a sentence with one word missing. Below each sentence are four words. Choose the word that is correctly spelt.</h4>
                        <h3>(11) The teacher reminded us not to ________ the examples on the board.</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a">irase</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="00">
                            <label for="q11_b">erese</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">erace</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_d">erase</label>
                        </p>
                        <h3>(12) Mrs Madimbu keeps ________, including chickens and ducks, while Miss Morgan keeps cattle and goats.</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_a">poutray</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b">puoltry</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_c">poultry</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_d">pottery</label>
                        </p>
                        <h3>(13) Pupils were told to work hard and ________ in class.</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">concetrate</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_b">concentrate</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_c">corncerntrate</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">consentrate</label>
                        </p>
                        <div class="HeadertopicLabel">PUNCTUATION</div>
                        <h3>(14) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_a">"The boy has lost his bag, hasn't he?"</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b">"The boy has lost his bag. hasn't he?"</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c">"The boy has lost his bag! hasn't he."</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_d">"The boy has lost his bag, Hasn't he?"</label>
                        </p>
                        <h3>(15) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a">"Inonge had a torch yesterday." Ask her about it?</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="00">
                            <label for="q15_b">inonge had a torch yesterday, ask her about it!</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_c">"Inonge had a torch yesterday. Ask her about it."</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_d">inonge, had a torch, yesterday. "Ask her about it."</label>
                        </p>
                        <h3>(16) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_a">I'll meet you in town, “said David.”</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="00">
                            <label for="q16_b">“I'll meet you in town said David.</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="000">
                            <label for="q16_c">I'll “meet you in town,” said David.</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_d">“I'll meet you in town,” said David.</label>
                        </p>
                        <h3>(17) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_a">"This is real happiness isn't it.</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="00">
                            <label for="q17_b">"This is real happiness, isn't it."</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_c">This is real, happiness isn't it?</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_d">“This is real happiness, isn't it?”</label>
                        </p>
                        <div class="HeadertopicLabel">MEANING</div>
                        <h4></h4>
                        <h3>(18) If you join the club, you must <u>abide by</u> its rules. Abide by means to ________ the rules.</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_a">avoid</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="00">
                            <label for="q18_b">break</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_c">disobey</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_d">obey</label>
                        </p>
                        <h3>(19) Chameleons <u>disguise themselves</u> by changing colour. The underlined words mean that chameleons ________.</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_a">change their colour</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_b">hide themselves</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_c">kill their prey</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_d">run away</label>
                        </p>
                        <h3>(20) There was <u>terror</u> in the village when people were told that a lion had been seen nearby. The word terror means ________</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_a">anger</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_b">fear</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_c">joy</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_d">tears</label>
                        </p>
                        <h3>(21) <u>"We can never know what the world is like</u>." The underlined sentence means we ________.</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="0">
                            <label for="q21_a">can almost guess what the world is like</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00">
                            <label for="q21_b">can at any time know what the world is like</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_c">cannot at any time know what the world is like</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="0000">
                            <label for="q21_d">can sometimes know what the world is like</label>
                        </p>
                        <div class="HeadertopicLabel">SENTENCE ORDER</div>
                        <h3>(22) Choose the paragraph which has the sentences in the best order.</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="0">
                            <label for="q22_a">At that age, I could not tell my left from my right. I was in Grade One when I was six. So, I would put on my shoes the other way round.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="00">
                            <label for="q22_b">So, I would put on my shoes the other way round. I was in Grade One when I was six. At that age, I could not tell my left from my right.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_c">I was in Grade One when I was six. At that age, I could not tell my left from my right. So, I would put on my shoes the other way round.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_d"> So, I would put on my shoes the other way round. At that age, I could not tell my left from my right. I was in Grade One when I was six.</label>
                        </p>
                        <h3>(23) Choose the paragraph which has the sentences in the best order.</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_a">The Zambezi River flows into the Indian Ocean. It is one of the longest rivers in Africa. It flows for about 3,000 kilometres from its source. The Zambezi is the longest river in Zambia.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_b">The Zambezi is the longest river in Zambia. It is one of the longest rivers in Africa. It flows for about 3,000 kilometres from its source. The Zambezi River flows into the Indian Ocean.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_c">It flows for about 3,000 kilometres from its source. The Zambezi is the longest river in Zambia. The Zambezi River flows into the Indian Ocean. It is one of the longest rivers in Africa.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="0000">
                            <label for="q23_d">It is one of the longest rivers in Africa. The Zambezi River flows into the Indian Ocean. It flows for about 3,000 kilometres from its source. The Zambezi is the longest river in Zambia.</label>
                        </p>
                        <h3>(24) Choose the paragraph which has the sentences in the best order.</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_a">He always tried to ignore the insults. One day, he got annoyed and beat her up. Mr Tembo was never respected by his wife. He was insulted all the time.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_b">Mr Tembo was never respected by his wife. He was insulted all the time. He always tried to ignore the insults. One day, he got annoyed and beat her up.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="000">
                            <label for="q24_c">One day, he got annoyed and beat her up. He always tried to ignore the insults. Mr Tembo was never respected by his wife. He was insulted all the time.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_d">Mr Tembo was never respected by his wife. He always tried to ignore the insults. One day, he got annoyed and beat her up. He was insulted all the time.</label>
                        </p>
                        <h3>(25) Choose the paragraph which has the sentences in the best order.</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_a">I am the fourth born in a family of seven. The male is working and married. Six are females and one is a male. As for the females, we are still at school.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="00">
                            <label for="q25_b">As for the females, we are still at school. The male is working and married. I am the fourth born in a family of seven. Six are females and one is a male.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_c">The male is working and married. As for the females, we are still at school. Six are females and one is a male. I am the fourth born in a family of seven.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_d">I am the fourth born in a family of seven. Six are females and one is a male. The male is working and married. As for the females, we are still at school.</label>
                        </p>
                        <div class="HeadertopicLabel">READING COMPREHENSION</div>
                        <p>Reptiles are animals whose skins are dry and have scales. They use their lungs to breathe. Reptiles are cold blooded. This means that their body temperature stays about the same as the temperature of their surroundings. These animals avoid very high or low temperatures in order to live. Most reptiles that are active during the day keep moving from sunny places to shady spots. Those that live in hot climates are active mainly at night. Reptiles that live in regions that have very cold winters hibernate during the winter.</p>
                        <p>Reptiles live on every continent except the Antarctica, where the temperatures are too low for them. They are also found in most oceans.</p>
                        <p>They are most plentiful in the tropics. Many kinds of reptiles, such as lizards and snakes, do well in deserts. Others, such as rats, snakes and box turtles, live in forests. Still others, such as turtles and sea snakes, spend much of their life in the water.</p>
                        <p>Many people are afraid of reptiles, but most of them are not dangerous and avoid people.</p>
                        <h3>(26) Reptiles avoid high or low temperatures ________.</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_a">In order to find food</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_b">in order to stay alive</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_c">so that they can grow</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="0000">
                            <label for="q26_d">to move fast</label>
                        </p>
                        <h3>(27) The best title of this story is ________.</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="0">
                            <label for="q27_a">Where Reptiles Live</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="00">
                            <label for="q27_b">How Reptiles Behave</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="000">
                            <label for="q27_c">Big and Small Reptiles</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_d">Reptiles</label>
                        </p>
                        <h3>(28) 'They use lungs to breathe.' The word 'They' in the sentence refers to …</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="0">
                            <label for="q28_a">animals</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_b">reptiles</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="000">
                            <label for="q28_c">skins</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="0000">
                            <label for="q28_d">people</label>
                        </p>
                        <h3>(29) Reptiles do not live on the continent of Antarctica because ________.</h3>
                        <p>
                            <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="0">
                            <label for="q29_a">there's no life there</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="00">
                            <label for="q29_b">it is very far away</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="000">
                            <label for="q29_c">it is very hot</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="1">
                            <label for="q29_d">it is too cold</label>
                        </p>
                        <h3>(30) A lot of reptiles are found in the ________.</h3>
                        <p>
                            <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="1">
                            <label for="q30_a">tropics</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="00">
                            <label for="q30_b">sea</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="000">
                            <label for="q30_c">ocean</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="0000">
                            <label for="q30_d">deserts</label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='testResponse.test='grade7_test13'">
                        <input type="hidden" name="course" ng-init="testResponse.course='zm_gr7_revision'">
                        <input type="hidden" name="module" ng-init="testResponse.module='literacy'">
                        <div ng-include="'/pmodule/templates/gr7_exam_number.html'"></div>
                        <div ng-include="'/pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>