<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Literacy Test 8</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="/pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC - LITERACY</div>
                        <p class="test_name">PREPOSITIONS TEST 2</p>
                        <div ng-include="'/pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3></h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <div class="HeadertopicLabel">Prepositions</div>
                        <h4>Each question contains a sentence from which a word or a group of words is missing in the space shown. Below each sentence are four words or groups of words. Only one of the words or groups of words will make the sentence right. Choose it.</h4>
                        <h3>(1) Bwalya saw the cat ________ the garden.</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">under</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b">over</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c">on</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_d">in</label>
                        </p>
                        <h3>(2) The chief and his head persons sat ________ the tree.</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">in</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">under</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">at</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">below</label>
                        </p>
                        <h3>(3) She likes to jog ________ night.</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_a">at</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_b">for</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">in</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">on</label>
                        </p>
                        <h3>(4) He went ________ town to buy shoes.</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">in</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_b">too</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_c">for</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_d">to</label>
                        </p>
                        <h3>(5) Don’t lean ________ that wall, it has just been painted.</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_a">against</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="00">
                            <label for="q5_b">by</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c">near</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d">with</label>
                        </p>
                        <h3>(6) Jane and John pushed their way ________ the crowd.</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a">among</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_b">between</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_c">no</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_d">through</label>
                        </p>
                        <h3>(7) Trees prevent soil ________ being washed away.</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a">with</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="00">
                            <label for="q7_b">in</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_c">from</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d">at</label>
                        </p>
                        <h3>(8) All the children in the village were vaccinated ________ polio.</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_a">against</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">with</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_c">of</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_d">from</label>
                        </p>
                        <h3>(9) The learners were blamed ________ not sweeping the classroom in time.</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">about</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b">against</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_c">for</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_d">of</label>
                        </p>
                        <h3>(10) A large crowd came to watch the game between Zambia and Congo ________ of the bad weather.</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">but</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b">unless</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c">despite</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_d">in spite</label>
                        </p>
                        <div class="HeadertopicLabel">SPELLING</div>
                        <h4>Each question has a sentence with one word missing. Below each sentence are four words. Choose the word that is correctly spelt.</h4>
                        <h3>(11) A ________ is a room where pupils in boarding schools sleep.</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a">dorrmitory</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="00">
                            <label for="q11_b">domitory</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_c">dormitory</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_d">dormmitory</label>
                        </p>
                        <h3>(12) We go to church on ________.</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_a">Satardays</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b">Satrudays</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">Sutardays</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_d">Saturdays</label>
                        </p>
                        <h3>(13) A ________ never loses hope in spite of problems.</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">bealiver</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">beliefer</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_c">beleiver</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_d">believer</label>
                        </p>
                        <div class="HeadertopicLabel">PUNCTUATION</div>
                        <h3>(14) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_a">"They have scored!" exclaimed a soccer fan.</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b">They have scored! exclaimed a soccer fan.</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c">They have scored exclaimed a soccer fan!</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_d">"They have scored" exclaimed a soccer fan</label>
                        </p>
                        <h3>(15) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a">Mr Chandas' wives are both teachers. </label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_b">Mr Chanda's wives are both teachers.</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_c">Mr Chandas wives are both teachers.</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_d">Mr Chanda wives are both teachers.</label>
                        </p>
                        <h3>(16) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_a">"Have you seen my purse?" Mutinta's mother asked. </label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="00">
                            <label for="q16_b">"have you seen my purse?" mutinta's mother asked. </label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="000">
                            <label for="q16_c">"Have you seen my purse?" mutinta's mother, asked. </label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_d">"have you seen my purse?" Mutinta's mother asked.</label>
                        </p>
                        <h3>(17) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_a">"Be quiet,!" shouted the class monitor. </label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_b">"Be quiet!" shouted the class monitor.</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_c"> Be quiet! shouted the class monitor.</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_d"> "Be quiet! shouted the class monitor"</label>
                        </p>
                        <div class="HeadertopicLabel">MEANING</div>
                        <h4></h4>
                        <h3>(18) The Zambian Government has decided to carry out an <u>awareness campaign</u>. An awareness campaign ________.</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_a">listens to the people</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_b">informs the public</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_c">disturbs the public</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="0000">
                            <label for="q18_d">counts the people</label>
                        </p>
                        <h3>(19) <u>If Esther Phiri wins the heavy weight boxing title this weekend, she will have a party</u>. The sentence tells us that Esther Phiri ________. </h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_a">has already won the title</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="00">
                            <label for="q19_b">has never had a party</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_c">might have a party</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_d">will win the title</label>
                        </p>
                        <h3>(20) <u>Mr Kachasu failed to care for his family</u>. This means that he ________ his family.</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_a">neglected</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="00">
                            <label for="q20_b">loved</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_c">fed</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_d">chased</label>
                        </p>
                        <h3>(21) The tourist used her binoculars to <u>view</u> the Victoria Falls. The word view means ________. </h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="0">
                            <label for="q21_a">copy</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00">
                            <label for="q21_b">measure</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="000">
                            <label for="q21_c">photograph</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_d">see</label>
                        </p>
                        <div class="HeadertopicLabel">SENTENCE ORDER</div>
                        <h3>(22) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="0">
                            <label for="q22_a">He got confused after getting his first salary. Mr Phiri was posted to a township school after completing his training. He did not plan how to spend his money and misused it. He ended up begging from friends.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="00">
                            <label for="q22_b">Mr Phiri was posted to a township school after completing his training. He did not plan how to spend his money and misused it. He ended up begging from friends. He got confused after getting his first salary.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_c">He did not plan how to spend his money and misused it. He ended up begging from friends. Mr Phiri was posted to a township school after completing his training. He got confused after getting his first salary.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_d">Mr Phiri was posted to a township school after completing his training. He got confused after getting his first salary. He did not plan how to spend his money and misused it. He ended up begging from friends.</label>
                        </p>
                        <h3>(23) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_a">At our home, we take supper early. After that, we all retire to bed. We then hold a family devotion to thank God for the day and pray for protection in the night. After eating, we watch television up to 20:00 hours.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="00">
                            <label for="q23_b">At our home, we take supper early. We then hold a family devotion to thank God for the day and pray for protection in the night. After eating, we watch television up to 20:00 hours. After that, we all retire to bed.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_c">At our home, we take supper early. After eating, we watch television up to 20:00 hours. We then hold a family devotion to thank God for the day and pray for protection in the night. After that, we all retire to bed.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="0000">
                            <label for="q23_d">At our home, we take supper early. After eating, we watch television up to 20:00 hours. After that, we all retire to bed. We then hold a family devotion to thank God for the day and pray for protection in the night.</label>
                        </p>
                        <h3>(24) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_a">The new pupils were now happy. When the boys arrived at the school, they did not know what to do or where to go. Fortunately, a prefect greeted them and took them to the school hall where they were addressed by the headteacher.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="00">
                            <label for="q24_b">Fortunately, a prefect greeted them and took them to the school hall, where they were addressed by the headteacher. When the boys arrived at the school, they did not know what to do or where to go. The new pupils were now happy.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_c">When the boys arrived at the school, they did not know what to do or where to go. Fortunately, a prefect greeted them and took them to the school hall where they were addressed by the headteacher. The new pupils were now happy.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_d">When the boys arrived at the school, they did not know what to do or where to go. The new pupils were now happy. Fortunately, a prefect greeted them and took them to the school hall where they were addressed by the headteacher.</label>
                        </p>
                        <h3>(25) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_a">Mr. Daka was proud of his sons. They were always good boys. When they grew up they did not forget about their parents.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="00">
                            <label for="q25_b">Mr. Daka was proud of his sons. When they grew up they did not forget about their parents. They were always good boys.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_c">They were always good boys. Mr. Daka was proud of his sons. When they grew up they did not forget about their parents.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="0000">
                            <label for="q25_d">When they grew up, they did not forget about their parents. Mr. Daka was proud of his sons. They were always good boys.</label>
                        </p>
                        <div class="HeadertopicLabel">READING COMPREHENSION</div>
                        <p>Moths are not liked by many people because they look ugly. When people light their rooms up at night, moths become a great nuisance as they happily swarm around the roof. If one catches them, they leave a powdery substance on the person's palms. This substance comes from their wings.</p>
                        <p>If a family uses a candle, a lamp or any other homemade lighting system, moths often put them out, leaving the family in darkness. To some people, moths are supposed to be killed at once, even to the extent of using insecticide. Early in the morning, moths are so weakened by the cold that they cannot move.</p>
                        <p>People who keep chickens invite them in to feed on the moths. But how many people know that moths are useful to them?</p>
                        <p>When moths lay their eggs on tree branches and twigs, they hatch into caterpillars. Caterpillars are protein-giving food and are widely eaten in many parts of Zambia. Caterpillars are of different types. People should learn to like and preserve moths as they are a source of food.</p>
                        <h3>(26) When people light their rooms at night, moths ________.</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_a">fly out of the room</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_b">become a nuisance</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_c">knock off their roofs</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="0000">
                            <label for="q26_d">light candles and lamps</label>
                        </p>
                        <h3>(27) Moths are not liked by most people because they look ________.</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="0">
                            <label for="q27_a">beautiful</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="00">
                            <label for="q27_b">colourful</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="000">
                            <label for="q27_c">powdery</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_d">ugly</label>
                        </p>
                        <h3>(28) From the passage, we can tell that caterpillars are a source of ________.</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="0">
                            <label for="q28_a">iron</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_b">protein</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="000">
                            <label for="q28_c">taste</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="0000">
                            <label for="q28_d">vitamin</label>
                        </p>
                        <h3>(29) The word ‘nuisance’ in the passage has the same meaning as ________.</h3>
                        <p>
                            <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="1">
                            <label for="q29_a">annoying</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="00">
                            <label for="q29_b">colourful</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="000">
                            <label for="q29_c">dangerous</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="0000">
                            <label for="q29_d">joyful</label>
                        </p>
                        <h3>(30) People who keep chickens invite them in to feed on the moths. In this sentence, the word ‘them’ refers to ________.</h3>
                        <p>
                            <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="0">
                            <label for="q30_a">caterpillars</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="1">
                            <label for="q30_b">chickens</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="000">
                            <label for="q30_c">moths</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="0000">
                            <label for="q30_d">people</label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='testResponse.test='grade7_test8'">
                        <input type="hidden" name="course" ng-init="testResponse.course='zm_gr7_revision'">
                        <input type="hidden" name="module" ng-init="testResponse.module='literacy'">
                        <div ng-include="'/pmodule/templates/gr7_exam_number.html'"></div>
                        <div ng-include="'/pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>