<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Literacy Test 11</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="/pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC - LITERACY</div>
                        <p class="test_name">PRONOUNS AND NOUNS TEST 2</p>
                        <div ng-include="'/pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3></h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <div class="HeadertopicLabel">Pronouns and Nouns</div>
                        <h4>Each question contains a sentence from which a word or a group of words is missing in the space shown. Below each sentence are four words or groups of words. Only one of the words or groups of words will make the sentence right. Choose it.</h4>
                        <h3>(1) Sara went to the salon to have ________ hair plaited.</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">hers</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b">his</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c">mine</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_d">her</label>
                        </p>
                        <h3>(2) The manager welcomes ________ to the meeting.</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">they</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">us</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">she</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">we</label>
                        </p>
                        <h3>(3) The kitten is looking for ________ mother. </h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">her</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_b">its</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">his</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">their</label>
                        </p>
                        <h3>(4) All these dresses belong to me. They are ________.</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">yours</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_b">ours</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_c">mine</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d">hers</label>
                        </p>
                        <h3>(5) Michael burnt ________ with hot water.</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a">yourself</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="00">
                            <label for="q5_b">itself</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_c">himself</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d">herself</label>
                        </p>
                        <h3>(6) I am angry with ________ for failing the examination.</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a">himself</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_b">itself</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_c">herself</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_d">myself</label>
                        </p>
                        <h3>(7) The thief ________ stole the bicycle has been arrested.</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a">which</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="00">
                            <label for="q7_b">whom</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_c">who</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d">whose</label>
                        </p>
                        <h3>(8) The ________ was very happy with the comedian's performances at Mulungushi International Conference Centre. </h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_a">audience</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">band</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_c">choir</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_d">jury</label>
                        </p>
                        <h3>(9) The school football ________ played very well during the tournament and won a trophy.</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">crowd</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b">group</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_c">jury</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_d">team</label>
                        </p>
                        <h3>(10) Maria saw a ________ of bees near the well.</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">band</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b">bunch</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c">pack</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_d">swarm</label>
                        </p>
                        <div class="HeadertopicLabel">SPELLING</div>
                        <h4>Each question has a sentence with one word missing. Below each sentence are four words. Choose the word that is correctly spelt.</h4>
                        <h3>(11) Bees ________ when provoked.</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_a">sting</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="00">
                            <label for="q11_b">siting</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">sitting</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_d">steng</label>
                        </p>
                        <h3>(12) Today's ________ is to discuss ways to increase profit.</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_a">agenda</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b">agianda</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">agendar</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_d">argendar</label>
                        </p>
                        <h3>(13) All my pupils came for ________ work this afternoon.</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">manaul</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">muanal</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_c">manual</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">manuel</label>
                        </p>
                        <h3>(14) ________ should be condemned by all well-meaning citizens.</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_a">Violence</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b">Viorence</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c">Viuolence</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_d">Violense</label>
                        </p>
                        <div class="HeadertopicLabel">PUNCTUATION</div>
                        <h3>(15) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_a">We learn English, Mathematics, Science and Silozi.</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="00">
                            <label for="q15_b">We learn, English. Mathematics. Science. and Silozi.</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_c">We learn English Mathematics Science and Silozi.</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_d">We, learn, English, Mathematics, Science and Silozi.</label>
                        </p>
                        <h3>(16) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_a">How far is Nalolo village? "asked the stranger"?</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="00">
                            <label for="q16_b">"How far is "Nalolo village?" asked the stranger.</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_c">"How far is Nalolo village?" asked the stranger.</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_d">How far is Nalolo village? "asked the stranger."</label>
                        </p>
                        <h3>(17) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_a">Did he take his breakfast. Joy asked?</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_b">"Did he take his breakfast?" Joy asked.</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_c">"Did he take his breakfast." Joy asked.</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_d">Did he take his breakfast, Joy asked?</label>
                        </p>
                        <div class="HeadertopicLabel">MEANING</div>
                        <h4></h4>
                        <h3>(18) The Africa Cup of Nations <u>kicks off</u> next year. Kicks off means that the Africa Cup of Nations ________ next year.</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_a">starts</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="00">
                            <label for="q18_b">joins</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_c">ends</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="0000">
                            <label for="q18_d">becomes</label>
                        </p>
                        <h3>(19) <u>I was sleeping when he came</u>. This sentence means ________.</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_a">I slept because he came</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_b">he came while I was sleeping</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_c">he came because I was sleeping</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_d">when he came I went to sleep</label>
                        </p>
                        <h3>(20) <u>I have as much money as you have</u>. This sentence means I have ________.</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_a">more money than you</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="00">
                            <label for="q20_b">less money than you</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_c">the same amount of money as you</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_d">enough money with me</label>
                        </p>
                        <h3>(21) <u>Only if you tell her, will she know her mistake</u>. This sentence means she ________.</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="0">
                            <label for="q21_a">will tell you her mistake</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00">
                            <label for="q21_b">will never know her mistake even if you tell her</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_c">will know her mistake when you tell her</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="0000">
                            <label for="q21_d">knows her mistake</label>
                        </p>
                        <div class="HeadertopicLabel">SENTENCE ORDER</div>
                        <h3>(22) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="0">
                            <label for="q22_a">This means that if HIV is in your cells, you can’t fight off disease easily. This virus gets into the cells in your body and breaks down your resistance to disease. HIV stands for Human Immunodeficiency Virus. HIV is a virus.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_b">HIV is a virus. HIV stands for Human Immunodeficiency Virus. This virus gets into the cells in your body and breaks down your resistance to disease. This means that if HIV is in your cells, you can't fight off disease easily.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_c">HIV stands for Human Immunodeficiency Virus. This means that if HIV is in your cells, you can't fight off disease easily. HIV is a virus. This virus gets into the cells in your body and breaks down your resistance to disease.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_d">This virus gets into the cells in your body and breaks down your resistance to disease. HIV is a virus. This means that if HIV is in your cells, you can’t fight off disease easily. HIV stands for Human Immunodeficiency Virus.</label>
                        </p>
                        <h3>(23) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_a">The Silumesi family used to live in Kabisonga. It was a small place in a district. Last year the family moved to town. They moved to town because Mr. Silumesi was promoted to be the Headteacher of a big school in town.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="00">
                            <label for="q23_b">It was a small place in a district. Last year the family moved to town. They moved to town because Mr. Silumesi was promoted to be the Headteacher of a big school in town. The Silumesi family used to live in Kabisonga.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_c">The Silumesi family used to live in Kabisonga. They moved to town because Mr. Silumesi was promoted to be the Headteacher of a big school in town. It was a small place in a district. Last year the family moved to town.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="0000">
                            <label for="q23_d">Last year the family moved to town. They moved to town because Mr. Silumesi was promoted to be the Headteacher of a big school in town. The Silumesi family used to live in Kabisonga. It was a small place in a district.</label>
                        </p>
                        <h3>(24) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_a">The police officer asked the driver to stop. The driver did not realise that his bus was overloaded. At the road block there were four police officers. He was charged for overloading.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_b">At the road block there were four police officers. The police officer asked the driver to stop. The driver did not realise that his bus was overloaded. He was charged for overloading.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="000">
                            <label for="q24_c">The driver did not realise that his bus was overloaded. He was charged for overloading. At the road block there were four police officers. The police officer asked the driver to stop.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_d">At the road block there were four police officers. The driver did not realise that his bus was overloaded. He was charged for overloading. The police officer asked the driver to stop.</label>
                        </p>
                        <h3>(25) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_a">All the thirteen people in the boat perished. It was a heavy rain storm. It capsized. Large waves rolled over one after another. The waves became too large for the heavily loaded boat.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_b">It was a heavy rain storm. Large waves rolled over one after another. The waves became too large for the heavily loaded boat. It capsized. All the thirteen people in the boat perished.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_c">It was a heavy rain storm. It capsized. All the thirteen people in the boat perished. Large waves rolled over one after another. The waves became too large for the heavily loaded boat.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="0000">
                            <label for="q25_d">Large waves rolled over one after another. All the thirteen people in the boat perished. It was a heavy rain storm. It capsized. The waves became too large for the heavily loaded boat.</label>
                        </p>
                        <div class="HeadertopicLabel">READING COMPREHENSION</div>
                        <p>Study the diagram of Mr Manchishi's house below and answer the questions that follow.</p>
                        <div class="img_answers"><img src="/images/grade7_literacy_test11/g7_lit_t11_26.jpg" alt="image missing" width="300px" height="200px" class="img-responsive" /></div>
                        <h3>(26) Who sleeps in the bedroom directly opposite the sitting room? The ________.</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_a">boys</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="00">
                            <label for="q26_b">girls</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_c">parents</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_d">visitors</label>
                        </p>
                        <h3>(27) How many bedrooms does Mr Manchishi's house have? It has ________ bedrooms.</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_a">four</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="00">
                            <label for="q27_b">one</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="000">
                            <label for="q27_c">three</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="0000">
                            <label for="q27_d">two</label>
                        </p>
                        <h3>(28) The part of the house marked X is commonly known as the ________.</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="0">
                            <label for="q28_a">dining room</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="00">
                            <label for="q28_b">pantry</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_c">passage</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="0000">
                            <label for="q28_d">veranda</label>
                        </p>
                        <h3>(29) Mr Manchishi's family always complained of a bad smell from the toilet. What do you think was the problem? The toilet ________. </h3>
                        <p>
                            <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="0">
                            <label for="q29_a">faced the visitor’s bedroom</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="00">
                            <label for="q29_b">had no door</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="1">
                            <label for="q29_c">had no window</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="0000">
                            <label for="q29_d">was next to the kitchen</label>
                        </p>
                        <h3>(30) The bedroom which has two windows is next to the ________.</h3>
                        <p>
                            <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="1">
                            <label for="q30_a">kitchen</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="00">
                            <label for="q30_b">master bedroom</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="000">
                            <label for="q30_c">sitting room</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="0000">
                            <label for="q30_d">toilet</label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='testResponse.test='grade7_test11'">
                        <input type="hidden" name="course" ng-init="testResponse.course='zm_gr7_revision'">
                        <input type="hidden" name="module" ng-init="testResponse.module='literacy'">
                        <div ng-include="'/pmodule/templates/gr7_exam_number.html'"></div>
                        <div ng-include="'/pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>