<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Literacy Test 12</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="/pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC - LITERACY</div>
                        <p class="test_name">PRONOUNS AND NOUNS TEST 3</p>
                        <div ng-include="'/pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3></h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <div class="HeadertopicLabel">Pronouns and Nouns</div>
                        <h4>Each question contains a sentence from which a word or a group of words is missing in the space shown. Below each sentence are four words or groups of words. Only one of the words or groups of words will make the sentence right. Choose it.</h4>
                        <h3>(1) Nachamba and Chitalu are sex educators. ________ teach about HIV and AIDS at school.</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">1</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b">He</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c">She</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_d">They</label>
                        </p>
                        <h3>(2) John and Mary love ________ parents.</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">her</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="00">
                            <label for="q2_b">his</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_c">their</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">them</label>
                        </p>
                        <h3>(3) We like stories. Please tell ________ one.</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">me</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_b">you</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_c">us</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">them</label>
                        </p>
                        <h3>(4) "Is the book ________?" Mubita asked me.</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">it's</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_b">whose</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_c">yours</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d">its</label>
                        </p>
                        <h3>(5) The engineers ________ examined the bridge.</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a">yourselves</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_b">themselves</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c">himself</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d">herself</label>
                        </p>
                        <h3>(6) ________ car is parked outside there?</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a">Who</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_b">Whom</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_c">Who's </label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_d">Whose</label>
                        </p>
                        <h3>(7) The dog ________ was shot died instantly.</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a">whose</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="00">
                            <label for="q7_b">whom</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_c">who</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_d">which</label>
                        </p>
                        <h3>(8) Chipo picked a ________ of flowers for her grandmother.</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_a">bunch</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">bundle</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_c">group</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_d">heap</label>
                        </p>
                        <h3>(9) I saw a ________ of lions in the Luangwa National Game Park yesterday.</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">group</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_b">pride</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_c">shoal</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_d">swarm</label>
                        </p>
                        <h3>(10) The sheep was attacked by eight ________.</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">wolf</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b">wolfes</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c">wolfs</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_d">wolves</label>
                        </p>
                        <div class="HeadertopicLabel">SPELLING</div>
                        <h4>Each question has a sentence with one word missing. Below each sentence are four words. Choose the word that is correctly spelt.</h4>
                        <h3>(11) All bachelors should live in single ________.</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_a">quarters</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="00">
                            <label for="q11_b">quorters</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">quarters</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_d">qorters</label>
                        </p>
                        <h3>(12) The bus is ________ at the station.</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_a">alreadi</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_b">already</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">allreadi</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_d">allready</label>
                        </p>
                        <h3>(13) Taizya is ________ in reading books.</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">entrusteed</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_b">interested</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_c">intrustid</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">entested</label>
                        </p>
                        <h3>(14) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_a">"There you are!" shouted the Headteacher.</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b">"There you are, shouted the Headteacher!"</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c">There you are shouted the Headteacher!</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_d">"There you are! shouted the Headteacher."</label>
                        </p>
                        <div class="HeadertopicLabel">PUNCTUATION</div>
                        <h3>(15) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a">All the mens shoes were of the same size.</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_b">All the men's shoes were of the same size.</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_c">All the mens' shoes were of the same size.</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_d">All the mens shoes, were of the same size.</label>
                        </p>
                        <h3>(16) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_a">Pumpkins, guavas, and, apples contain vitamin C.</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="00">
                            <label for="q16_b">Pumpkins guavas and apples contain vitamin C.</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="000">
                            <label for="q16_c">Pumpkins, guavas, and apples, contain vitamin C.</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_d">Pumpkins, guavas and apples contain vitamin C.</label>
                        </p>
                        <h3>(17) Choose the sentence which is correctly punctuated.</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_a">John said, I am not a coward.</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="00">
                            <label for="q17_b">John said "l am not a coward.</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_c">John said, "I am not a coward."</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_d">John said. "I am not a coward.</label>
                        </p>
                        <div class="HeadertopicLabel">MEANING</div>
                        <h4></h4>
                        <h3>(18) <u>The dress is too tight for Bupe to wear</u>. This sentence means that Bupe ________.</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_a">can wear the dress</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_b">cannot wear the dress</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_c">may wear the dress</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="0000">
                            <label for="q18_d">will wear the dress</label>
                        </p>
                        <h3>(19) The children were <u>thrilled</u> to see their mother after a long time. The word 'thrilled' means ________.</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_a">sad</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="00">
                            <label for="q19_b">angry</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_c">excited</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_d">afraid</label>
                        </p>
                        <h3>(20) <u>Unless you hurry, you will be late for church</u>. This sentence means ________.</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_a">you will come late when you hurry</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="00">
                            <label for="q20_b">if you go to church, you will be late</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_c">if you do not hurry, you will be late for church</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_d">when you hurry, you will be late for church</label>
                        </p>
                        <h3>(21) The house should look <u>tidy</u> all the time. The word tidy means ________.</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_a">organised</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00">
                            <label for="q21_b">clean</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="000">
                            <label for="q21_c">fresh</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="0000">
                            <label for="q21_d">dirty</label>
                        </p>
                        <div class="HeadertopicLabel">SENTENCE ORDER</div>
                        <h3>(22) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="0">
                            <label for="q22_a">These are the effects of things like heavy rain and the hot sun. They also protect the soil from harmful effects. At such a time, trees give some welcome shade from the sun. On a hot day, people love to shelter under trees.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="00">
                            <label for="q22_b">They also protect the soil from harmful effects. At such a time, trees give some welcome shade from the sun. These are the effects of things like heavy rain and the hot sun. On a hot day, people love to shelter under trees.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_c">At such a time, trees give some welcome shade from the sun. On a hot day, people love to shelter under trees. They also protect the soil from harmful effects. These are the effects of things like heavy rain and the hot sun.</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_d">On a hot day, people love to shelter under trees. At such a time, trees give some welcome shade from the sun. They also protect the soil from harmful effects. These are the effects of things like heavy rain and the hot sun.</label>
                        </p>
                        <h3>(23) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_a">One day, they went to fetch water from the well. There were two women, a tall one and a short one. At the well, they quarrelled. The tall woman hit the short one.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="00">
                            <label for="q23_b">At the well, they quarrelled. There were two women, a tall one and a short one. One day they went to fetch water from the well. The tall woman hit the short one.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_c">The tall woman hit the short one. One day they went to fetch water from the well. There were two women, a tall one and a short one. At the well, they quarrelled.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_d">There were two women, a tall one and a short one. One day they went to fetch water from the well. At the well, they quarrelled. The tall woman hit the short one.</label>
                        </p>
                        <h3>(24) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_a">HIV/AIDS is a sexually transmitted disease that has killed millions of people. It is a disease that has no regard for persons. It takes the young, old, poor, rich, black, white, educated and uneducated.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="00">
                            <label for="q24_b">It takes the young, old, poor, rich, black, white, educated and uneducated. It is a disease that has no regard for persons. HIV/AIDS is a sexually transmitted disease that has killed millions of people.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="000">
                            <label for="q24_c">It is a disease that has no regard for persons. It takes the young, old, poor, rich, black, white, educated and uneducated. HIV/AIDS is a sexually transmitted disease that has killed millions of people.</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_d">It is a disease that has no regard for persons. HIV/AIDS is a sexually transmitted disease that has killed millions of people. It takes the young, old, poor, rich, black, white, educated and uneducated.</label>
                        </p>
                        <h3>(25) Choose the paragraph which has the sentences in the BEST order.</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_a">A few months later she became pregnant and had a baby girl. Mrs Katoka wanted very much to have a baby. She had had no children for ten years. The pastor prayed for her in order to have a child.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="00">
                            <label for="q25_b">Mrs Katoka wanted very much to have a baby. A few months later she became pregnant and had a baby girl. She had had no children for ten years. The pastor prayed for her in order to have a child.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_c">The pastor prayed for her in order to have a child. A few months later she became pregnant and had a baby girl. Mrs Katoka wanted very much to have a baby. She had had no children for ten years.</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_d">Mrs Katoka wanted very much to have a baby. She had had no children for ten years. The pastor prayed for her in order to have a child. A few months later she became pregnant and had a baby girl.</label>
                        </p>
                        <div class="HeadertopicLabel">READING COMPREHENSION</div>
                        <p>The butterfly is an insect, meaning that it has six legs. The life cycle of a butterfly is an amazing process in nature. In just a few simple steps, a short, stubby caterpillar develops into a beautiful, multi-coloured butterfly.</p>
                        <p>The cycle begins when an adult butterfly lays a handful of tiny round eggs onto a leaf. Compared to humans raising their young, butterflies have such an easy job. They simply find the kind of plant their future offspring will be able to eat, lay their eggs on it, then go on their way. When one of these eggs hatches a larva emerges. The larva is also know as the caterpillar.</p>
                        <p>When the larva emerges, it starts its life by eating the leaf it was born on. It is critical that the mother butterfly lays her eggs on the type of leaf the larva will like to eat.</p>
                        <p>Following the larva stage is the pupa stage. The pupa stage is one of the most magnificent stages of a butterfly's life. As soon as a larva is done growing and has reached its full length and weight, it forms itself into a pupa.</p>
                        <p>Finally, when the larva has done all of its forming, the adult butterfly emerges.</p>
                        <h3>(26) What food does the larva eat first? The larva eats ________ first.</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_a">flowers</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_b">leaves</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_c">roots</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="0000">
                            <label for="q26_d">stems</label>
                        </p>
                        <h3>(27) The word emerge in the passage means ________.</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="0">
                            <label for="q27_a">go in</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="00">
                            <label for="q27_b">come together</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_c">come out</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="0000">
                            <label for="q27_d">change colour</label>
                        </p>
                        <h3>(28) What is the first stage in the life cycle of a butterfly? The first stage in the life cycle of a butterfly is the ________.</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="0">
                            <label for="q28_a">adult</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_b">egg</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="000">
                            <label for="q28_c">larva</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="0000">
                            <label for="q28_d">pupa</label>
                        </p>
                        <h3>(29) A butterfly is an insect because it ________.</h3>
                        <p>
                            <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="0">
                            <label for="q29_a">has wings</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="1">
                            <label for="q29_b">has six legs</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="000">
                            <label for="q29_c">grows in four stages</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="0000">
                            <label for="q29_d">feeds on leaves</label>
                        </p>
                        <h3>(30) According to the passage, the stubby caterpillar is the ________ stage of a butterfly.</h3>
                        <p>
                            <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="0">
                            <label for="q30_a">first</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="00">
                            <label for="q30_b">fourth</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="1">
                            <label for="q30_c">second</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="0000">
                            <label for="q30_d">third</label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='testResponse.test='grade7_test12'">
                        <input type="hidden" name="course" ng-init="testResponse.course='zm_gr7_revision'">
                        <input type="hidden" name="module" ng-init="testResponse.module='literacy'">
                        <div ng-include="'/pmodule/templates/gr7_exam_number.html'"></div>
                        <div ng-include="'/pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>