body{
	font-family: 'Roboto', sans-serif;
	background-color: #B3FFB3;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 #edulution_logo{
    /*background-color:white;*/
 }
.bg_img{
	/*background-image: url('../images/bg-images.png');*/
	height: 379px;
}
.page {
    background-color: rgb(255, 255, 255);
    /*border-top: 8px solid rgb(0, 255, 0);*/
    display: table;
    /*margin: -120px auto 0;*/
    position: relative;
    /*right: -64px;*/
    width: 100%;
}
.pd-lr{
    padding-left: 34px;
    padding-right: 34px;
}
.pd-tb {
    color: rgba(0, 0, 0, 0.87);
    padding: 34px 0;
}
/*.HeaderbannerLabel {
    background-image: url("../images/title-bg.png");
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 39px;
    line-height: 39px;
    margin-left: -34px;
    margin-top: 15px;
    padding-left: 34px;
}*/
.ins {
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.h3, h3 {
    font-size: 20px;
}
/*Radio button*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 28px;
    position: relative;
    
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 2px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #008000;
    border: 2px solid #008000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.half {
    float: left;
    width: 50%;
}
.half div {
    border: 1px solid rgb(204, 204, 204);
    height: 210px;
    margin-bottom: 10px;
    margin-top: 22px;
    padding-top: 77px;
    width: 89%;
}
/*span {
    display: block;
    font-size: 12px;
    margin-bottom: 28px;
}*/
/* Responsive */

/* Responsive */
@media (min-width: 992px) and (max-width: 1200px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 320px) and (max-width: 767px) {
}
