body {
    font-family: 'Roboto', sans-serif;
    background-color: #B3FFB3;
}

span.frac {
    display: inline-block;
    font-size: 75%;
    text-align: center;
    vertical-align: middle
}

.HeaderbannerLabel {
    background-color: rgb(0, 159, 21);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    width: 30%;
}


h3 {
    font-weight: normal;
}

.box {
    display: inline-block;
    background-color: none;
    vertical-align: middle
}
span.frac>sup {
    display: block;
    border-bottom: 1px solid;
    font: inherit;
}

span.frac>span {
    display: none;
}

span.icon>span {
    display: inline-block;
    font-size: 1.1em
}

span.frac>sub {
    display: block;
    font: inherit;
}


.h3, h3 {
    font-size: 20px;
}
/*Radio button*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 28px;
    position: relative;
    
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 2px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #008000;
    border: 2px solid #008000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.half {
    float: left;
    width: 50%;
}
.half div {
    border: 1px solid rgb(204, 204, 204);
    height: 210px;
    margin-bottom: 10px;
    margin-top: 22px;
    padding-top: 77px;
    width: 89%;
}


/* Responsive */
@media (min-width: 992px) and (max-width: 1200px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 320px) and (max-width: 767px) {
}
