/* Body  */
body{
    text-align:center;
    overflow-x: hidden;
  }
  
  /* Navbar Height */
  .navbar {
    height:100px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }

  .navbar-default{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  
  /* Navbar background-color */
  .navbar_background {
    /* background-color: #fff; */
    color:#f1f1f1f1;
    background-color: rgb(7, 29, 73);
  }
  
  .titleclear{
    padding-top:-100.8%;
    padding-bottom:-2%;
  }
  
.refesh_btn {
    color: #f1f1f1f1;
    background-color:#00A546;
    margin-left: 92%;
    margin-top: -12%;;
}

.index_button{
    padding-bottom:10%;
    margin-left: 69%;

}
.index_btn {
    color: #f1f1f1f1;
    background-color:#00A546;
    border: rgb(7, 29, 73);
    margin-left:100%;
    margin-top: -30%;
}
   
/* Title header */
.title_header{
    color:#f1f1f1f1;
    font-size:36px;
    margin-top:2%;
    margin-left:-80%;
  }
   
/*  End Media Query */

/* Media Query Center Laptop   */
@media (max-width : 1366px){

.logos > .navbar-brand {
    left: -2%;
    position:absolute;
}

.logo img{
    /* margin:10px 0 0 15px; */
    margin-left:2%;
    margin-top:-20%;
    width: 260px;
      
} 
    
/* Title header  */
.title_header{
    color:#f1f1f1f1;
    font-size:37px;
    margin-top:2%;
    margin-left:-90%;
}
    
}
/*  End Media Query */


/*Container div for topnav elements*/
#bottomnav{
    
    background-color: rgb(7, 29, 73);
    padding-top: 1.6%;
    padding-bottom: -5%;
    margin-top: -1%;
    margin-bottom: 1%;
}

.navbar{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

}

.nav-tabs{
    margin-top:0.7%;
    border-bottom:none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 100% solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    margin-top: 1%;
    border-bottom-color: transparent;
    }

.na

.nav > li > a{
    color: white
}

/*pagination styles*/
.pagination > .active > a, .pagination > .active > a:hover{
    background-color:#00A546;
    border-color:#00A546; 
}
.pagination > li > a{
    color:#00A546;
}

/*scoped styles for the learners tab only*/
.learners table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 800px; /* this can vary */
}

.learners .table>thead>tr>th {
    border-top: 0 !important;
    border-bottom: 0 !important;
    }

.learners table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.learners thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F0F0F0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.learners tbody {
    overflow-y: scroll;
    display: inline-block;
}

.learners thead > tr, .learners tbody > tr, .learners tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.learners thead, tfoot {
    flex-shrink: 0;
}

.learners th, .learners tbody td {
    width: 25%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.learners tfoot {
    display: inline-block;
}

.learners tfoot td {
    width: 100%;
    display: inline-block;
}


/*scoped styles for responses tab only*/
#responses_search {
    width: 40%;
}
.responses table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 800px; /* this can vary */
}

.responses .table>thead>tr>th {
    border-top: 0 !important;
    border-bottom: 0 !important;
    }

.responses table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.responses thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F0F0F0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.responses tbody {
    overflow-y: scroll;
    display: inline-block;
}

.responses thead > tr, .responses tbody > tr, .responses tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.responses thead, tfoot {
    flex-shrink: 0;
}

.responses th, .responses tbody td {
    width: 14.3%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.responses tfoot {
    display: inline-block;
}

.responses tfoot td {
    width: 100%;
    display: inline-block;
}


.result_section_block{
    border: 1px solid white;
    color: white;
    text-align: center;
}


/*TODO: New colors for test results and results by section tabs*/
.score_background_{
    background-color:#D9D9D9
}
.score_background{
    background-color:#FF412A
}
.score_background{
    background-color:#EC9090
}
.score_background{
    background-color:#F5C216
}
.score_background{
    background-color:#99CC33
}
.score_background{
    background-color:#00B050
    }


/* RESPONSIVE QUERIES FOR NAV-BAR */

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


  @media (max-width : 911px){
    .nav-tabs{
        margin-top:5%;
        border-bottom:none;
    }
  }
