
#navlogo{
	background-image:url('../images/coachDashboard/edlogo.png');
	width:20%;
	height:100%;
	background-repeat: no-repeat;
}
#navtitle{
	width: 80%;
	text-align: center;
}

#navtitle > h1{
	color: white;
}

.navbar{
	margin-bottom: 0;
	border:0;
	border-radius: 0;
}
.nav-tabs{
	border-bottom: 0
}
#topnav,#bottomnav{
	background: #00A546;
	padding-top: 0.5%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
        border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    }

.nav > li > a{
	color: white
}
