body {
    background-color: #265a88 !important;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
}

.radio_container {
    margin: 25px !important;
    padding: 10px 0;
    font-size: 17px;
    border-radius: 20px !important;
    cursor: pointer !important;
    margin-left: 15px !important;
    justify-content: space-between !important;
    margin: 0 auto;
    margin-left: 30px !important;

}

input+label {
    margin-right: 30px;
}

.radio {
    display: inline-flex !important;
    align-items: center;
    cursor: pointer !important;
    margin-right: 10px;
    margin-left: 15px !important;


}

h2 {
    font-weight: 400 !important;
    font-size: 28px !important;
    margin: 15px;
}

#edulution_logo {
    width: 80%;
    padding-left: 20%;
}


h3 {
    font-size: 20px !important;
    font-weight: normal !important;
    margin-left: 15px;
}

.row {
    background-color: #265a88;
    margin-right: 15px;
    margin-left: 15px;
}


input[type=text] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(201, 201, 201);
    width: 250px;
    font-size: 15px;
    font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

input[type=text-1] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(201, 201, 201);
    width: 250px;
    font-size: 15px;
    font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin-left: 15px;
}

.responsive {
    width: 50%;
    height: 50%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10%;
}

.username {
    background-color: rgb(0, 159, 21);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    /*padding-left: 34px;*/
    /*margin-left: -30px;*/
    font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
    padding: 8px 8px 8px 34px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 45%;
    margin-left: 15px;
}

.instructions {
    background-color: rgb(0, 159, 21);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    /*padding-left: 34px;*/
    /*margin-left: -30px;*/
    font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
    padding: 8px 8px 8px 34px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 45%;
    margin-left: 15px;
}

.ins {
    margin: 15px;
    font-size: 15px;
}

.survey {
    background-color: rgb(0, 159, 21);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    /*padding-left: 34px;*/
    /*margin-left: -30px;*/
    font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
    padding: 8px 8px 8px 34px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 45%;
    margin-left: 15px;
}


form {
    background-color: #fff;
    width: auto;
    margin: 20% auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 3% !important;
    margin-bottom: 3%;
}

.checkbox {
    margin: 40px;
    padding: 5px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
    font-size: 17px;
    padding-left: 0.8em;
    padding-top: 0.6em;

}

input[type=submit] {
    padding: 5px 15px;
    /*background: rgb(13, 155, 207);*/
    color: white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


input[type=checkbox],
input[type=radio] {
    transform: scale(1.5);
}


#suveysubmit-btn {
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    line-height: 30px;
    min-width: 88px;
    text-transform: uppercase;
    margin-top: 50px;
}