/* Body  */

body{
    
    text-align:center;
    overflow-x: hidden;
}

/* Navbar background-color */

.navbar_background {
    /* background-color: #fff; */
    background-color: rgb(7, 29, 73);
   

}

.edulution_portal_logo {
  height: 100%;
  width: auto;
  text-align: center;
}

.edulution_portal_logo_img {
    height:360px;
    margin:-100px;
}


/*background for image buttons on landing page*/
.icon_background {
        
    width: 352px;
    height:322px; 
    /* width:250px;
    height:250px; */
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 6px 6px 2.5px grey;
    padding-bottom: 10px;
}


/* Main index background */
.mainBackground {
    /* background:-webkit-linear-gradient(#D3E8BF,#60713E);
    background:-o-linear-gradient(#D3E8BF,#60713E);
    background:-moz-linear-gradient(#D3E8BF,#60713E);
    background:linear-gradient(#D3E8BF,#60713E) fixed; */
    background-color:#fff;
}

/* Background Pre Alpha  */
.prealpha {
    background-color:#F4D19C;
    /* background:-webkit-linear-gradient(#D3E8BF,#F4D19C);
    background:-o-linear-gradient(#D3E8BF,#F4D19C);
    background:-moz-linear-gradient(#D3E8BF,#F4D19C);
    background:linear-gradient(#D3E8BF,#F4D19C) fixed; */
}

/* Background Alpha */
.alpha {
    background-color: #CCFFCC;
    /* background:-webkit-linear-gradient(#D3E8BF,#CCFFCC);
    background:-o-linear-gradient(#D3E8BF,#CCFFCC);
    background:-moz-linear-gradient(#D3E8BF,#CCFFCC);
    background:linear-gradient(#D3E8BF,#CCFFCC) fixed; */
}


/* Background Bravo */
.bravo {
    background-color:#C5D9F1;
    /* background:-webkit-linear-gradient(#f5f5f5);
    background:-o-linear-gradient(#f5f5f5);
    background:-moz-linear-gradient(#f5f5f5);
    background:linear-gradient(#f5f5f5) fixed; */
}

/* Background Charlie */
.charlie {
    background-color:#FDE9D9;
    /* background:-webkit-linear-gradient(#D3E8BF,#FDE9D9);
    background:-o-linear-gradient(#D3E8BF,#FDE9D9);
    background:-moz-linear-gradient(#D3E8BF,#FDE9D9);
    background:linear-gradient(#D3E8BF,#FDE9D9) fixed; */
}


/* Image Align */
img {
    align:left;
}


.mainBody {
    text-align:center;
}

/* Clear */
.clear {
    padding-top:10px;
}

/* Clear */
.clearfooter {
    padding-top: 60px;
}


/* Curved Accordion */
.panel-heading {
     border-top-radius:5px;
     border-bottom-radius:5px;
  
}

/* PRE ALPHA HEADING */
#prealpha-heading {
    background-color: #F4D19C;
    border: #F4D19C;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}


/* ALPHA HEADING */
#alpha-heading {
    background-color: #CCFFCC;
    border: #CCFFCC;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}

/* BRAVO */
#bravo-heading {
    background-color: #C5D9F1;
    border: #C5D9F1;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}

/* CHARLIE */
#charlie{
    background-color:#FDE9D9;
    border:#FDE9D9;
    box-shadow:2px 2px 2px 2px #3F3F3F
}

/* .spacing{
  padding-top:300px;
} */

.index_button{
  padding-bottom:20px;
  
}
.index_btn {
  color: #f1f1f1f1;
  background-color:rgb(7, 29, 73);
  box-shadow: 2px 2px 2px 2px #3F3F3F; 
  border: rgb(7, 29, 73);
  margin-left:215px;
 
}


/* Added Green Buttons */
/* .btn-button { */
    /* background-color: #3D8D54; */
    /* background-color:rgb(7, 29, 73);  */
/* } */

.index-of-topics-btn{
    margin: 10px;
    color: #f1f1f1f1;
}




img .images {
    text-align: right;
}

/* Icons for each lesson */
.icons{
    margin-right:500px;
}

/* Align Panel header */
.panel-headers {
    text-align: justify;
    /* text-align:inherit; */
    margin-top: -30px;
}


.gr7_test_panel_container a:hover{
    text-decoration: none
}

/*kolibri logo image btn on landing page*/
.kolibri_logo_btn{
    /* width: 352px; */
    width:312px;
    height:285px;
}

.numeracy_assessments_btn{
    width: 250px;
    height:250px;
}




/*remove text decoration on text inside img button*/
.img_btn_container a{
    text-decoration: none;
}

.icon_texts {
    font-size: 22px;
    font-weight: bold;
}

.img_btns_row{
    margin-right:5%;
    margin-bottom: 3%;
}


.button_spacing{
    padding-bottom: 10px; 
}




  
.kolibri_logo_btn{
    /* width: 325px; */
    /* height:285px; */
    width: 80%;
    height:80%;
    
}

.numeracy_assessments_btn{
    /* width: 250px;
    height:250px; */

    width: 80%;
    height:80%;
}

  
    

.edulution_portal {
    padding-top:5%;
    text-align: center;
    font-size: 2.2em;
    font-family: Roboto;
    padding-left: 24%;
}

/*green grade 7 test panel*/
.gr7_test_panel_green{
    background-color: #CCFFCC !important;
    border: #CCFFCC;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}

/*white grade 7 test panel*/
.gr7_test_panel_white{
    background-color: white !important;
    border: #CCFFCC;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}

/* wwe */
.index_of_topics_button {
    /* margin-top:-1%; */
    margin-left : 68.5%;
    /* margin-bottom: 5%; */
}


/* Sidebar */
/* Style the tab */
.tab {
   
    border: 1px solid #ccc;
    background-color: rgb(7, 29, 73);
    /* width: 30%;
    height: 600px; */
    margin: 0;
    padding: 0;
    width: 30%;
    position: fixed;
    height: 100%;
    /* position: relative; */
    /* float: left; */
    /* position: fixed; */
    /* z-index: 1; 
    top: 0;
    left: 0;
    overflow-y: scroll; */
    overflow-x: hidden;
    color:#fff;
  }

  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: #fff;
    padding: 30px 56px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 100%;
    
  }



  /* course content text */
  .course_content_text{
      padding-left:10%;
      text-align:justify;
  }

  .archor_color {
      color: #fff;
  }

  #home_backgroundcolor {
    background: #ccc;
  }

  #prealpha_backgroundcolor {
    background: #6CACE4;
  }

  #alpha_backgroundcolor {
    background:#84BD00;;
  }

  #bravo_backgroundcolor {
    background: #7474C1;
  }

  /* Button Text for all the Playlist  */
  .button_prealpha_text {
      
    font-size: 24px;
    color:#6CACE4;
  }


  .button_alpha_text {
      
    font-size: 24px;
    color:#84BD00;
  }


  .button_bravo_text {
      
    font-size: 24px;
    color:#7474C1;
  }

  /* End  */

  /* Footer */
.version_number{
      margin-bottom: -130%;
       margin-top: -3%;
    
  }




  /* testing sidebar */
  .sidebar {
    margin: 0;
    padding: 0;
    width: 30%;
    /* height: 600px; */
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 50px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


