/* Body  */

body{
    
    text-align:center;
    font-family:"Arial,Helvetica,sans-serif";

}

/* Navbar background-color */

.Navbackground {
    background-color: #fff;
    
}

.edulution_portal {
    padding-top:6%;
    text-align: center;
    font-size: 2.2em;
    padding-left: 24%;
    font-family: Roboto;
}

/* Main index background */
.mainBackground {
    background:-webkit-linear-gradient(#D3E8BF,#60713E);
    background:-o-linear-gradient(#D3E8BF,#60713E);
    background:-moz-linear-gradient(#D3E8BF,#60713E);
    background:linear-gradient(#D3E8BF,#60713E) fixed;
}

/* Background Pre Alpha  */
.prealpha {
    background-color:#F4D19C;
    /* background:-webkit-linear-gradient(#D3E8BF,#F4D19C);
    background:-o-linear-gradient(#D3E8BF,#F4D19C);
    background:-moz-linear-gradient(#D3E8BF,#F4D19C);
    background:linear-gradient(#D3E8BF,#F4D19C) fixed; */
}

/* Background Alpha */
.alpha {
    background-color: #CCFFCC;
    /* background:-webkit-linear-gradient(#D3E8BF,#CCFFCC);
    background:-o-linear-gradient(#D3E8BF,#CCFFCC);
    background:-moz-linear-gradient(#D3E8BF,#CCFFCC);
    background:linear-gradient(#D3E8BF,#CCFFCC) fixed; */
}


/* Background Bravo */
.bravo {
    background-color:#C5D9F1;
    /* background:-webkit-linear-gradient(#f5f5f5);
    background:-o-linear-gradient(#f5f5f5);
    background:-moz-linear-gradient(#f5f5f5);
    background:linear-gradient(#f5f5f5) fixed; */
}

/* Background Charlie */
.charlie {
    background-color:#FDE9D9;
    /* background:-webkit-linear-gradient(#D3E8BF,#FDE9D9);
    background:-o-linear-gradient(#D3E8BF,#FDE9D9);
    background:-moz-linear-gradient(#D3E8BF,#FDE9D9);
    background:linear-gradient(#D3E8BF,#FDE9D9) fixed; */
}


/* Image Align */
img {
    align:left;
}


/* Headers H3 Color */
.h3_color{
    color: #fff;
}

.mainBody {
    text-align:center;
}

/* Clear */
.clear {
    padding-top:10px;
}

/* Clear */
.clearfooter {
    padding-top: 60px;
}


/* Curved Accordion */
.panel-heading {
     border-top-radius:5px;
     border-bottom-radius:5px;
  
}

/* PRE ALPHA HEADING */
#prealpha-heading {
    background-color: #F4D19C;
    border: #F4D19C;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}


/* ALPHA HEADING */
#alpha-heading {
    background-color: #CCFFCC;
    border: #CCFFCC;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}

/* BRAVO */
#bravo-heading {
    background-color: #C5D9F1;
    border: #C5D9F1;
    box-shadow: 2px 2px 2px 2px #3F3F3F;
}

/* CHARLIE */
#charlie{
    background-color:#FDE9D9;
    border:#FDE9D9;
    box-shadow:2px 2px 2px 2px #3F3F3F
}


/* Added Green Buttons */
.btn-button {
    background-color: #3D8D54;
   
}

#index-of-topics-btn{
    /* float: left;
    margin-left: 20%;
    padding: 3%; */
    /*background-color: #159B15;*/
    box-shadow: 2px 2px 2px 2px #3F3F3F;
    border: #159B15;
}


img .images {
    text-align: right;
}

/* Icons for each lesson */
.icons{
    margin-right:500px;
}

/* Align Panel header */
.panel-headers {
    text-align: justify;
    /* text-align:inherit; */
    margin-top: -30px;
}

.gr7_test_panel a:hover{
    text-decoration: none
}


/*kolibri logo image btn on landing page*/
.kolibri_logo_btn{
    /* width: 352px; */
    width:312px;
    height:285px;
}

.numeracy_assessments_btn{
    width: 250px;
    height:250px;
}

/*background for image buttons on landing page*/
.icon_background {
        
    width: 352px;
    height:322px;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 6px 6px 2.5px grey;
    padding-bottom: 10px;
}


/*remove text decoration on text inside img button*/
.img_btn_container a{
    text-decoration: none;
}

.texts {
    font-size: 25px;
    font-weight: bold;
}

.img_btns_row{
    margin-bottom: 3%;
}


.button_spacing{
    padding-bottom: 10px; 
}


/* @media screen and (max-width: 1024px)  */
@media screen and (max-width: 1024px) and (min-width: 911px)
{

    .image_space{
        margin-right:20%;
    }

    .icon_background {
        
        width: 352px;
        height:322px;
        background: whitesmoke;
        border-radius: 20px;
        box-shadow: 6px 6px 2.5px grey;
        padding-bottom: 10px;
    }

    .kolibri_logo_btn{
        /* width: 325px; */
        /* height:285px; */
        width: 80%;
        height:80%;
       
    }

    .numeracy_assessments_btn{
        /* width: 250px;
        height:250px; */

        width: 80%;
        height:80%;
    }

  
    
.button_spacing{
    padding-bottom: 10px; 
}

.edulution_portal {
    padding-top:5%;
    text-align: center;
    font-size: 2.2em;
    font-family: Roboto;
    padding-left: 24%;
}

  
  }
  


/* 
#literacy-assessments-btn{
    float: right;
    margin-right: 2%;
    padding: 3%; */
    /*background-color: #159B15;*/
    /* box-shadow: 2px 2px 2px 2px #3F3F3F;
    border: #159B15;
} */