/*select module dropdown to be same height as other search bar and have enough width*/
.module_select_dropdown{
    width: 100%;
    height: 100%;
}

/*up-down arrows when user sorts table by column*/
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

#navlogo{
    /*background-image:url('../images/coachDashboard/edlogo_new.svg');*/
    width:20%;
    height:100%;
    background-repeat: no-repeat;
}
#navtitle{
    width: 80%;
    text-align: center;
}

#navbalancer{
    width: 20%;
}

#navtitle > h1{
    color: white;
}

.navbar{
    margin-bottom: 0;
    border:0;
    border-radius: 0;
}
.nav-tabs{
    border-bottom: 0
}

/*Div that contains refresh button*/
/*text has width of 80%*/
#navbuttons{
    width:20%;
}

/*Container div for topnav elements*/
#topnav_container{
    display: flex;
}

#topnav,#bottomnav{
    background: #071D49;
    padding-top: 0.5%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
        border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
    }

.nav > li > a{
    color: white
}

/*pagination styles*/
.pagination > .active > a, .pagination > .active > a:hover{
    background-color:#00A546;
    border-color:#00A546; 
}
.pagination > li > a{
    color:#00A546;
}



/*scoped styles for results tab only*/
#responses_search {
    width: 30%;
}

.results table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 800px; 
}

.results .table>thead>tr>th {
    border-top: 0 !important;
    border-bottom: 0 !important;
    }


.results table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.results thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #F0F0F0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.results tbody {
    overflow-y: scroll;
    display: inline-block;
}

.results thead > tr, .results tbody > tr, .results tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.results thead, tfoot {
    flex-shrink: 0;
}

.results th, .results tbody td {
    width: 14.3%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.results tfoot {
    display: inline-block;
}

.results tfoot td {
    width: 100%;
    display: inline-block;
}


.result_section_block{
    border: 1px solid white;
    color: white;
    text-align: center;
}

#get_results_form{
    padding-top: 1%;
    padding-bottom: 0.5%;
}
/*
#stats_container{
    padding-top: 2%
}

#stats_iframe{
    width: 100%;
    height: 100vh;
    border: none;
}*/