<!DOCTYPE html>
<html ng-app="passProtect">

<head>
    <title>Level 6 Section 2 Test </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/no_back_please.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/angular-md5.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- Run init function when page opens -->
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="form.testForm">
                        <p class="test_name">Level 6 Section 2 Test</p>
                        <usernameinput></usernameinput>
                        <!-- Input fiels for user_id contains some js code for validation -->
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Test is for 15 marks.<br>Use a pencil and paper to do all your working out.<br>Select the most correct answer to each question.<br>You may NOT use a calculator to help you.<br>You have 30 Minutes to complete this test.<br>Ask your coach if you are not sure how to answer the questions.</div>
                        <div class="HeaderbannerLabel">TEST</div>
                        <h3>(1) Select an expression equivalent to 4<sup>11</sup> &times; 4<sup>9</sup></h3>
                        <p>
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_a">4<sup>20</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b">4<sup>99</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c">16<sup>20</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0000">
                            <label for="q1_d">16<sup>99</sup></label>
                        </p>
                        <h3>(2) Select an expression equivalent to (2<sup>3</sup>)<sup>6</sup></h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">2<sup>9</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">2<sup>18</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">6<sup>6</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">8<sup>9</sup></label>
                        </p>
                        <h3>(3) Solve for y when 5y = 20</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_a">y = 4</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_b">y = 20</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">y = 15</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">y = 100</label>
                        </p>
                        <h3>(4) Solve for <i>&alpha;</i> when &minus;4<i>&alpha;</i> = 5</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a"><i>&alpha;</i> = &minus;20</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_b"><i>&alpha;</i> = &minus;1<span class="frac"><sup>1</sup><sub>4</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_c"><i>&alpha;</i> = <span class="frac"><sup>4</sup><sub>5</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d"><i>&alpha;</i> = 1<span class="frac"><sup>1</sup><sub>4</sub></span></label>
                        </p>
                        <h3>(5) Solve for <i>&alpha;</i> when &minus;5 &plus; <i>&alpha;</i> = 13</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a"><i>&alpha;</i> = 8</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_b"><i>&alpha;</i> = 18</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c"><i>&alpha;</i> = &minus;18</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d"><i>&alpha;</i> = &minus;8</label>
                        </p>
                        <h3>(6) Solve for <i>p</i> when 2<i>p</i> &plus; 7 = 21</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a"><i>p</i> = &minus;7</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_b"><i>p</i> = 7</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_c"><i>p</i> = 3</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_d"><i>p</i> = <span class="frac"><sup>3</sup><sub>2</sub></span></label>
                        </p>
                        <h3>(7) Solve for <i>q</i> when 3<i>q</i> &minus; 4 = &minus;9<i>q</i> &plus; 8</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a"><i>q</i> = &minus;1</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_b"><i>q</i> = 1</label>
                        </p>
                        <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="000">
                        <label for="q7_c"><i>q</i> = 12</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d"><i>q</i> = &minus;12</label>
                        </p>
                        <h3>(8) Solve for x when 4(2x &minus; 1) = 30 &minus; 2(x + 7).</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_a">x = 2</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">x = 5</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_c">x = 8</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_d">x = 10</label>
                        </p>
                        <h3>(9) Calculate <span class="frac"><sup>3</sup><sub>6</sub></span> &times; ( &minus; <span class="frac"><sup>4</sup><sub>5</sub></span>)</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a"><span class="frac"><sup>2</sup><sub>5</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b"><span class="frac"><sup>5</sup><sub>2</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_c">&minus;<span class="frac"><sup>2</sup><sub>5</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_d">&minus;<span class="frac"><sup>7</sup><sub>11</sub></span></label>
                        </p>
                        <h3>(10) Calculate &minus;2<span class="frac"><sup>1</sup><sub>4</sub></span> &times; &minus;5<span class="frac"><sup>2</sup><sub>3</sub></span></h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">&minus; 12<span class="frac"><sup>3</sup><sub>4</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b">&minus;<span class="frac"><sup>4</sup><sub>51</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c"><span class="frac"><sup>4</sup><sub>51</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_d">12<span class="frac"><sup>3</sup><sub>4</sub></span></label>
                        </p>
                        <h3>(11) Calculate 8 &divide; <span class="frac"><sup>4</sup><sub>5</sub></span></h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a"><span class="frac"><sup>2</sup><sub>5</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_b">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">6,4</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_d">2</label>
                        </p>
                        <h3>(12) Calculate &minus;<span class="frac"><sup>3</sup><sub>7</sub></span> &divide; <span class="frac"><sup>9</sup><sub>21</sub></span></h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_a">&minus;1</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b"><span class="frac"><sup>9</sup><sub>49</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">&minus;<span class="frac"><sup>9</sup><sub>49</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_d">1</label>
                        </p>
                        <h3>(13) Calculate 9<span class="frac"><sup>2</sup><sub>7</sub></span> &divide; (&minus;2<span class="frac"><sup>1</sup><sub>2</sub></span>)</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_a">&minus;3<span class="frac"><sup>5</sup><sub>7</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">&minus;<span class="frac"><sup>7</sup><sub>26</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_c"><span class="frac"><sup>7</sup><sub>26</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">3<span class="frac"><sup>5</sup><sub>7</sub></span></label>
                        </p>
                        <h3>(14) Calculate (<span class="frac"><sup>1</sup><sub>3</sub></span> &plus; <span class="frac"><sup>1</sup><sub>6</sub></span>) &divide; <span class="frac"><sup>1</sup><sub>7</sub></span></h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_a"><span class="frac"><sup>1</sup><sub>2</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b"><span class="frac"><sup>2</sup><sub>7</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c"><span class="frac"><sup>3</sup><sub>9</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_d">3<span class="frac"><sup>1</sup><sub>2</sub></span></label>
                        </p>
                        <h3>(15) Calculate (2<span class="frac"><sup>2</sup><sub>9</sub></span> &minus; 1<span class="frac"><sup>1</sup><sub>6</sub></span>) &divide; <span class="frac"><sup>1</sup><sub>6</sub></span></h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a"><span class="frac"><sup>3</sup><sub>19</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="00">
                            <label for="q15_b"><span class="frac"><sup>18</sup><sub>19</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_c">1<span class="frac"><sup>1</sup><sub>18</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_d">6<span class="frac"><sup>1</sup><sub>3</sub></span></label>
                        </p>
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='level_6_sec_2'">
                        <input type="hidden" name="course" ng-init="testResponse.course='level_6'">
                        <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                        <coachsection></coachsection>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>