<!DOCTYPE html>
<html ng-app="passProtect">

<head>
    <title>Math Assessment</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/no_back_please.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/angular-md5.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- Run init function when page opens -->
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="form.testForm">
                        <p class="test_name">Math Assessment</p>
                        <usernameinput></usernameinput>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Test is for 20 marks.<br>Use a pencil and paper to do all your working out.<br>Select the most correct answer to each question.<br>You may NOT use a calculator to help you.<br>You have 45 minutes to complete this test.<br>Ask your coach if you are not sure how to answer the questions.</div>
                        <div class="HeaderbannerLabel">TEST</div>
                        
                        <h3>(1) Find the sum of 665 986 and 294 857</h3>
                        <p>
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_a">960 843</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b">960 743</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c">371 129</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0000">
                            <label for="q1_d">370 128</label>
                        </p>

                        <h3>(2) Calculate: 924 571 – 899 009</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">25 578</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">25 562</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">25 568</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">25 572</label>
                        </p>

                        <h3>(3) What is the next number in the sequence 1, 4, 9, 16, _________</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">18</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_b">25</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">19</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">24</label>
                        </p>

                        <h3>(4) Find the Highest Common Factor of 9 and 12</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">12</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_b">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_c">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d">1</label>
                        </p>

                        <h3>(5) Find the next number in the sequence below: 98, 92, 86, 80, _________</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a">78</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="00">
                            <label for="q5_b">64</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_c">68</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_d">74</label>
                        </p>
                        
                        <h3>(6) A school has 462 books and buys 53 more books. How many books does the school have altogether?</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_a">409</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_b">415</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_c">419</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_d">515</label>
                        </p>
                        
                        <h3>(7) The mass of a metal is 25.73kg. This mass when written to 1 decimal place is:</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a">25.0kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="00">
                            <label for="q7_b">26.0kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_c">25.8kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_d">25.7kg</label>
                        </p>
                        
                        <h3>(8) Calculate 320.64 – 281.59 =</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_a">49.15</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">49.05</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_c">39.05</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_d">39.15</label>
                        </p>
                        
                        <h3>(9) A regular polygon with 4 sides is called:</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">Pentagon</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b">Rhombus</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_c">Square</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_d">Hexagon</label>
                        </p>
                        
                        <h3>(10) A boy has two pieces of wire measuring 3.45m and 1.9m. Find the total length of wire the boy has:</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_a">5.35m</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b">2.55m</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c">5.45m</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_d">6.35m</label>
                        </p>
                        
                        <h3>(11) Calculate: 972 ÷ 12 =</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a">71</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_b">81</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">91</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_d">101</label>
                        </p>
                        
                        <h3>(12) A girl had 12 mangoes. She gave out "Y" mangoes and remained with 3 mangoes. Find the value of "Y".</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_a">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_c">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_d">36</label>
                        </p>
                        
                        <h3>(13) After sporting activities, 14 boys shared 126 bananas equally. How many bananas did each boy get?</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_b">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_c">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">12</label>
                        </p>
                        
                        <h3>(14) Calculate: 257 x 32 =</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_a">7,824</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b">7,924</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_c">8,224</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_d">8,424</label>
                        </p>
                        
                        <h3>(15) A girl bought the following items: milk at K35.00, tomatoes at K10.00 and sugar at K26.50. How much did she spend?</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a">K61.50</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_b">K71.50</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_c">K69.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_d">K45.00</label>
                        </p>
                        
                        <h3>(16) If 4 books cost K52.00, what is the cost of 2 books of the same type?</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_a">K13.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_b">K26.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="000">
                            <label for="q16_c">K28.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_d">K104.00</label>
                        </p>
                        
                        <h3>(17) A packet of sugar costs K40.00. How much will 5 packets of the same size cost?</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_a">K45.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="00">
                            <label for="q17_b">K160.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_c">K200.00</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_d">K180.00</label>
                        </p>
                        
                        <h3>(18) A youth club has "X" number of boys and 39 girls. If the club has 72 members altogether, find how many members are boys.</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_a">111</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_b">33</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="00">
                            <label for="q18_c">39</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_d">28</label>
                        </p>
                        
                        <h3>(19) Calculate: 5 + (3 x 7) - 2 =</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_a">56</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="00">
                            <label for="q19_b">40</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_c">24</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_d">42</label>
                        </p>
                        
                        <h3>(20) Calculate: 124 x 12 =</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_a">1,388</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_b">1,488</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="00">
                            <label for="q20_c">1,288</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_d">1,588</label>
                        </p>

                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- Hidden fields for test, course and module -->
                        <input type="hidden" name="test" ng-model="testResponse.test='math_assessment'">
                        <input type="hidden" name="course" ng-model="testResponse.course='math_quiz'">
                        <input type="hidden" name="module" ng-model="testResponse.module='numeracy'">
                        <coachsection></coachsection>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html> 