<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
    <title>Alpha C2</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">
    <style>
    .HeaderbannerLabel {
        background-color: rgb(0, 159, 21);
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        font-weight: 500;
        padding-left: 34px;
        margin-left: -30px;
        font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        padding: 8px 8px 8px 34px;
        margin-top: 30px;
        margin-bottom: 25px;
        width: 45%;
    }
    p {
        font-size: 16px;
    }

    h3 {
        font-weight: normal;
    }
    </style>
</head>

<body ng-controller="ModalDemoCtrl as ctrl" style="background-color: rgb(179, 255, 179); font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <!-- TODO: Add inline script for passowrd modal -->
    <!-- Password modal -->
    <script type="text/ng-template" id="testModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">The Coach should enter the password</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <label class="item item-input">
                <input ng-model="password" type="password" class="form-control" id="passwordInput" required>
            </label>
            <p class="password-error" ng-show="wrongPassword==true">Sorry, that is not the correct password. Please try again</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="$ctrl.checkPassword(password)">OK</button>
            <button class="btn btn-danger" type="button">Cancel</button>
        </div>
    </script>
    <!-- TODO: Add tag to instantiate modal when page opens-->
    <span ng-init=ctrl.openModal()></span> 
    <section class="container-fluid" style="margin: auto; width: 640px !important; background-color: white;">
        <div class="row">
            <div class="container page">
                <div class="row">
                    <div id="edulution_logo">
                        <img src="images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <div class="pd-tb">
                        <div class="pd-lr">
				<form action="/submit_test" name="testForm1" method="post">
                            <p style="box-sizing: border-box; font-size: 34px; line-height: 135%; max-width: 100%; min-width: 0%;">Alpha C2</p>
                            <div class="HeaderbannerLabel">USERNAME</div>
                          <!-- Input fiels for user_id contains some js code for validation -->
                          <label for="username" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Username</label>
                          <input type="text" autocomplete="off" id="user_id" name="username" ng-model="test_response.username" whitelist style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                          <span class="password-error" ng-show="testForm1.$dirty && testForm1.username.$error.whitelist">Please enter a valid Student ID</span>
                          <div style="color:rgb(219, 68, 55);font-size: 13px;margin-top: 22px;"></div>
                            <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                            <div class="ins">Time allowed: 60 minutes <br>Ask your coach if you are not sure how to answer the questions</div>
                            <div class="HeaderbannerLabel">ASSESSMENT</div>
                            <!-- TODO: Add form name,action and method -->
                            <!-- <form name="testForm" action="/submit_test" method="post"> -->
                                <h3>(1) Please close the curtains all the way.</h3>
                                <p>Identify the type of the question.</p>
                                <p>
                                    <!-- TODO: Add value attribute to each radio button -->
                                    <!-- Each group of radio buttons with the same name corresponds to one question -->
                                    <!-- Wrong answers are 0, correct answer is 1 -->
                                    <!-- Example below -->
                                    <!-- <input type="radio" id="test1" name="q1" value="0"> -->
                                    <input type="radio" id="q1_a" name="q1" value="0">
                                    <label for="q1_a">a statement</label>
                                </p>
                                <p>
                                    <input type="radio" id="q1_b" name="q1" value="1">
                                    <label for="q1_b">a command</label>
                                </p>
                                <p>
                                    <input type="radio" id="q1_c" name="q1" value="0">
                                    <label for="q1_c">an exclamation</label>
                                </p>
                          
                                <h3>(2) Which is a complete sentence?</h3>
                                <p>
                                    <input type="radio" id="q2_a" name="q2" value="0">
                                    <label for="q2_a">We wanted a snack we ate some cherries.</label>
                                </p>
                                <p>
                                    <input type="radio" id="q2_b" name="q2" value="1">
                                    <label for="q2_b">My grandmother chews her food carefully.</label>
                                </p>
                                                      
                                <h3>(3) Which is a complete sentence?</h3>
                                <p>
                                    <input type="radio" id="q3_a" name="q3" value="1">
                                    <label for="q3_a">The fertiliser will help the vegetable grow.</label>
                                </p>
                                <p>
                                    <input type="radio" id="q3_b" name="q3" value="0">
                                    <label for="q3_b">My father gave my mother a bunch of flowers, she hugged him.</label>
                                </p>
                                                         
                                <h3>(4) The market is next to the hospital.</h3>
                                <p>Select the TWO nouns.</p>
                                <p>
                                    <input type="checkbox" id="q4_a" name="q4" value="-1">
                                    <label for="q4_a">The</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="q4_b" name="q4" value="0.5">
                                    <label for="q4_b">market</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="q4_c" name="q4" value="-1">
                                    <label for="q4_c">is</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="q4_d" name="q4" value="-1">
                                    <label for="q4_d">next</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="q4_e" name="q4" value="-1">
                                    <label for="q4_e">to</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="q4_f" name="q4" value="-1">
                                    <label for="q4_f">the</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="q4_g" name="q4" value="0.5">
                                    <label for="q4_g">hospital</label>
                                </p>

                                                   
                                <h3>(5) Evelyn will drive to the lake tomorrow.</h3>
                                <p>Select the ONE proper noun.</p>
                                <p>
                                    <input type="radio" id="q5_a" name="q5" value="1">
                                    <label for="q5_a">Evelyn</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_b" name="q5" value="0">
                                    <label for="q5_b">will</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_c" name="q5" value="0">
                                    <label for="q5_c">drive</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_d" name="q5" value="0">
                                    <label for="q5_d">to</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_e" name="q5" value="0">
                                    <label for="q5_e">the</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_f" name="q5" value="0">
                                    <label for="q5_f">lake</label>
                                </p>
                                <p>
                                    <input type="radio" id="q5_g" name="q5" value="0">
                                    <label for="q5_g">tomorrow</label>
                                </p>
                                                   
                                <h3>(6) My friend has visited all the ____(library)____ in the area.</h3>
                                <p>Select the correct plural of the word in brackets.</p>
                                    <p>
                                        <input type="radio" id="q6_a" name="q6" value="1">
                                        <label for="q6_a">libraries</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q6_b" name="q6" value="0">
                                        <label for="q6_b">librarys</label>
                                    </p>
                               
                                    <h3>7. I shouted when my (foot) touched the hot water.</h3>
                                    <p>Is the word in brackets singular or plural?</p>
                                    <p>
                                        <input type="radio" id="q7_a" name="q7" value="0">
                                        <label for="q7_a">plural</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q7_b" name="q7" value="1">
                                        <label for="q7_b">singular</label>
                                    </p>
                                   
                                
                                    <h3>(8) She saw ____(sheep)____ walking in the field.</h3>
                                    <p>Select the correct plural of the word in brackets.</p>
                                    <p>
                                        <input type="radio" id="q8_a" name="q8" value="1">
                                        <label for="q8_a">sheep</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q8_b" name="q8" value="0">
                                        <label for="q8_b">sheeps</label>
                                    </p>
                                 
                                    <h3>9. The (men's) suits were blue, grey and black.</h3>
                                    <p>What is the word in brackets?</p>
                                    <p>
                                        <input type="radio" id="q9_a" name="q9" value="0">
                                        <label for="q9_a">a singular possesive noun</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q9_b" name="q9" value="1">
                                        <label for="q9_b">a plural possesive noun</label>
                                    </p>
                             
                                    <h3>(10) Your silly jokes amuse me.</h3>
                                    <p>Select the pronoun.</p>
                                    <p>
                                        <input type="radio" id="q10_a" name="q10" value="0">
                                        <label for="q10_a">Your</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q10_b" name="q10" value="0">
                                        <label for="q10_b">silly</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q10_c" name="q10" value="0">
                                        <label for="q10_c">jokes</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q10_d" name="q10" value="0">
                                        <label for="q10_d">amuse</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q10_e" name="q10" value="1">
                                        <label for="q10_e">me</label>
                                    </p>
                                    
                                    <h3>(11) _________ charged twenty kwacha for that tiny bag of sweets!</h3>
                                    <p>Select the correct pronoun to complete the sentence.</p>
                                    <p>
                                        <input type="radio" id="q11_a" name="q11" value="1">
                                        <label for="q11_a">They</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q11_b" name="q11" value="0">
                                        <label for="q11_b">Them</label>
                                    </p>
                                                                     
                                    <h3>(12)  The fisherman said to Edward, "Edward ______ caught the biggest fish!"</h3>
                                    <p>Select the best pronoun to replace the word in brackets.</p>
                                    <p>
                                        <input type="radio" id="q12_a" name="q12" value="1">
                                        <label for="q12_a">you've</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q12_b" name="q12" value="0">
                                        <label for="q12_b">
                                            he's</label>
                                    </p>
                                                                 
                                    <h3>(13) On Sunday, grandmother and _________ prepared a meal for everyone.</h3>
                                    <p>Write down the correct pronoun to complete the sentence.</p>
                                    <p>
                                        <input type="radio" id="q13_a" name="q13" value="0">
                                        <label for="q13_a">me</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q13_b" name="q13" value="1">
                                        <label for="q13_b">I</label>
                                    </p>
                                  
                                    <h3>(14) Father wants a new car because his is old. </h3>
                                    <p>Select the possessive pronoun.</p>
                                    <p>
                                        <input type="radio" id="q14_a" name="q14" value="0">
                                        <label for="q14_a">Father</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q14_b" name="q14" value="0">
                                        <label for="q14_b">wants</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q14_c" name="q14" value="0">
                                        <label for="q14_c">new</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q14_d" name="q14" value="0">
                                        <label for="q14_d">car</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q14_e" name="q14" value="0">
                                        <label for="q14_e">because</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q14_f" name="q14" value="1">
                                        <label for="q14_f">his</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q14_g" name="q14" value="0">
                                        <label for="q14_g">is</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q14_i" name="q14" value="0">
                                        <label for="q14_i">old</label>
                                    </p>
                                                                   
                                    <h3>(15) Those peanuts belong to you and Anthony. They are _________. </h3>
                                    <p>Select the correct pronoun to complete the sentence.</p>
                                    <p>
                                        <input type="radio" id="q15_a" name="q15" value="0">
                                        <label for="q15_a">ours</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q15_b" name="q15" value="1">
                                        <label for="q15_b">yours</label>
                                    </p>
                           
                                    <h3>(16)  I left a note for _________ on the desk.</h3>
                                    <p>Select the correct pronoun to complete the sentence.</p>
                                    <p>
                                        <input type="radio" id="q16_a" name="q16" value="1">
                                        <label for="q16_a">myself</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q16_b" name="q16" value="0">
                                        <label for="q16_b">me</label>
                                    </p>
                              
                                    <h3>(17) The giraffe disappeared behind the trees.</h3>
                                    <p>Select the action verb.</p>
			                        <p>
                                        <input type="radio" id="q17_a" name="q17" value="0">
                                        <label for="q17_a">The</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q17_b" name="q17" value="0">
                                        <label for="q17_b">giraffe</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q17_c" name="q17" value="1">
                                        <label for="q17_c">disappeared</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q17_d" name="q17" value="0">
                                        <label for="q17_d">behind</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q17_e" name="q17" value="0">
                                        <label for="q17_e">the</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q17_f" name="q17" value="0">
                                        <label for="q17_f">trees</label>
                                    </p>
                                   
                                   
                                    <h3>(18) (Their father) always wins when they play computer games together.</h3>
                                    <p>Look at the subject in brackets. Is it singular or plural?</p>
                                    <p>
                                        <input type="radio" id="q18_a" name="q18" value="0">
                                        <label for="q18_a">singular</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q18_b" name="q18" value="1">
                                        <label for="q18_b">plural</label>
                                    </p>
                                  
                                    <h3>(19) Some people _________ to the news every morning on the radio.</h3>
                                    <p>Complete the sentence with the best word.</p>
                                    <p>
                                        <input type="radio" id="q19_a" name="q19" value="0">
                                        <label for="q19_a">listens</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q19_b" name="q19" value="1">
                                        <label for="q19_b">listen</label>
                                    </p>                                           
                                                                  
                                    <h3>(20) _________ carries the bundle of clothes. </h3>
                                    <p>Complete the sentence with the best word.</p>
                                    <p>
                                        <input type="radio" id="q20_a" name="q20" value="1">
                                        <label for="q20_a">She</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q20_b" name="q20" value="0">
                                        <label for="q20_b">They</label>
                                    </p>

                                    <h3>(21) Select the sentence in the PAST TENSE.</h3>	
                                    <p>
                                        <input type="radio" id="q21_a" name="q21" value="1">
                                        <label for="q21_a">On a sunny day, they floated down the river.</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q21_b" name="q21" value="0">
                                        <label for="q21_b">Under the table, the mouse nibbles the bread.</label>
                                    </p>
                                
                                    <h3>(22) The father washed the car after rain.</h3>
                                    <p>Select the verb in the PAST TENSE.</p>
                                <p>
                                    <input type="radio" id="q22_a" name="q22" value="0">
                                    <label for="q22_a">The</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="q22_b" name="q22" value="0">
                                    <label for="q22_b">father</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="q22_c" name="q22" value="1">
                                    <label for="q22_c">washed</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="q22_d" name="q22" value="0">
                                    <label for="q22_d">the</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="q22_e" name="q22" value="0">
                                    <label for="q22_e">car</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="q22_f" name="q22" value="0">
                                    <label for="q22_f">after</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="q22_g" name="q22" value="0">
                                    <label for="q22_g">the</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="q22_h" name="q22" value="0">
                                    <label for="q22_h">rain</label>
                                  </p>
                                  
            
                                <h3>(23) Which sentence is in the PAST TENSE?</h3>
                                  <p>
                                    <input type="radio" id="q23_a" name="q23" value="0">
                                    <label for="q23_a"> The builders build a block of flats.</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="q23_b" name="q23" value="1">
                                    <label for="q23_b">The builders built a block of flats.</label>
                                  </p>
                                
                                <h3>(24) Mother ____(drive)____ while father read the map.</h3> 
                                <p>Select the PAST TENSE of the verb in brackets.</p>
                               <p>
                                    <input type="radio" id="q24_a" name="q24" value="1">
                                    <label for="q24_a">drove</label>
                                </p>
                                <p>
                                    <input type="radio" id="q24_b" name="q24" value="0">
                                    <label for="q24_b">drived</label>
                                </p>
                            
                            
                                <h3>(25) If you ____(meet)____ my aunt. You would love her!</h3>
                                <p>Select the verb in brackets put in the PAST TENSE.</p>
                                <p>
                                   <input type="radio" id="q25_a" name="q25" value="0">
                                   <label for="q25_a">mate</label>
                                  </p>
                                   <p>
                                    <input type="radio" id="q25_b" name="q25" value="1">
                                    <label for="q25_b">met</label>
                                   </p>
                                   <p>
                                    <input type="radio" id="q25_c" name="q25" value="0">
                                    <label for="q25_c">meeted</label>
                                   </p>
                                    
                                         
                                 <h3>(26) He _________ speaking to the teacher after class.</h3>
                                 <p>Fill in the blank with the correct word.</p>
                                    <p>
                                        <input type="radio" id="q26_a" name="q26" value="1">
                                        <label for="q26_a">was</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q26_b" name="q26" value="0">
                                        <label for="q26_b">were</label>
                                    </p>
                                                          
                                <h3>(27) I _________ washed the dishes and put them away.</h3>
                                <p>Fill in the blank with the correct word.</p>
                                <p>
                                   <input type="radio" id="q27_a" name="q27" value="1">
                                   <label for="q27_a">had</label>
                                </p>
                                <p>
                                    <input type="radio" id="q27_b" name="q27" value="0">
                                    <label for="q27_b">has</label>
                                </p>
                                <p>
                                    <input type="radio" id="q27_c" name="q27" value="0">
                                    <label for="q27_c">have</label>
                                </p>
                                   
                                <h3>(28) Last summer, my teacher had short hair.</h3>
                                <p>Which tense does this sentence use?</p>
                                <p>
                                    <input type="radio" id="q28_a" name="q28" value="1">
                                    <label for="q28_a">Past tense</label>
                                </p>
                                <p>
                                    <input type="radio" id="q28_b" name="q28" value="0">
                                    <label for="q28_b">Present tense</label>
                                </p>
                                <p>
                                    <input type="radio" id="q28_c" name="q28" value="0">
                                    <label for="q28_c">Future tense</label>
                                </p>
                        
                                <h3>(29) _________ friend of hers works there, too!</h3>
                                <p>Select the correct article to complete the sentence.</p>
                                <p>
                                    <input type="radio" id="q29_a" name="q29" value="1">
                                    <label for="q29_a">A</label>
                                </p>
                                <p>
                                    <input type="radio" id="q29_b" name="q29" value="0">
                                    <label for="q29_b">An</label>
                                </p>
                                <p>
                                    <input type="radio" id="q29_c" name="q29" value="0">
                                    <label for="q29_c">The</label>
                                </p>
                        
                                <h3>(30) In the new building, (all) offices have large windows.</h3>
                                <p>Does the adjective in brackets tell you what kind or how many?</p>
                                <p>
                                    <input type="radio" id="q30_a" name="q30" value="0">
                                    <label for="q30_a">what kind</label>
                                </p>
                                <p>
                                    <input type="radio" id="q30_b" name="q30" value="1">
                                    <label for="q30_b">how many</label>
                                </p>
                                
                                <h3>(31) The tree has beautiful flowers. </h3>
                                <p>Select the adjective.</p>
                                <p>
                                    <input type="radio" id="q31_a" name="q31" value="0">
                                    <label for="q31_a">The</label>
                                </p>
                                <p>
                                    <input type="radio" id="q31_b" name="q31" value="0">
                                    <label for="q31_b">tree</label>
                                </p>
                                <p>
                                    <input type="radio" id="q31_c" name="q31" value="0">
                                    <label for="q31_c">has</label>
                                </p>
                                <p>
                                    <input type="radio" id="q31_d" name="q31" value="1">
                                    <label for="q31_d">beautiful</label>
                                </p>
                                <p>
                                    <input type="radio" id="q31_e" name="q31" value="0">
                                    <label for="q31_e">flowers</label>
                                </p>
                                
                                <h3>(32) The elephants march (ahead) in a straight line.</h3>
                                <p>Does the adverb in brackets tell you how, when or where?</p>
                                <p>
                                    <input type="radio" id="q32_a" name="q32" value="0">
                                    <label for="q32_a">how</label>
                                </p>
                                <p>
                                    <input type="radio" id="q32_b" name="q32" value="0">
                                    <label for="q32_b">when</label>
                                </p>
                                <p>
                                    <input type="radio" id="q32_c" name="q32" value="1">
                                    <label for="q32_c">where</label>
                                </p>
                               

                                <h3>(33) I caught the _________ of all the butterflies I saw yesterday. </h3>
                                <p>Fill in the blank with the correct adjective.</p>
                                <p>
                                    <input type="radio" id="q33_a" name="q33" value="0">
                                    <label for="q33_a">prettier</label>
                                </p>
                                <p>
                                    <input type="radio" id="q33_b" name="q33" value="1">
                                    <label for="q33_b">prettiest</label>
                                </p>
                                
                                <h3>(34) Of all the games, I thought tennis was the ____(easy)____.</h3>
                                <p>Select the correct form of the word in brackets.</p>
                                <p>
                                    <input type="radio" id="q34_a" name="q34" value="1">
                                    <label for="q34_a">easiest</label>
                                </p>
                                <p>
                                    <input type="radio" id="q34_b" name="q34" value="0">
                                    <label for="q34_b">easier</label>
                                </p>
                                
                               
                                <h3>(35) The baby is sitting up _________ than usual. </h3>
                                <p>Fill in the blank with the correct adverb.</p>
                                <p>
                                    <input type="radio" id="q35_a" name="q35" value="1">
                                    <label for="q35_a">straighter</label>
                                </p>
                                <p>
                                    <input type="radio" id="q35_b" name="q35" value="0">
                                    <label for="q35_b">straightest</label>
                                </p>                                

                                <h3>(36) I divided the cake into three parts.</h3>
                                <p>Select the ONE preposition</p>
                                <p>
                                    <input type="radio" id="q36_a" name="q36" value="0">
                                    <label for="q36_a">I</label>
                                </p>
                                <p>
                                    <input type="radio" id="q36_b" name="q36" value="0">
                                    <label for="q36_b">divided</label>
                                </p>
                                <p>
                                    <input type="radio" id="q36_c" name="q36" value="0">
                                    <label for="q36_c">the</label>
                                </p>
                                <p>
                                    <input type="radio" id="q36_d" name="q36" value="0">
                                    <label for="q36_d">cake</label>
                                </p>
                                <p>
                                    <input type="radio" id="q36_e" name="q36" value="1">
                                    <label for="q36_e">into</label>
                                </p>
                                <p>
                                    <input type="radio" id="q36_f" name="q36" value="0">
                                    <label for="q36_f">three</label>
                                </p>
                                <p>
                                    <input type="radio" id="q36_i" name="q36" value="0">
                                    <label for="q36_i">parts</label>
                                </p>

                                <h3>(37) Does your mother eat breakfast, _________ does she just drink tea?</h3>
                                <p>Fill in the blank with the correct conjunction.</p>
                                <p>
                                    <input type="radio" id="q37_a" name="q37" value="1">
                                    <label for="q37_a">or</label>
                                </p>
                                <p>
                                    <input type="radio" id="q37_b" name="q37" value="0">
                                    <label for="q37_b">and</label>
                                </p>

                                <h3>(38) I let the dog out _________ I got home.</h3>
                                <p>Fill in the blank with the correct conjunction.</p>
                                <p>
                                    <input type="radio" id="q38_a" name="q38" value="0">
                                    <label for="q38_a">before</label>
                                </p>
                                <p>
                                    <input type="radio" id="q38_b" name="q38" value="1">
                                    <label for="q38_b">after</label>
                                </p>
                                

                                <h3>(39) If (you are) not sitting in that seat, may I?</h3>
                                <p>Select the correct contraction for the words in brackets.</p>
                                <p>
                                    <input type="radio" id="q39_a" name="q39" value="1">
                                    <label for="q39_a">you're</label>
                                </p>
                                <p>
                                    <input type="radio" id="q39_b" name="q39" value="0">
                                    <label for="q39_b">you are'</label>
                                </p>
                                <p>
                                    <input type="radio" id="q39_c" name="q39" value="0">
                                    <label for="q39_c">youre</label>
                                </p>

                                <h3>(40) You (cannot) enter unless you have a ticket.</h3>
                                <p>Select the correct contraction for the words in brackets.</p>
                                <p>
                                    <input type="radio" id="q40_a" name="q40" value="1">
                                    <label for="q40_a">can't</label>
                                </p>
                                <p>
                                    <input type="radio" id="q40_b" name="q40" value="0">
                                    <label for="q40_b">cant'</label>
                                </p>
                                    
                                <h3>(41) Select the correct sentence.</h3>
                                <p>
                                    <input type="radio" id="q41_a" name="q41" value="1">
                                    <label for="q41_a">In her office, Dr Shipungu has toys and puzzles for children.</label>
                                </p>
                                <p>
                                    <input type="radio" id="q41_b" name="q41" value="0">
                                    <label for="q41_b">In her office, dr Shipungu has toys and puzzles for children.</label>
                                </p>
                            
                                <h3>(42) Which is the correct opening of a letter?</h3>
                                <p>
                                    <input type="radio" id="q42_a" name="q42" value="0">
                                    <label for="q42_a">Dear Mr Mwanza.</label>
                                </p>
                                <p>
                                    <input type="radio" id="q42_b" name="q42" value="1">
                                    <label for="q42_b">Dear Mr Mwanza,</label>
                                </p>
                             

                                <h3>(43) Select the correct sentence.</h3>
                                <p>
                                    <input type="radio" id="q43_a" name="q43" value="1">
                                    <label for="q43_a">I enjoyed reading 'James and the Giant Peach' to my friend.</label>
                                </p>
                                <p>
                                    <input type="radio" id="q43_b" name="q43" value="0">
                                    <label for="q43_b">I enjoyed reading James and the Giant Peach to my friend.</label>
                                </p>
                                <p>
                                    <input type="radio" id="q43_c" name="q43" value="0">
                                    <label for="q43_c">I enjoyed reading James And The Giant Peach to my friend.</label>
                                </p>
                            
                                <h3>(44) What does the word perimeter mean?</h3>
                                <p>
                                    <input type="radio" id="q44_a" name="q44" value="0">
                                    <label for="q44_a">a flat shape that has atleast three edges that are connected</label>
                                </p>
                                <p>
                                    <input type="radio" id="q44_b" name="q44" value="1">
                                    <label for="q44_b">a measurement of the outside edges of a flat shape</label>
                                </p>
                            
                                <h3>(45) bath, barrel, balance</h3>
                                <p>Select the words that are in correct alphabetical order.</p>
                                <p>
                                    <input type="radio" id="q45_a" name="q45" value="0">
                                    <label for="q45_a">bath, balance, barrel</label>
                                </p>
                                <p>
                                    <input type="radio" id="q45_b" name="q45" value="1">
                                    <label for="q45_b">balance, barrel, bath</label>
                                </p>
                                <p>
                                    <input type="radio" id="q45_c" name="q45" value="0">
                                    <label for="q45_c">barrel, balance, bath</label>
                                </p>
                                <p>
                                    <input type="radio" id="q45_d" name="q45" value="0">
                                    <label for="q45_d">balance, bath, barrel</label>
                                </p>
                        
                                <h3>(46) soul, so, sound</h3>
                                <p>Select the words that are in correct alphabetical order.</p>
                                <p>
                                    <input type="radio" id="q46_a" name="q46" value="0">
                                    <label for="q46_a">soul, so, sound</label>
                                </p>
                                <p>
                                    <input type="radio" id="q46_b" name="q46" value="0">
                                    <label for="q46_b">soul, sound, so</label>
                                </p>
                                <p>
                                    <input type="radio" id="q46_c" name="q46" value="1">
                                    <label for="q46_c">so, soul, sound</label>
                                </p>
                                <p>
                                    <input type="radio" id="q46_d" name="q46" value="0">
                                    <label for="q46_d">so, sound, soul</label>
                                </p>
                                        
                                <h3>(47) Select the word similar to split.</h3>
                                <p>
                                    <input type="radio" id="q47_a" name="q47" value="1">
                                    <label for="q47_a">divide</label>
                                </p>
                                <p>
                                    <input type="radio" id="q47_b" name="q47" value="0">
                                    <label for="q47_b">pour</label>
                                </p>
                            
                                <h3>(48) Select the opposite of sunny. </h3>
                                <p>
                                    <input type="radio" id="q48_a" name="q48" value="0">
                                    <label for="q48_a">weather</label>
                                </p>
                                <p>
                                    <input type="radio" id="q48_b" name="q48" value="1">
                                    <label for="q48_b">cloudy</label>
                                </p>
                                                    
                                <h3>(49) My uncle always wears a shirt and trousers that don't (match). </h3>
                                <p>Select what lean means in this sentence.</p>
                                <p>
                                    <input type="radio" id="q49_a" name="q49" value="1">
                                    <label for="q49_a">(match) - verb; to go or fit together</label>
                                </p>
                                <p>
                                    <input type="radio" id="q49_b" name="q49" value="0">
                                    <label for="q49_b">(match) - noun; a small piece of wood used to light a fire</label>
                                </p>
                                                
                                <h3>(50) My teacher is like an encyclopaedia.</h3>
                                <p>Choose the sentence that gives the meaning of the simile in the above sentence.</p>
                                <p>
                                    <input type="radio" id="q50_a" name="q50" value="1">
                                    <label for="q50_a">My teacher is someone who knows many facts.</label>
                                </p>
                                <p>
                                    <input type="radio" id="q50_b" name="q50" value="0">
                                    <label for="q50_b">My teacher is someone who likes to talk</label>
                                </p>                               
                                
                     
                       <div class="HeaderbannerLabel">COACH CREDENTIALS</div>
                                <!-- TODO: Add text input fields for user_id, coach_email -->
                                <!-- Hidden fields for test,course and module -->
                                <input type="hidden" name="test" value="alpha_c2">
                                <input type="hidden" name="course" value="alpha_c">
                                <input type="hidden" name="module" value="literacy">
                                <label for="coach_id" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Coach ID</label>
                                <input type="text" name="coach_id" ng-model="test_response.coach_id" required ng-maxlength="5" placeholder="e.g MM003" style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                                <span class="password-error" ng-show="testForm1.coach_id.$error.maxlength">Please enter a valid Coach ID</span>
                                <!-- Submit button disabled if form is invalid -->
                                <!-- <input type="submit" value="submit" ng-disabled="testForm1.$invalid"> -->
                                <button type="submit" value="Submit" ng-disabled="testForm1.$invalid" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </footer>
</body>

</html> 