<div class="modal-header">
    <h3 class="modal-title" id="modal-title"><b>You have already done this test today or have already done a test in the same course</b></h3>
</div>
<div class="modal-body" id="modal-body">
    <p>Submitting this test will overwrite the previous one that the learner has done</p>
    <p>Are you sure you want to overwrite?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="overwrite_test()">OK</button>
    <button class="btn btn-danger" type="button" ng-click="$close()">Cancel</button>
</div>