<!-- Learner Grade 7 examination number -->
<!-- Grade 7 examination number input -->
<!-- <div class="form-group">
	<label for="gr7_exam_number" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;"> Learner Grade 7 Examination Number</label>
	<input type="numer" name="gr7_exam_number" ng-model="testResponse.gr7_exam_number" autocomplete="off" required integer ng-minlength="12" ng-maxlength="12" class="user_input">
	<span class="password-error" ng-show="testForm.gr7_exam_number.$dirty && testForm.gr7_exam_number.$error.maxlength || testForm.gr7_exam_number.$dirty && testForm.gr7_exam_number.$error.minlength || testForm.gr7_exam_number.$dirty && testForm.gr7_exam_number.$error.integer">Please enter a valid Grade 7 examination Number</span>
	<br>
	
</div>
 -->