<!-- Coach credentials and submit form button -->
<!-- Learner Sex and Grade -->
<div class="form-group">
    <label for="learner_sex" class="coach-inputs">Learner Sex</label>
    <select name="learner_sex" ng-model="testResponse.sex" required>
        <option ng-repeat="sex in learner_sexes" value="{{sex.value}}">{{sex.label}}</option>
    </select>
    <br>
    <label for="learner_grade" class="coach-inputs">Learner Grade</label>
    <select name="repeatSelect" id="repeatSelect" ng-model="testResponse.grade" required>
        <option ng-repeat="grade in learner_grades" value="{{grade}}">{{grade}}</option>
    </select>
</div>
<!-- Coach credentials -->
<div class="form-group">
    <!-- Coach ID input -->
    <label for="coach_id" class="coach-inputs">Coach ID</label>
    <input type="text" name="coach_id" ng-model="testResponse.coach_id" autocomplete="off" required ng-maxlength="5" placeholder="e.g JB123" class="user_input">
    <span class="password-error" ng-show="form.testForm.coach_id.$dirty && form.testForm.coach_id.$error.maxlength"><i class="fa fa-times" aria-hidden="true"></i> Please enter a valid Coach ID</span>
    <br>
    <label for="coach_id" class="coach-inputs">Password</label>
    <input type="password" name="coach_password" ng-model="coachPassword" autocomplete="off" required class="user_input">
    <p class="password-error" ng-show="wrongPassword==true"><i class="fa fa-times" aria-hidden="true"></i> Sorry, that is not the correct password. Please try again</p>
    <!-- Submit button disabled if form is invalid -->
    <!-- <input type="submit" value="submit" ng-disabled="form.testForm.$invalid"> -->
    <button id="testsubmit-btn" type="submit" value="Submit" ng-disabled="form.testForm.$invalid" ng-click="validate_coach_id_and_password(testResponse.coach_id,coachPassword)">Submit</button>
    <p class="password-error" ng-show="wrongPassword==true && wrongCoachID==true"><i class="fa fa-times" aria-hidden="true"></i> Wrong coach ID and password</p>
</div>