<!-- Coach credentials and submit form button -->
<!-- Learner Sex and Grade -->
<!-- <div class="form-group">
    <label for="learner_sex" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Learner Sex</label>
    <select name="learner_sex" ng-model="testResponse.sex" required>
        <option ng-repeat="sex in learner_sexes" value="{{sex.value}}">{{sex.label}}</option>
    </select>
    <br>
    <label for="learner_grade" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Learner Grade</label>
    <select name="repeatSelect" id="repeatSelect" ng-model="testResponse.grade" required>
        <option ng-repeat="grade in learner_grades" value="{{grade}}">{{grade}}</option>
    </select>
</div>
 -->
<!-- Coach credentials -->
<!-- Coach ID input -->
<div class="form-group">
    <!--    <label for="coach_id" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Coach ID</label>
    <input type="text" name="coach_id" ng-model="testResponse.coach_id" autocomplete="off" required ng-maxlength="5" placeholder="e.g MM003" class="user_input">
    <span class="password-error" ng-show="testForm.coach_id.$dirty && testForm.coach_id.$error.maxlength">Please enter a valid Coach ID</span>
    <br>
    
    <label for="coach_id" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Password</label>
    <input type="password" name="coach_password" ng-model="coachPassword" autocomplete="off" required class="user_input">
    <p class="password-error" ng-show="wrongPassword==true">Sorry, that is not the correct password. Please try again</p>
     -->
    <!-- Submit button disabled if form is invalid -->
    <button type="submit" value="Submit" ng-disabled="testForm.$invalid" ng-click="check_reponse_before_submit()" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button>
    <!-- <p class="password-error" ng-show="wrongPassword==true && wrongCoachID==true">Wrong coach ID and password</p> -->
</div>