<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Test 6</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-ui.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC</div>
                        <p class="test_name">A. NOTATION</p>
                        <p class="test_name">B. PLACE VALUES</p>
                        <div ng-include="'pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3>Calculators are NOT allowed</h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <div class="HeadertopicLabel">NOTATION</div>
                        <h3>(1) Add 48 253 to 36 363.</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">84 661</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_b">84 616</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_c">84 610</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_d">84 166</label>
                        </p>
                        <h3>(2) 50 000 &minus; 46 989</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_a">4 011</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">3 011</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">2 011</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_d">1 011</label>
                        </p>
                        <h3>(3) 879 &times; 23 &equals;</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">10 097</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_b">20 097</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_c">20 117</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_d">20 217</label>
                        </p>
                        <h3>(4) 900 000 &divide; 1 000 &equals;</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_a">9 000</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_b">900</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="00000">
                            <label for="q4_c">90</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_d">9</label>
                        </p>
                        <h3>(5) Find the value of 12 &times; (15 &plus; 5) =</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_a">240</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_b">185</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_c">180</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="00000">
                            <label for="q5_d">60</label>
                        </p>
                        <h3>(6) 85kg &plus; 6kg &plus; 27kg &equals;</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_a">172kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_b">162kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_c">118kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="00000">
                            <label for="q6_d">108kg</label>
                        </p>
                        <h3>(7) Add 4 189 to 5 811</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_a">1 622</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_b">1 778</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_c">10 000</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d">10 990</label>
                        </p>
                        <h3>(8) The smallest four digit number that can be formed using the digits 4, 1, 3 and 2 is...</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_a">4 321</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_b">3 421</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="00000">
                            <label for="q8_c">2 143</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_d">1 234</label>
                        </p>
                        <h3>(9) What is the sum of 4 249 and 867 113?</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_a">861 362</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_b">862 864</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="00000">
                            <label for="q9_c">871 352</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_d">871 362</label>
                        </p>
                        <h3>(10) In words, 169 729 can be written as...</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">One hundred sixty-nine seven hundred twenty-nine</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_b">One hundred sixty-nine million seven hundred twenty-nine</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="00000">
                            <label for="q10_c">One hundred sixteen thousand nine hundred seventy-two nine</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_d">One hundred sixty-nine thousand seven hundred twenty-nine</label>
                        </p>
                        <h3>(11) Multiply 284 by 128.</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="00000">
                            <label for="q11_a">35 252</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_b">35 352</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_c">36 252</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_d">36 352</label>
                        </p>
                        <h3>(12) 1 000 000 &minus; 328 746 &equals; </h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_a">670 254</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b">671 154</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_c">671 254</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="00000">
                            <label for="q12_d">672 254</label>
                        </p>
                        <h3>(13) Find the sum of 352.79km, 400km and 39.5km.</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_a">792.29km</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_b">360.74km</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_c">79.229km</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="00000">
                            <label for="q13_d">36.074km</label>
                        </p>
                        <h3>(14) 35 900 &divide; 50 &equals;</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_a">718</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_b">720</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_c">35 805</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="00000">
                            <label for="q14_d">35 850</label>
                        </p>
                        <h3>(15) Convert 8 500 grams to kilograms.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_a">85 kilograms</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_b">8.5 kilograms</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_c">0.85 kilograms</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="00000">
                            <label for="q15_d">0.085 kilograms</label>
                        </p>
                        <h3>(16) 214 &times; 42 &equals;</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_a">8 988</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_b">8 986</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_c">8 888</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="00000">
                            <label for="q16_d">1 382</label>
                        </p>
                        <h3>(17) The difference between 5 072 and 30 125 is...</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_a">250 053</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_b">35 197</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_c">25 053</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="00000">
                            <label for="q17_d">2 593</label>
                        </p>
                        <h3>(18) Find the sum of 68 749 and 24 926.</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_a">93 675</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="0000">
                            <label for="q18_b">93 665</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_c">43 823</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="00000">
                            <label for="q18_d">43 223</label>
                        </p>
                        <h3>(19) 315 &times; 25 &equals;</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_a">7 587</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_b">7 785</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_c">7 875</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_d">7 957</label>
                        </p>
                        <h3>(20) 236 457 &plus; 682 916 &equals;</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_a">919 373</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_b">919 363</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_c">918 373</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="00000">
                            <label for="q20_d">918 363</label>
                        </p>
                        <h3>(21) In words, the number 909 099 can be written as... </h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="000">
                            <label for="q21_a">Nine hundred thousand ninety-nine</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00000">
                            <label for="q21_b">Nine thousand ninety-nine</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="0000">
                            <label for="q21_c">Nine hundred ten thousand ninety-nine</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_d">Nine hundred nine thousand ninety-nine</label>
                        </p>
                        <h3>(22) 513 428 &minus; 422 519 &equals;</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_a">10 101</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_b">90 909</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_c">91 909</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="00000">
                            <label for="q22_d">91 919</label>
                        </p>
                        <div class="HeadertopicLabel">SYMBOLS</div>
                        <h3>(23) The symbol '&gt;' means ...</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_a">is greater than.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="0000">
                            <label for="q23_b">is less than.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_c">is equal to.</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="00000">
                            <label for="q23_d">is greater than or equal to.</label>
                        </p>
                        <h3>(24) Which symbol can be put in the box to make the sentence true?</h3>
                        <h3>&minus;120 <span class="icon"><i class="far fa-square"></i></span> 1</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="000">
                            <label for="q24_a">&gt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_b">&lt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="00000">
                            <label for="q24_c">&le;</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_d">&equals;</label>
                        </p>
                        <h3>(25) Which symbol should be put in the box to make the statement true?</h3>
                        <h3>243 <span class="icon"><i class="far fa-square"></i></span> 234</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="00000">
                            <label for="q25_a">&sub;</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_b">&equals;</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="0000">
                            <label for="q25_c">&le;</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_d">&ge;</label>
                        </p>
                        <h3>(26) Which symbol can be put the box to make the sentence true?</h3>
                        <h3>32 x 48 <span class="icon"><i class="far fa-square"></i></span> 48 x 32</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_a">&gt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_b">&equals;</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="00000">
                            <label for="q26_c">&ne;</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_d">&lt;</label>
                        </p>
                        <h3>(27) Which of the following is correct?</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="000">
                            <label for="q27_a">0 &gt; 1</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="0000">
                            <label for="q27_b">1 &lt; 0</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_c">0 &lt; 1</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="00000">
                            <label for="q27_d">0 &equals; 1</label>
                        </p>
                        <h3>(28) Which symbol should be put in the box to make the statement true?</h3>
                        <h3>4 476 <span class="icon"><i class="far fa-square"></i></span> 3 000 &plus; 1 476</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_a">&equals;</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="000">
                            <label for="q28_b">&lt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="0000">
                            <label for="q28_c">&gt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="00000">
                            <label for="q28_d">&le;</label>
                        </p>
                        <h3>(29) Which symbol can be put in the box to make the sentence true?
                            <h3>66 969 <span class="icon"><i class="far fa-square"></i></span> 66 869</h3>
                            <p>
                                <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="1">
                                <label for="q29_a">&gt;</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="000">
                                <label for="q29_b">&lt;</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="00">
                                <label for="q29_c">&equals;</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="0000">
                                <label for="q29_d">&empty;</label>
                            </p>
                            <h3>(30) The meaning of the symbol '&ne;' is...</h3>
                            <p>
                                <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="1">
                                <label for="q30_a">not equal to..</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="0">
                                <label for="q30_b">equal to..</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="0000">
                                <label for="q30_c">less than.</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="000">
                                <label for="q30_d">greater than</label>
                            </p>
                            <h3>(31) Which sign can be put in the box to make the sentence true?</h3>
                            <h3>19 &plus; 2 <span class="icon"><i class="far fa-square"></i></span> 7 &times; 4</h3>
                            <p>
                                <input type="radio" id="q31_a" name="q31" ng-model="testResponse.q31" value="00000">
                                <label for="q31_a">&gt;</label>
                            </p>
                            <p>
                                <input type="radio" id="q31_b" name="q31" ng-model="testResponse.q31" value="000">
                                <label for="q31_b">&equals;</label>
                            </p>
                            <p>
                                <input type="radio" id="q31_c" name="q31" ng-model="testResponse.q31" value="0000">
                                <label for="q31_c">&le;</label>
                            </p>
                            <p>
                                <input type="radio" id="q31_d" name="q31" ng-model="testResponse.q31" value="1">
                                <label for="q31_d">&lt;</label>
                            </p>
                            <div class="HeadertopicLabel">PLACE VALUES</div>
                            <h3>(32) The place value of the 2 in the number 274 001 is...</h3>
                            <p>
                                <input type="radio" id="q32_a" name="q32" ng-model="testResponse.q32" value="00000">
                                <label for="q32_a">Hundreds</label>
                            </p>
                            <p>
                                <input type="radio" id="q32_b" name="q32" ng-model="testResponse.q32" value="000">
                                <label for="q32_b">Thousands</label>
                            </p>
                            <p>
                                <input type="radio" id="q32_c" name="q32" ng-model="testResponse.q32" value="0000">
                                <label for="q32_c">Ten thousands</label>
                            </p>
                            <p>
                                <input type="radio" id="q32_d" name="q32" ng-model="testResponse.q32" value="1">
                                <label for="q32_d">Hundred thousands</label>
                            </p>
                            <h3>(33) The place value of 2 in 1 258 491 is...</h3>
                            <p>
                                <input type="radio" id="q33_a" name="q33" ng-model="testResponse.q33" value="0000">
                                <label for="q33_a">Ten thousands</label>
                            </p>
                            <p>
                                <input type="radio" id="q33_b" name="q33" ng-model="testResponse.q33" value="000">
                                <label for="q33_b">Hundreds</label>
                            </p>
                            <p>
                                <input type="radio" id="q33_c" name="q33" ng-model="testResponse.q33" value="1">
                                <label for="q33_c">Hundred thousands</label>
                            </p>
                            <p>
                                <input type="radio" id="q33_d" name="q33" ng-model="testResponse.q33" value="00000">
                                <label for="q33_d">Thousands</label>
                            </p>
                            <h3>(34) What is the place value of 4 in the number 842 132?</h3>
                            <p>
                                <input type="radio" id="q34_a" name="q34" ng-model="testResponse.q34" value="000">
                                <label for="q34_a">Hundred thousand</label>
                            </p>
                            <p>
                                <input type="radio" id="q34_b" name="q34" ng-model="testResponse.q34" value="1">
                                <label for="q34_b">Ten thousand</label>
                            </p>
                            <p>
                                <input type="radio" id="q34_c" name="q34" ng-model="testResponse.q34" value="0000">
                                <label for="q34_c">Thousand</label>
                            </p>
                            <p>
                                <input type="radio" id="q82_d" name="q34" ng-model="testResponse.q34" value="00000">
                                <label for="q34_d">Hundred</label>
                            </p>
                            <h3>(35) The product of the values of 6 and 4 in 10 624 is...</h3>
                            <p>
                                <input type="radio" id="q35_a" name="q35" ng-model="testResponse.q35" value="000">
                                <label for="q35_a">2 496</label>
                            </p>
                            <p>
                                <input type="radio" id="q35_b" name="q35" ng-model="testResponse.q35" value="1">
                                <label for="q35_b">2 400</label>
                            </p>
                            <p>
                                <input type="radio" id="q35_c" name="q35" ng-model="testResponse.q35" value="0000">
                                <label for="q35_c">240</label>
                            </p>
                            <p>
                                <input type="radio" id="q35_d" name="q35" ng-model="testResponse.q35" value="00000">
                                <label for="q35_d">24</label>
                            </p>
                            <div class="HeaderbannerLabel">COACH SECTION</div>
                            <!-- TODO: Add text input fields for user_id, coach_email -->
                            <!-- Hidden fields for test,course and module -->
                            <input type="hidden" name="test" ng-init="testResponse.test='grade7_test6'">
                            <input type="hidden" name="course" ng-init="testResponse.course='grade7_revision'">
                            <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                            <div ng-include="'pmodule/templates/gr7_exam_number.html'"></div>
                            <div ng-include="'pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
