<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Test 3</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-ui.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC</div>
                        <p class="test_name">Number Bases</p>
                        <div ng-include="'pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3>Calculators are NOT allowed</h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <h3>(1) 213 eight &plus; 755 eight &equals;</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_a">1430 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_b">1362 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_c">1170 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value=00>
                            <label for="q1_d">1162 eight</label>
                        </p>
                        <h3>(2) In base ten, 134 five equals...</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_a">8</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_b">20</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_c">40</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_d">44</label>
                        </p>
                        <h3>(3) 756 eight &minus; 127 eight &equals;</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_a">625 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_b">627 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_c">327 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="00000">
                            <label for="q3_d">637 eight</label>
                        </p>
                        <h3>(4) Change 134 eight to base ten.</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_a">36 ten</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_b">192 ten</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_c">92 ten</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="00000">
                            <label for="q4_d">88 ten</label>
                        </p>
                        <h3>(5) Change 38 ten to base five</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_a">123 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_b">321 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_c">213 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="00000">
                            <label for="q5_d">132 five</label>
                        </p>
                        <h3>(6) 13 five &plus; 24 five &equals;</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_a">43 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_b">42 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_c">44 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="00000">
                            <label for="q6_d">40 five</label>
                        </p>
                        <h3>(7) 27 can be written in base five as...</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_a">120 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_b">102 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_c">101 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="00000">
                            <label for="q7_d">100 five</label>
                        </p>
                        <h3>(8) Change 13 base ten to base two.</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_a">1101 two</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_b">1011 two</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_c">1010 two</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="00000">
                            <label for="q8_d">1110 two</label>
                        </p>
                        <h3>(9) Change 55 eight to base ten.</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_a">45</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_b">50</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_c">36</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="00000">
                            <label for="q9_d">20</label>
                        </p>
                        <h3>(10) Count 16 bottles in base eight</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_a">20 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_b">02 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_c">102 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="00000">
                            <label for="q10_d">13 eight</label>
                        </p>
                        <h3>(11) 66 in base five is...</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="00000">
                            <label for="q11_a">13 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_b">132 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_c">213 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_d">231 five</label>
                        </p>
                        <h3>(12) If 0, 1, 2, 3 and 4 are the only digits used to write numbers, then the number base is...</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="00000">
                            <label for="q12_a">Ten</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_b">Eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_c">Five</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_d">Four</label>
                        </p>
                        <h3>(13) Change 56 eight to base ten.</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="00000">
                            <label for="q13_a">40 ten</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_b">46 ten</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_c">48 ten</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_d">56 ten</label>
                        </p>
                        <h3>(14) 142 eight &plus; 174 eight equals...</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="00000">
                            <label for="q14_a">222 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_b">236 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_c">316 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_d">336 eight</label>
                        </p>
                        <h3>(15) Change 174 base eight to base ten.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_a">124</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_b">164</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_c">184</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="00000">
                            <label for="q15_d">174</label>
                        </p>
                        <h3>(16) 32 eight &minus; 14 eight &equals;</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_a">14 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="000">
                            <label for="q16_b">15 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_c">16 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="00000">
                            <label for="q16_d">18 eight</label>
                        </p>
                        <h3>(17) 134 eight in base ten is...</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_a">36</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_b">88</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_c">92</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="00000">
                            <label for="q17_d">192</label>
                        </p>
                        <h3>(18) Subtract 327 eight from 765 eight.</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="00000">
                            <label for="q18_a">536 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_b">437 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="0000">
                            <label for="q18_c">463 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_d">436 eight</label>
                        </p>
                        <h3>(19) 31 five &plus; 43 five &equals;</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_a">124 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_b">421 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_c">241 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="00000">
                            <label for="q19_d">74 five</label>
                        </p>
                        <h3>(20) 44 five in base ten is written as....</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_a">14</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_b">24</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_c">114</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="00000">
                            <label for="q20_d">34</label>
                        </p>
                        <h3>(21) Change 235 eight to base ten.</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="0000">
                            <label for="q21_a">149</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="000">
                            <label for="q21_b">93</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_c">157</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="00000">
                            <label for="q21_d">95</label>
                        </p>
                        <h3>(22) Write 9 in base five.</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_a">9 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_b">13 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_c">14 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="00000">
                            <label for="q22_d">15 five</label>
                        </p>
                        <h3>(23) Change 15 to base five.</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="00000">
                            <label for="q23_a">33 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_b">15 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="0000">
                            <label for="q23_c">13 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_d">30 five</label>
                        </p>
                        <h3>(24) Change 134 eight to base ten.</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_a">36</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="000">
                            <label for="q24_b">192</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_c">92</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="00000">
                            <label for="q24_d">88</label>
                        </p>
                        <h3>(25) Change 38 to base five.</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_a">123 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_b">321 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="0000">
                            <label for="q25_c">213 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="00000">
                            <label for="q25_d">132 five</label>
                        </p>
                        <h3>(26) 323 eight &plus; 265 eight &equals;</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_a">610 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_b">588 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="0000">
                            <label for="q26_c">598 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="00000">
                            <label for="q26_d">58 eight</label>
                        </p>
                        <h3>(27) By how much is 232 five less than 321 five?</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_a">34 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="000">
                            <label for="q27_b">24 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="0000">
                            <label for="q27_c">134 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="00000">
                            <label for="q27_d">89 five</label>
                        </p>
                        <h3>(28) Change 175 base ten to base five.</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="00000">
                            <label for="q28_a">35 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="000">
                            <label for="q28_b">200 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="0000">
                            <label for="q28_c">1 000 five</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_d">1 200 five</label>
                        </p>
                        <h3>(29) Kitapa is 54 years old. What is her age in base 8?</h3>
                        <p>
                            <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="1">
                            <label for="q29_a">66 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="000">
                            <label for="q29_b">60 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="0000">
                            <label for="q29_c">56 eight</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="00000">
                            <label for="q29_d">43 eight</label>
                        </p>
                        <h3>(30) Change 242 five to base ten.</h3>
                        <p>
                            <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="000">
                            <label for="q30_a">52</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="1">
                            <label for="q30_b">72</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="0000">
                            <label for="q30_c">242</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="00">
                            <label for="q30_d">1 432</label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='grade7_test3'">
                        <input type="hidden" name="course" ng-init="testResponse.course='grade7_revision'">
                        <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                        <div ng-include="'pmodule/templates/gr7_exam_number.html'"></div>
                        <div ng-include="'pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
