<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Test 1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-ui.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC</div>
                        <p class="test_name">Average (Mean)</p>
                        <div ng-include="'pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3>Calculators are NOT allowed</h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <h3>(1) The average of three numbers is 7. Two of these numbers are 7 and 9. Find the third number.</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_a">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_b">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_c">16</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_d">22</label>
                        </p>
                        <h3>(2) Find the average mass of 13kg and 15kg.</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_a">2kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">14kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_c">28kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_d">195kg</label>
                        </p>
                        <h3>(3) The average mass of three items is 60 grams. Given that the masses of two of these items are 80 grams and 60 grams, find the third item.</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_a">20 grams</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_b">30 grams</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_c">40 grams</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="00000">
                            <label for="q3_d">50 grams</label>
                        </p>
                        <h3>(4) Find the average of the following measures: 20g, 1 000g, 550g, 102g</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_a">98g</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_b">418g</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_c">1 570g</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="00000">
                            <label for="q4_d">1 672g</label>
                        </p>
                        <h3>(5) Find the average of 40g, 0.57kg, 1kg, 1.25kg, 96g and 110g in kilograms</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="00000">
                            <label for="q5_a">1 418kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_b">3 066kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_c">236kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_d">0.511kg</label>
                        </p>
                        <h3>(6) The average of 1.6, 2.4, 3.2 and 3.2 is ...? </h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_a">10.4</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_b">10.2</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_c">2.6</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="00000">
                            <label for="q6_d">2.4</label>
                        </p>
                        <h3>(7) The average of three numbers is 22. If the first number is 30 and the second number is 28, what is the third number?</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="00000">
                            <label for="q7_a">58</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_b">66</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_c">80</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_d">8</label>
                        </p>
                        <h3>(8) Find the average of 5kg, 6kg, 7kg, 6kg </h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_a">5kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_b">6kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_c">7kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="00000">
                            <label for="q8_d">8kg</label>
                        </p>
                        <h3>(9) The average of three numbers is 7. If two of these numbers are 10 and 3, what is the third number?</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="00000">
                            <label for="q9_a">1</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_b">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_c">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_d">8</label>
                        </p>
                        <h3>(10) The total mass of 4 people is 276kg. Find their average mass.</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_a">64kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_b">69kg </label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_c">138kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="00000">
                            <label for="q10_d">1 104kg</label>
                        </p>
                        <h3>(11) The average of three boys is 10. If the first boy is 5 years and the second boy is 1 years old, find the age of the third boy.</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_a">30 years</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_b">24 years</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_c">15 years </label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="00000">
                            <label for="q11_d">10 years</label>
                        </p>
                        <h3>(12) John takes 6 hours to cover a distance of 240km from his home to town. What is his average speed?</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_a">34km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_b">40km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_c">246km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="00000">
                            <label for="q12_d">234km/h</label>
                        </p>
                        <h3>(13) Find the middle number between 21 and 39.</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_a">28</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_b">29</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_c">30</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="00000">
                            <label for="q13_d">31</label>
                        </p>
                        <h3>(14) A car covered a distance of 180 km in 3 hours. Calculate its average speed.</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="00000">
                            <label for="q14_a">120km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_b">105km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_c">80km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_d">60km/h</label>
                        </p>
                        <h3>(15) The average of 4 numbers is 125. Find the sum of the numbers.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_a">500</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_b">490</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_c">129</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="00000">
                            <label for="q15_d">121</label>
                        </p>
                        <h3>(16) The average of 136m, 126m, 116m and 286m is ...?</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="00000">
                            <label for="q16_a">676m</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="000">
                            <label for="q16_b">378m</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_c">338m</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_d">166m</label>
                        </p>
                        <h3>(17) The average age of three boys, Kandela, Himanga and Lutangu is 12 years. If Kandela is 11 years and Lutangu is 12 years, how old is Himanga?</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_a">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_b">11</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_c">13</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="00000">
                            <label for="q17_d">16</label>
                        </p>
                        <h3>(18) The average mass of 4 men is 64kg. Find the sum of their masses.</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_a">256kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_b">246kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="0000">
                            <label for="q18_c">68kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q18" name="q18" ng-model="testResponse.q18" value="00000">
                            <label for="q18_d">60kg</label>
                        </p>
                        <h3>(19) Find the average of 6, 8, 10, 9 and 2.</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_a">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_b">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_c">17.5</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="00000">
                            <label for="q19_d">35</label>
                        </p>
                        <h3>(20) A speed boat travelled 70km in the first hour and then 149km in the next two hours. What is the average speed?</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_a">70km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_b">73km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_c">149km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="00000">
                            <label for="q20_d">219km/h</label>
                        </p>
                        <h3>(21) Find the average of 300 kg, 50kg and 100kg</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="000">
                            <label for="q21_a">450kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="0000">
                            <label for="q21_b">225kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_c">150kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="00000">
                            <label for="q21_d">15kg</label>
                        </p>
                        <h3>(22) A bus takes 2 hours to cover a distance of 96km What is its average speed?</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_a">16km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_b">48km/h </label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_c">94km/h</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="00000">
                            <label for="q22_d">98km/h</label>
                        </p>
                        <h3>(23) What is the average of 30&deg;C, 28&deg;C, 32&deg;C and 22&deg;C?</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_a">20&deg;C</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="0000">
                            <label for="q23_b">22&deg;C </label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_c">28&deg;C</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="00000">
                            <label for="q23_d">38&deg;C</label>
                        </p>
                        <h3>(24) The average age of three boys is 10. If the first boy is 5 years and the second boy is 10 years old, find the age of the third boy</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="000">
                            <label for="q24_a">30 years</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_b">25 years</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_c">15 years</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="00000">
                            <label for="q24_d">10 years</label>
                        </p>
                        <h3>(25) If a car travels at an average speed of 80 kilometres per hour for 3 hours without stopping, what distance would be covered?</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_a">300km</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="0000">
                            <label for="q25_b">250km</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_c">240km</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="00000">
                            <label for="q25_d">120km</label>
                        </p>
                        <h3>(26) The average mass of 6 girls is 40 kg. The total mass of the girls is</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_a">260kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="0000">
                            <label for="q26_b">250kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_c">240kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="00000">
                            <label for="q26_d">204kg</label>
                        </p>
                        <h3>(27) The average of 250g, 340g and 85g is...</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_a">225kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="0000">
                            <label for="q27_b">220kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="000">
                            <label for="q27_c">190kg</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="00000">
                            <label for="q27_d">125kg</label>
                            <h3>(28) The average of three numbers is 13. If two of these numbers are 26 and 5, what is the third number?</h3>
                            <p>
                                <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="000">
                                <label for="q28_a">39</label>
                            </p>
                            <p>
                                <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="0000">
                                <label for="q28_b">13</label>
                            </p>
                            <p>
                                <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="00000">
                                <label for="q28_c">11</label>
                            </p>
                            <p>
                                <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="1">
                                <label for="q28_d">8</label>
                            </p>
                            <h3>(29) The total mass of 5 people is 335kg. Find their average mass.</h3>
                            <p>
                                <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="000">
                                <label for="q29_a">65kg</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="1">
                                <label for="q29_b">67kg</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="0000">
                                <label for="q29_c">125kg</label>
                            </p>
                            <p>
                                <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="00000">
                                <label for="q29_d">330kg</label>
                            </p>
                            <h3>(30) The average of 215m, 87m, 336m and 606m is... </h3>
                            <p>
                                <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="000">
                                <label for="q30_a">1 244m</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="0000">
                                <label for="q30_b">638m</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="00000">
                                <label for="q30_c">462m</label>
                            </p>
                            <p>
                                <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="1">
                                <label for="q30_d">311m</label>
                            </p>
                            <div class="HeaderbannerLabel">COACH SECTION</div>
                            <!-- TODO: Add text input fields for user_id, coach_email -->
                            <!-- Hidden fields for test,course and module -->
                            <input type="hidden" name="test" ng-init="testResponse.test='grade7_test1'">
                            <input type="hidden" name="course" ng-init="testResponse.course='grade7_revision'">
                            <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                            <div ng-include="'pmodule/templates/gr7_exam_number.html'"></div>
                            <div ng-include="'pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
