<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Grade 7 Test 7</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="/pmodule/templates/pmodal_content.html"></div>
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" width="400px" height="300px" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <div class="HeaderbannerLabel">GRADE 7 REVISION TOPIC</div>
                        <h3>A. EQUATIONS</h3>
                        <h3>B. FACTORS</h3>
                        <h3>C. NEGATIVE NUMBERS</h3>
                        <h3>D. NUMBER SERIES</h3>
                        <div ng-include="'/pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <h3>Time allowed: <b>45 Minutes</b></h3>
                        <h3>Calculators are NOT allowed</h3>
                        <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <div class="HeadertopicLabel">EQUATIONS</div>
                        <h3>(1) Mapenzi bought 20 sweets. He gave out x sweets and remained with 5. How many sweets did he give out?</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_c">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_d">16</label>
                        </p>
                        <h3>(2) Find y, given that y &plus; 12 &gt; 13</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_a">y &gt; 1</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_b">y &lt; 25</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">y &lt; 1</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_d">y &gt; 25</label>
                        </p>
                        <h3>(3) If x &plus; 15 &equals; 20, then x equals?</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_a">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_b">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_c">30</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="00000">
                            <label for="q3_d">35</label>
                        </p>
                        <h3>(4) Solve the inequation 4x &plus; 2 &gt; 10. </h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_a">x &gt; 2</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_b">x &lt; 2</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="00000">
                            <label for="q4_c">x &gt; 4</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d">x &gt; 8</label>
                        </p>
                        <h3>(5) If 45 &plus; y &equals; 52, then y equals...</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_a">97</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_b">17</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="00000">
                            <label for="q5_c">13</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_d">7</label>
                        </p>
                        <h3>(6) When z is added to 13, the answer is 30. What is the value of z?</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_a">33</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_b">30</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_c">17</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="00000">
                            <label for="q6_d">13</label>
                        </p>
                        <h3>(7) If x &plus; 12 &equals; 35, then x is...</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_a">47</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_b">23</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="00000">
                            <label for="q7_c">&minus;13</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_d">&minus;47</label>
                        </p>
                        <h3>(8) Joshua bought 18 pens. He gave t of them to her sister and remained with 11. Find the value of t.</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_a">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_b">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="00000">
                            <label for="q8_c">28</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_d">29</label>
                        </p>
                        <h3>(9) Elina had 30 mangoes. If x mangoes were eaten by Elina and 18 mangoes remained, how many mangoes were eaten?</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_a">38</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_b">30</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="00000">
                            <label for="q9_c">18</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_d">12</label>
                        </p>
                        <h3>(10) If 12 &minus; c &equals; 7, then c equals... </h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_a">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_b">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="00000">
                            <label for="q10_c">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_d">15</label>
                        </p>
                        <h3>(11) If 30 &minus; y &equals; 18, the value of y is...</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_a">12</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_b">28</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_c">48</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="00000">
                            <label for="q11_d">22</label>
                        </p>
                        <h3>(12) If x &plus; 17 &equals; 35, then x is... </h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_a">52</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_b">28</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_c">18</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="00000">
                            <label for="q12_d">8</label>
                        </p>
                        <h3>(13) A man had 62 mangoes. He sold x of them and remained with 8. The value of x is...</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">70</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_b">68</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000000">
                            <label for="q13_c">66</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_d">54</label>
                        </p>
                        <div class="HeadertopicLabel">FACTORS</div>
                        <h3>(14) Find the HCF of 6, 9 and 12.</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_a">1</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_b">2</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_c">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="00000">
                            <label for="q14_d">4</label>
                        </p>
                        <h3>(15) Express 72 as a product of its prime factors.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_a">2 &times; 2 &times; 2 &times; 3 &times; 4</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_b">2 &times; 2 &times; 3 &times; 3 &times; 3</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_c">2 &times; 2 &times; 2 &times; 3 &times; 3</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="00000">
                            <label for="q15_d">2 &times; 3 &times; 3 &times; 3 &times; 3</label>
                        </p>
                        <h3>(16) The prime factors of 20 are...</h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_a">5 and 10</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_b">4 and 5</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_c">2 and 5</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="00000">
                            <label for="q16_d">1 and 2</label>
                        </p>
                        <h3>(17) What are the prime factors of 15?</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_a">2 and 3</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_b">2 and 5</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_c">3 and 5</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="00000">
                            <label for="q17_d">1 and 15 </label>
                        </p>
                        <h3>(18) Which of the following numbers are factors of 12?</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_a">12, 24, 36, 48, 50</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="0000">
                            <label for="q18_b">12, 24, 36, 48</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="00000">
                            <label for="q18_c">1, 2, 3, 6, 12, 24 </label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_d">1, 2, 3, 4, 6, 12</label>
                        </p>
                        <h3>(19) Express 18 as a product of prime factors. </h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_a">1 &times; 2 &times; 3 &times; 3</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_b">2 &times; 3 &times; 3</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_c">2 &times; 9</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_d">6 &times; 3</label>
                        </p>
                        <div class="HeadertopicLabel">NEGATIVE NUMBERS</div>
                        <h3>(20) Look at the number line. The number line shows...</h3>
                        <div><img src="/images/grade7_test7/2018.16.jpg" alt="image missing" class="img-responsive" /></div>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_a">&plus;7 &minus; (&plus;5) &equals; &minus;2</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_b">&plus;7 &plus; (&minus;5) &equals; &minus;2</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_c">&plus;5 &plus; (&minus;7) &equals; &minus;2</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="00000">
                            <label for="q20_d">&minus; 5 &plus; 7 &equals; &minus;2</label>
                        </p>
                        <h3>(21) Which of the integers &minus;19, &plus;3, &minus;6, &plus;1 is the biggest?</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="000">
                            <label for="q21_a">&plus;1</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00000">
                            <label for="q21_b">&minus;6</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="0000">
                            <label for="q21_c">&minus;1</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_d">&plus;3</label>
                        </p>
                        <h3>(22) Which of the following statements is correct?</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="00000">
                            <label for="q22_a">&plus;4 &lt; &minus;5</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_b">&minus;11 &gt; &plus;21</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_c">&plus;6 &lt; &minus;21</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_d">&plus;3 &gt; &minus;7</label>
                        </p>
                        <h3>(23) &minus; 3 &plus; (&plus;12) &equals;</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_a">&minus;15</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="0000">
                            <label for="q23_b">&minus;9</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_c">&plus;9</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="00000">
                            <label for="q23_d">&plus;15</label>
                        </p>
                        <h3>(24) The number line shows...</h3>
                        <div><img src="/images/grade7_test7/2015.33.jpg" alt="image missing" class="img-responsive" /></div>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="000">
                            <label for="q24_a">&minus;4 &plus; (&minus;6) &plus; (&plus;3) &equals; &plus;1</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_b">&plus;4 &plus; (&minus;6) &plus; (&plus;3) &equals; &plus;1</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_c">&plus;4 &plus; (&plus;6) &plus; (&minus;3) &equals; &plus;1</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_d">&minus;4 &plus; (&plus;6) &plus; (&minus;3) &equals; &plus;1</label>
                        </p>
                        <h3>(25) The number line shows...</h3>
                        <div><img src="/images/grade7_test7/2014.7.jpg" alt="image missing" class="img-responsive" /></div>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_a">&minus;2 &plus; (&plus;7) &equals; &plus;5</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_b">&plus;2 &minus; (&plus;7) &equals; &plus;5</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="0000">
                            <label for="q25_c">&minus;2 &plus; (&minus;7) &equals; &plus;5</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="00000">
                            <label for="q25_d">&plus;2 &plus; (&plus;7) &equals; &plus;5</label>
                        </p>
                        <h3>(26) Which of the following statements is true?</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_a">&minus;1 &lt; &minus;3</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="0000">
                            <label for="q26_b">&minus;1 &gt; 4</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_c">&minus;2 &gt; &minus;5</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="00000">
                            <label for="q26_d">&minus;3 &gt; 0</label>
                        </p>
                        <h3>(27) What does the number line show?</h3>
                        <div><img src="/images/grade7_test7/2012.42.jpg" alt="image missing" class="img-responsive" /></div>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="000">
                            <label for="q27_a">&minus;2 &minus; (&plus;3)</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="0000">
                            <label for="q27_b">&minus;2 &plus; (&plus;3)</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="00000">
                            <label for="q27_c">&plus;3 &plus; (&minus;2)</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_d">&plus;3 &plus; (&minus;5)</label>
                        </p>
                        <h3>(28) Which number line shows &minus;1 &plus; (&minus;2) &equals; &minus;3?</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="000">
                            <label for="q28_a">
                                <div><img src="/images/grade7_test7/2009.15.1.jpg" alt="image missing" class="img-responsive" /></div>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_b">
                                <div><img src="/images/grade7_test7/2009.15.2.jpg" alt="image missing" class="img-responsive" /></div>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="0000">
                            <label for="q28_c">
                                <div><img src="/images/grade7_test7/2009.15.3.jpg" alt="image missing" class="img-responsive" /></div>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="00000">
                            <label for="q28_d">
                                <div><img src="/images/grade7_test7/2009.15.4.jpg" alt="image missing" class="img-responsive" /></div>
                            </label>
                        </p>
                        <div class="HeadertopicLabel">NUMBER SERIES</div>
                        <h3>(29) What is the next number in the sequence?</h3>
                        <h3> 23, 19, 15, 11, <span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="0">
                            <label for="q29_a">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="1">
                            <label for="q29_b">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="000">
                            <label for="q29_c">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="0000">
                            <label for="q29_d">5</label>
                        </p>
                        <h3>(30) What is the next number in the sequence?</h3>
                        <h3>128, 64, 32, 16, <span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="000">
                            <label for="q30_a">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="1">
                            <label for="q30_b">8</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="0000">
                            <label for="q30_c">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="0">
                            <label for="q30_d">2</label>
                        </p>
                        
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='grade7_test7'">
                        <input type="hidden" name="course" ng-init="testResponse.course='zm_gr7_revision'">
                        <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                        <div ng-include="'/pmodule/templates/gr7_exam_number.html'"></div>
                        <div ng-include="'/pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>