<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Alpha B2</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-ui.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- TODO: Add inline script for passowrd modal -->
    <!-- Password modal -->
    <div ng-include="pmodule/templates/pmodal_content.html"></div>
    <!-- TODO: Add tag to instantiate modal when page opens -->
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <p class="test_name">Alpha B2</p>
                        <div ng-include="'pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Time allowed: 45 minutes<br>Calculators are NOT allowed<br>Ask your coach if you are not sure how to answer the questions</div>
                        <div class="HeaderbannerLabel">ASSESSMENT</div>
                        <!-- TODO: Add form name,action and method -->
                        <!-- <form name="testForm" action="/submit_test" method="post"> -->
                        <h3>(1) 0.3 &plus; 0.7 =<span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">0.4</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_b">0.1</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_c">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_d">1.0</label>
                        </p>
                        <h3>(2)
                            71.8 &plus; 7.69 &equals; <span class="icon"><i class="far fa-square"></i></span></span>
                        </h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_a">7.949</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">79.49</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_c">794.9</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_d">7949</label>
                        </p>
                        <h3>(3) 0.4 &minus; 0.2 &equals; <span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_a">0.2</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_b">1.2</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">12</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">2</label>
                        </p>
                        <h3>(4) 65.49 &minus; 13.53 &equals; <span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">5.196</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_b">51.96</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_c">519.6</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_d">5196</label>
                        </p>
                        <h3>(5) 2782 &times; 13 &equals; <span class="icon"></span><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_a">15,782</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_b">27,823</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_c">36,166</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="00000">
                            <label for="q5_d">36,200</label>
                        </p>
                        <h3>(6) 4.2 &times; 0.3 &equals; <span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_a">1.26</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="0">
                            <label for="q6_b">13.02</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_c">12.6</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_d">126</label>
                        </p>
                        <h3>(7) 300 &divide; 75 &equals; <span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_a">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_b">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="00000">
                            <label for="q7_c">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_d">7</label>
                        </p>
                        <h3>(8) 7 &divide; 5 =<span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_a">0.014</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">0.14</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_c">1.4</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_d">14</label>
                        </p>
                        <h3>(9) 0.06 &divide; 0.1 &equals; <span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_a">0.06</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_b">0.6</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="00000">
                            <label for="q9_c">60</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_d">6</label>
                        </p>
                        <h3>(10) 9.4 &divide; 0.2 &equals; <span class="icon"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_a">42</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_b">45</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_c">47</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_d">49</label>
                        </p>
                        <h3>(11)
                            <span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span> +
                            <span class="frac"><sup>7</sup><span>/</span><sub>8</sub></span> =
                            <span class="icon"><i class="far fa-square"></i></span>
                        </h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="00000">
                            <label for="q11_a">
                                <span class="frac"><sup>1</sup><span>/</span><sub>10</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_b">
                                <span class="frac"><sup>6</sup><span>/</span><sub>13</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="00">
                            <label for="q11_c">
                                <span class="frac"><sup>8</sup><span>/</span><sub>13</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_d">
                                1<span class="frac"><sup>5</sup><span>/</span><sub>8</sub></span>
                            </label>
                        </p>
                        <h3>(12)
                            <span class="frac"><sup>5</sup><span>/</span><sub>8</sub></span> &minus;
                            <span class="frac"><sup>5</sup><span>/</span><sub>16</sub></span> =
                            <span class="icon"><i class="far fa-square"></i></span>
                        </h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_a">
                                <span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_b">
                                <span class="frac"><sup>1</sup><span>/</span><sub>16</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_c">
                                <span class="frac"><sup>5</sup><span>/</span><sub>16</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="00000">
                            <label for="q12_d">
                                <span class="frac"><sup>1</sup><span>/</span><sub>8</sub></span>
                            </label>
                        </p>
                        <h3>(13)
                            4<span class="frac"><sup>5</sup><span>/</span><sub>6</sub></span> &minus;
                            1<span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span> =
                            <span class="icon"></span><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">
                                <span class="frac"><sup>1</sup><span>/</span><sub>3</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">
                                1<span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_c">
                                3<span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_d">
                                <span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span>
                            </label>
                        </p>
                        <h3>(14)
                            <span class="frac"><sup>2</sup><span>/</span><sub>7</sub></span> &times;
                            <span class="frac"><sup>7</sup><span>/</span><sub>8</sub></span> =
                            <span class="icon"></span><i class="far fa-square"></i></span></h3>
                        </h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_a">
                                <span class="frac"><sup>1</sup><span>/</span><sub>14</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00000">
                            <label for="q14_b">
                                <span class="frac"><sup>1</sup><span>/</span><sub>56</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_c">
                                <span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_d">
                                <span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span>
                            </label>
                        </p>
                        <h3>(15)
                            <span class="frac"><sup>1</sup><span>/</span><sub>8</sub></span> &divide; 3 =
                            <span class="icon"></span><i class="far fa-square"></i></span>
                        </h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="00">
                            <label for="q15_a">
                                <span class="frac"><sup>1</sup><span>/</span><sub>8</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_b">
                                <span class="frac"><sup>1</sup><span>/</span><sub>11</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_c">
                                <span class="frac"><sup>1</sup><span>/</span><sub>24</sub></span>
                            </label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_d">
                                <span class="frac"><sup>3</sup><span>/</span><sub>8</sub></span>
                            </label>
                        </p>
                        <h3>(16)
                            4 &times; <span class="frac"><sup>3</sup><span>/</span><sub>4</sub></span> =
                            <span class="icon"></span><i class="far fa-square"></i></span></h3>
                        </h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_a">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="00000">
                            <label for="q16_b">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_c">14</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="00">
                            <label for="q16_d">18</label>
                        </p>
                        <h3>(17) Change <span class="frac"><sup>1</sup><span>/</span><sub>100</sub></span> to a decimal.</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_a">0.01</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_b">0.1</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_c">1</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="00000">
                            <label for="q17_d">1.01</label>
                        </p>
                        <h3>(18) Calculate the area of the shape below.</h3>
                        <div class="img_answers"><img src="images/alpha_b2/question18.jpg" alt="image missing" class="img-responsive" /></div>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_a">22</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_b">24</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="00">
                            <label for="q18_c">26</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_d">28</label>
                        </p>
                        <h3>(19) 1.3m &equals; <span class="icon"><i class="far fa-square"></i></span>cm</h3>
                        <span>Convert the units above</span>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_a">1.3</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="00000">
                            <label for="q19_b">13</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_c">130</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_d">1300</label>
                        </p>
                        <h3>(20) What is the PLACE VALUE of 8 in 128.1?</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_a">Ones</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="00">
                            <label for="q20_b">Tens</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_c">Hundredths</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_d">Thousandths</label>
                        </p>
                        <h3>(21) What is the PLACE VALUE of 8 in 9.87?</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_a">Tenths</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00000">
                            <label for="q21_b">Tens</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="0">
                            <label for="q21_c">Hundredths</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="00">
                            <label for="q21_d">Thousands</label>
                        </p>
                        <h3>(22) Write 7.34 correct to ONE decimal place?</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_a">0.73</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_b">7.3</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_c">7.4</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="00000">
                            <label for="q22_d">7.0</label>
                        </p>
                        <h3>(23) 0.71 &times; 0.1</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_a">0.71</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="00">
                            <label for="q23_b">0.07</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_c">0.071</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_d">71</label>
                        </p>
                        <h3>(24) 4.82 &times; 10</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_a">0.482</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="00000">
                            <label for="q24_b">4.82</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_c">48.2</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_d">482</label>
                        </p>
                        <h3>(25) Find the the area of the shape below.</h3>
                        <span>
                            <div class="img_answers"><img src="images/alpha_b2/question25.jpg" alt="image missing" class="img-responsive" /></div>
                        </span>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="00">
                            <label for="q25_a">16</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_b">24</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_c">36</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_d">48</label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='alpha_b2'">
                        <input type="hidden" name="course" ng-init="testResponse.course='alpha_b'">
                        <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                        <div ng-include="'pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
