<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
    <title>Bravo D1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">

    <style>
        .HeaderbannerLabel {
			background-color: rgb(0, 0, 255);
			color: rgba(255, 255, 255, 1);
			font-size: 20px;
			font-weight: 500;
			padding-left: 34px;
			margin-left: -30px;
			font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
			padding: 8px 8px 8px 42px;
			margin-top: 30px;
			margin-bottom: 25px;
			width: 30%;
		}

		.ins {
			color: #212121;
			font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
			line-height: 135%;
			margin-top: 22px;
			white-space: pre-wrap;
		}

		h3 {
			font-weight: normal;
		}

		.box {
			display: inline-block;
			background-color: none;
			vertical-align: middle
		}

		span.frac {
			display: inline-block;
			font-size: 75%;
			text-align: center;
			vertical-align: middle
		}

		span.frac>sup {
			display: block;
			border-bottom: 1px solid;
			font: inherit;
		}

		span.frac>span {
			display: none;
		}

		span.icon>span {
			display: inline-block;
			font-size: 1.1em
		}

		span.frac>sub {
			display: block;
			font: inherit;
		}
	</style>
</head>

<body ng-controller="ModalDemoCtrl as ctrl" style="background-color: rgb(135, 206, 250); font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <!-- TODO: Add inline script for passowrd modal -->
    <!-- Password modal -->
    <script type="text/ng-template" id="testModalContent.html">
        <div class="modal-header">
<h3 class="modal-title" id="modal-title">The Coach should enter the password</h3>
				</div>
<div class="modal-body" id="modal-body">
<label class="item item-input">
		<input ng-model="password" type="password" class="form-control" id="passwordInput" required>
				</label>
<p class="password-error" ng-show="wrongPassword==true">Sorry, that is not the correct password. Please try again</p>
				</div>
<div class="modal-footer">
<button class="btn btn-success" type="button" ng-click="$ctrl.checkPassword(password)">OK</button>
<button class="btn btn-danger" type="button">Cancel</button>
				</div>
		</script>
    <!-- TODO: Add tag to instantiate modal when page opens -->
    <span ng-init=ctrl.openModal()></span>
    <section class="container-fluid" style="margin: auto; width: 640px !important; background-color: white;">
        <div class="row">
            <div class="container page">
                <div class="row">
                    <div id="edulution_logo">
                        <img src="images/edulution_logo.png" class="img-responsive center-block">
					</div>
                        <div class="pd-tb">
                            <div class="pd-lr">
                                <form action="/submit_test" name="testForm2" method="post">
                                    <p style="box-sizing: border-box; font-size: 34px; line-height: 135%; max-width: 100%; min-width: 0%;"> Bravo D1</p>
                                    <div class="HeaderbannerLabel">USERNAME</div>
                                    <!-- Input fiels for user_id contains some js code for validation -->
                                    <label for="username" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%; font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;">Username</label>
                                    <input type="text" autocomplete="off" id="user_id" name="username" ng-model="test_response.username" whitelist style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                                    <span class="password-error" ng-show="testForm2.$dirty && testForm2.username.$error.whitelist">Please enter a valid Student ID</span>
                                    <div style="color:rgb(219, 68, 55);font-size: 13px;margin-top: 22px;"></div>
                                    <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                                    <div class="ins">Time allowed: 1 Hour <br>Calculators are NOT allowed<br>Ask your coach if you are not sure how to answer the questions</div>
                                    <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                                    <!-- TODO: Add form name,action and method -->
                                    <!-- <form name="testForm" action="/submit_test" method="post"> -->
                                    <h3>(1) Given the formula for a piecewise function, evaluate it for specific input.</h3>
                                    <p>h(&minus;3) = ?</p>
                                    <div>
                                        <img src="images/bravo_d1/d1q1.jpg" />
								</div>
                                        <p>
                                            <!-- TODO: Add value attribute to each radio button -->
                                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                                            <!-- Wrong answers are 0, correct answer is 1 -->
                                            <!-- Example below -->
                                            <!-- <input type="radio" id="test1" name="q1" value="0"> -->
                                            <input type="radio" id="q1_a" name="q1" value="0">
                                            <label for="q1_a">&minus;18</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q1_b" name="q1" value="0">
                                            <label for="q1_b">18</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q1_c" name="q1" value="0">
                                            <label for="q1_c">27</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q1_d" name="q1" value="1">
                                            <label for="q1_d">&minus;27</label>
                                        </p>
                                        <h3>(2) &minus;5k<sup>3</sup> &minus; 6k &plus; 1 &plus; (&minus;6k<sup>2</sup> &plus; 5k)</h3>
                                        <p>Simplify the expression above.</p>
                                        <p>
                                            <input type="radio" id="q2_a" name="q2" value="0">
                                            <label for="q2_a">&minus;5k<sup>&minus;3</sup> &minus; 6k<sup>2</sup> &minus; k</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q2_b" name="q2" value="0">
                                            <label for="q2_b">&minus;5<sup>3</sup> &minus; 6<sup>2</sup> &minus; 1</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q2_c" name="q2" value="0">
                                            <label for="q2_c">&minus;5k<sup>3</sup> &minus; 6k<sup>2</sup> &plus; 1</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q2_d" name="q2" value="1">
                                            <label for="q2_d">&minus;5k<sup>3</sup> &minus; 6k<sup>2</sup> &minus; k &plus; 1</label>
                                        </p>
                                        <h3>(3) &minus;4x<sup>2</sup> &times; 7x<sup>3</sup></h3>
                                        <p>Simplify the expression above.</p>
                                        <p>
                                            <input type="radio" id="q3_a" name="q3" value="0">
                                            <label for="q3_a">28x<sup>5</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q3_b" name="q3" value="1">
                                            <label for="q3_b">&minus;28x<sup>5</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q3_c" name="q3" value="0">
                                            <label for="q3_c">&minus;28<sup>5</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q3_d" name="q3" value="0">
                                            <label for="q3_d">28<sup>5</sup></label>
                                        </p>
                                        <h3>(4) 12x<sup>5</sup> &equals; 4x<sup>2</sup>C</h3>
                                        <p>Find the missing factor C that makes the equality true.</p>
                                        <p>
                                            <input type="radio" id="q4_a" name="q4" value="0">
                                            <label for="q4_a">3x<sup>2</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q4_b" name="q4" value="1">
                                            <label for="q4_b">3x<sup>3</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q4_c" name="q4" value="0">
                                            <label for="q4_c">4x<sup>2</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q4_d" name="q4" value="0">
                                            <label for="q4_d">4x<sup>3</sup></label>
                                        </p>
                                        <h3>(5) n<sup>2</sup>(2n - 5) &plus; (2n &minus; 5)</h3>
                                        <p>Factor the polynomial as the product of two binomials</p>
                                        <p>
                                            <input type="radio" id="q5_a" name="q5" value="0">
                                            <label for="q5_a">(n &minus; 5)(n<sup>2</sup> &plus; 1)</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q5_b" name="q5" value="0">
                                            <label for="q5_b">(2n &minus; 5)(n<sup>2</sup> &plus; 1)</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q5_c" name="q5" value="1">
                                            <label for="q5_c">(2n &minus; 5)(2n<sup>2</sup> &plus; 1)</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q5_d" name="q5" value="0">
                                            <label for="q5_d">(2n &minus; 4)(n<sup>2</sup> &plus; 3)</label>
                                        </p>
                                        <h3>(6) 49x<sup>2</sup> &minus; 9</h3>
                                        <p>Factorise the equation above.</p>
                                        <p>
                                            <input type="radio" id="q6_a" name="q6" value="0">
                                            <label for="q6_a">(7x &minus; 3)<sup>2</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q6_b" name="q6" value="0">
                                            <label for="q6_b">(7x &plus; 3)<sup>2</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q6_c" name="q6" value="0">
                                            <label for="q6_c">7x<sup>2</sup> &minus; 3<sup>2</sup></label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q6_d" name="q6" value="1">
                                            <label for="q6_d">(7x &plus; 3)(7x &minus; 3)</label>
                                        </p>
                                        <h3>(7) Find the arc length shaded in blue of BC.</h3>
                                        <p>Use &pi; = 3.14</p>
                                        <div>
                                            <img src="images/bravo_d1/d1q7.jpg" />
								</div>
                                            <p>
                                                <input type="radio" id="q7_a" name="q7" value="1">
                                                <label for="q7_a">9.42cm</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q7_b" name="q7" value="0">
                                                <label for="q7_b">31.4cm</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q7_c" name="q7" value="0">
                                                <label for="q7_c">63.4cm</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q7_d" name="q7" value="0">
                                                <label for="q7_d">192cm</label>
                                            </p>
                                            <h3>(8) 64<sup>(7x &minus; 8)</sup> &equals; 1</h3>
                                            <p>Solve the exponential equation for x</p>
                                            <p>
                                                <input type="radio" id="q8_a" name="q8" value="0">
                                                <label for="q8_a">
                                                    <span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                    <sub>64</sub>
                                                    </span>
                                                </label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q8_b" name="q8" value="0">
                                                <label for="q8_b">
                                                    <span class="frac">
											<sup>11</sup>
											<span>/</span>
                                                    <sub>7</sub>
                                                    </span>
                                                </label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q8_c" name="q8" value="1">
                                                <label for="q8_c">
                                                    1<span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                    <sub>7</sub>
                                                    </span>
                                                </label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q8_d" name="q8" value="0">
                                                <label for="q8_d">
                                                    1<span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                    <sub>14</sub>
                                                    </span>
                                                </label>
                                            </p>
                                            <h3>(9) Find the value of x.</h3>
                                            <div>
                                                <img src="images/bravo_d1/d1q9.jpg" />
								</div>
                                                <p>
                                                    <input type="radio" id="q9_a" name="q9" value="0">
                                                    <label for="q9_a">
                                                        <span class="frac">
											<sup>5</sup>
											<span>/</span>
                                                        <sub>9</sub>
                                                        </span>
                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="radio" id="q9_b" name="q9" value="0">
                                                    <label for="q9_b">
                                                        <span class="frac">
											<sup>4</sup>
											<span>/</span>
                                                        <sub>9</sub>
                                                        </span>
                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="radio" id="q9_c" name="q9" value="1">
                                                    <label for="q9_c">
                                                        <span class="frac">
											<sup>9</sup>
											<span>/</span>
                                                        <sub>4</sub>
                                                        </span>
                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="radio" id="q9_d" name="q9" value="0">
                                                    <label for="q9_d">
                                                        <span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                        <sub>5</sub>
                                                        </span>
                                                    </label>
                                                </p>
                                                <h3>(10) In the diagram below, CD is perpendicular to AB.</h3>
                                                <p>Find the length AQ.</p>
                                                <div>
                                                    <img src="images/bravo_d1/d1q10.jpg" />
								</div>
                                                    <p>
                                                        <input type="radio" id="q10_a" name="q10" value="0">
                                                        <label for="q10_a">12</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio" id="q10_b" name="q10" value="0">
                                                        <label for="q10_b">16</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio" id="q10_c" name="q10" value="0">
                                                        <label for="q10_c">18</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio" id="q10_d" name="q10" value="1">
                                                        <label for="q10_d">24</label>
                                                    </p>
                                                    <h3>(11) Find the value of Sin (B).</h3>
                                                    <div>
                                                        <img src="images/bravo_d1/d1q11.jpg" />
								</div>
                                                        <p>
                                                            <input type="radio" id="q11_a" name="q11" value="0">
                                                            <label for="q11_a">
                                                                <span class="frac">
											<sup>2</sup>
											<span>/</span>
                                                                <sub>3</sub>
                                                                </span>
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q11_b" name="q11" value="0">
                                                            <label for="q11_b">
                                                                <span class="frac">
											<sup>3</sup>
											<span>/</span>
                                                                <sub>4</sub>
                                                                </span>
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q11_c" name="q11" value="0">
                                                            <label for="q11_c">
                                                                <span class="frac">
											<sup>3</sup>
											<span>/</span>
                                                                <sub>5</sub>
                                                                </span>
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q11_d" name="q11" value="1">
                                                            <label for="q11_d">
                                                                <span class="frac">
											<sup>4</sup>
											<span>/</span>
                                                                <sub>5</sub>
                                                                </span>
                                                            </label>
                                                        </p>
                                                        <h3>(12) What is the volume of the cylinder below?</h3>
                                                        <p>Use &pi; &equals; 3.14</p>
                                                        <div>
                                                            <img src="images/bravo_d1/d1q12.jpg" />
								</div>
                                                            <p>
                                                                <input type="radio" id="q12_a" name="q12" value="0">
                                                                <label for="q12_a">50cm<sup>3</sup></label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q12_b" name="q12" value="0">
                                                                <label for="q12_b">56.52cm<sup>3</sup></label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q12_c" name="q12" value="0">
                                                                <label for="q12_c">87.92cm<sup>3</sup></label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q12_d" name="q12" value="1">
                                                                <label for="q12_d">113.04cm<sup>3</sup></label>
                                                            </p>
                                                            <h3>(13) Find the height of a solid cylinder of radius 2 cm and a total surface area of 28cm<sup>2</sup> and
									its &pi; is 3.14cm.</h3>
                                                            <p>
                                                                <input type="radio" id="q13_a" name="q13" value="0">
                                                                <label for="q13_a">4.46cm</label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q13_b" name="q13" value="0">
                                                                <label for="q13_b">6.46cm</label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q13_c" name="q13" value="0">
                                                                <label for="q13_c">5.25cm</label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q13_d" name="q13" value="1">
                                                                <label for="q13_d">3.45cm</label>
                                                            </p>
                                                            <h3>(14) If you flip a coin and roll a 6-sided die. What is the probability that you will flip a heads and roll
									an even number?</h3>
                                                            <p>
                                                                <input type="radio" id="q14_a" name="q14" value="0">
                                                                <label for="q14_a">
                                                                    <span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                                    <sub>2</sub>
                                                                    </span>
                                                                </label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q14_b" name="q14" value="0">
                                                                <label for="q14_b">
                                                                    <span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                                    <sub>3</sub>
                                                                    </span>
                                                                </label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q14_c" name="q14" value="1">
                                                                <label for="q14_c">
                                                                    <span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                                    <sub>4</sub>
                                                                    </span>
                                                                </label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q14_d" name="q14" value="0">
                                                                <label for="q14_d">
                                                                    <span class="frac">
											<sup>2</sup>
											<span>/</span>
                                                                    <sub>3</sub>
                                                                    </span>
                                                                </label>
                                                            </p>
                                                            <h3>(15) A jar contains 7 red marbles, 6 green marbles, 5 blue marbles and 2 yellow marbles. What is the
									probability of picking a green marble.</h3>
                                                            <p>
                                                                <input type="radio" id="q15_a" name="q15" value="0">
                                                                <label for="q15_a">
                                                                    <span class="frac">
											<sup>3</sup>
											<span>/</span>
                                                                    <sub>10</sub>
                                                                    </span>
                                                                </label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q15_b" name="q15" value="0">
                                                                <label for="q15_b">
                                                                    <span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                                    <sub>10</sub>
                                                                    </span>
                                                                </label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q15_c" name="q15" value="1">
                                                                <label for="q15_c">
                                                                    <span class="frac">
											<sup>7</sup>
											<span>/</span>
                                                                    <sub>20</sub>
                                                                    </span>
                                                                </label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q15_d" name="q15" value="0">
                                                                <label for="q15_d">
                                                                    <span class="frac">
											<sup>1</sup>
											<span>/</span>
                                                                    <sub>4</sub>
                                                                    </span>
                                                                </label>
                                                            </p>
                                                            <h3>(16) In the fiqure below, BD and EC are diameters of circle P. What is the arc measure of AE in degrees?</h3>
                                                            <div>
                                                                <img src="images/bravo_d1/d1q16.jpg" />
								</div>
                                                                <p>
                                                                    <input type="radio" id="q16_a" name="q16" value="0">
                                                                    <label for="q16_a">9</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q16_b" name="q16" value="0">
                                                                    <label for="q16_b">18</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q16_c" name="q16" value="1">
                                                                    <label for="q16_c">27</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q16_d" name="q16" value="0">
                                                                    <label for="q16_d">21</label>
                                                                </p>
                                                                <h3>(17) What is the area of the shaded sector?</h3>
                                                                <p>Use &pi; &equals; 3.14</p>
                                                                <div>
                                                                    <img src="images/bravo_d1/d1q17.jpg" />
								</div>
                                                                    <p>
                                                                        <input type="radio" id="q17_a" name="q17" value="0">
                                                                        <label for="q17_a">1.57cm<sup>2</sup></label>
                                                                    </p>
                                                                    <p>
                                                                        <input type="radio" id="q17_b" name="q17" value="0">
                                                                        <label for="q17_b">3.14cm<sup>2</sup></label>
                                                                    </p>
                                                                    <p>
                                                                        <input type="radio" id="q17_c" name="q17" value="0">
                                                                        <label for="q17_c">4.16cm<sup>2</sup></label>
                                                                    </p>
                                                                    <p>
                                                                        <input type="radio" id="q17_d" name="q17" value="1">
                                                                        <label for="q17_d">4.71cm<sup>2</sup></label>
                                                                    </p>
                                                                    <h3>(18) Is the discriminant of f positive, zero or negative?</h3>
                                                                    <div>
                                                                        <img src="images/bravo_d1/d1q18.jpg" />
								</div>
                                                                        <p>
                                                                            <input type="radio" id="q18_a" name="q18" value="1">
                                                                            <label for="q18_a">Positive</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q18_b" name="q18" value="0">
                                                                            <label for="q18_b">Negative</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q18_c" name="q18" value="0">
                                                                            <label for="q18_c">Zero</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q18_d" name="q18" value="0">
                                                                            <label for="q18_d">None</label>
                                                                        </p>
                                                                        <h3>(19) 2 &plus; 10x &minus; 36 &equals; 0 &plus; 8x</h3>
                                                                        <p>Simplify the equation above.</p>
                                                                        <p>
                                                                            <input type="radio" id="q19_a" name="q19" value="1">
                                                                            <label for="q19_a">x &equals; 17</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q19_b" name="q19" value="0">
                                                                            <label for="q19_b">x &equals; 36</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q19_c" name="q19" value="0">
                                                                            <label for="q19_c">x &equals; 10</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q19_d" name="q19" value="0">
                                                                            <label for="q19_d">x &equals; 2</label>
                                                                        </p>
                                                                        <h3>(20) Beijing has 20.7 million people and an area square of 16, 400 km<sup>2</sup>. Shanghai has 23.7
									million people and a square 6300 km<sup>2</sup>.</h3>
                                                                        <p>How many more times as great is the population density of Shanghai as Beijing?</p>
                                                                        <p>
                                                                            <input type="radio" id="q20_a" name="q20" value="0">
                                                                            <label for="q20_a">About the same</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q20_b" name="q20" value="0">
                                                                            <label for="q20_b">About 2 times as great</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q20_c" name="q20" value="1">
                                                                            <label for="q20_c">About 3 times as great</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q20_d" name="q20" value="0">
                                                                            <label for="q20_d">About 6 times as great</label>
                                                                        </p>
                                                                        <div class="HeaderbannerLabel">COACH CREDENTIALS</div>
                                                                        <!-- TODO: Add text input fields for user_id, coach_email -->
                                                                        <!-- Hidden fields for test,course and module -->
                                                                        <input type="hidden" name="test" value="bravo_d1">
                                                                        <input type="hidden" name="course" value="bravo_d">
                                                                        <input type="hidden" name="module" value="numeracy">
                                                                        <label for="coach_id" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Coach ID</label>
                                                                        <input type="text" name="coach_id" ng-model="test_response.coach_id" required ng-maxlength="5" placeholder="e.g MM003" style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                                                                        <span class="password-error" ng-show="testForm2.coach_id.$error.maxlength">Please enter a valid Coach ID</span>
                                                                        <!-- Submit button disabled if form is invalid -->
                                                                        <!-- <input type="submit" value="submit" ng-disabled="testForm2.$invalid"> -->
                                                                        <button type="submit" value="Submit" ng-disabled="testForm2.$invalid" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
