<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
    <title>Bravo B1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">
    <!--Js-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="pmodule/app.js"></script>
    <link rel="stylesheet" href="pmodule/password_modal.css">

    <style>
        .HeaderbannerLabel {
			background-color: rgb(0, 0, 255);
			color: rgba(255, 255, 255, 1);
			font-size: 20px;
			font-weight: 500;
			padding-left: 34px;
			margin-left: -30px;
			font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
			padding: 8px 8px 8px 42px;
			margin-top: 30px;
			margin-bottom: 25px;
			width: 30%;
		}

		.ins {
			color: #212121;
			font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
			line-height: 135%;
			margin-top: 22px;
			white-space: pre-wrap;
		}

		h3 {
			font-weight: normal;
		}

		.box {
			display: inline-block;
			background-color: none;
			vertical-align: middle
		}

		span.frac {
			display: inline-block;
			font-size: 75%;
			text-align: center;
			vertical-align: middle
		}

		span.frac>sup {
			display: block;
			border-bottom: 1px solid;
			font: inherit;
		}

		span.frac>span {
			display: none;
		}

		span.icon>span {
			display: inline-block;
			font-size: 1.1em
		}

		span.frac>sub {
			display: block;
			font: inherit;
		}
	</style>
</head>

<body ng-controller="ModalDemoCtrl as ctrl" style="background-color: rgb(135, 206, 250); font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <!-- TODO: Add inline script for passowrd modal -->
    <!-- Password modal -->
    <script type="text/ng-template" id="testModalContent.html">
        <div class="modal-header">
<h3 class="modal-title" id="modal-title">The Coach should enter the password</h3>
				</div>
<div class="modal-body" id="modal-body">
<label class="item item-input">
		<input ng-model="password" type="password" class="form-control" id="passwordInput" required>
				</label>
<p class="password-error" ng-show="wrongPassword==true">Sorry, that is not the correct password. Please try again</p>
				</div>
<div class="modal-footer">
<button class="btn btn-success" type="button" ng-click="$ctrl.checkPassword(password)">OK</button>
<button class="btn btn-danger" type="button">Cancel</button>
				</div>
		</script>
    <!-- TODO: Add tag to instantiate modal when page opens -->
    <span ng-init=ctrl.openModal()></span>
    <section class="container-fluid" style="margin: auto; width: 640px !important; background-color: white;">
        <div class="row">
            <div class="container page">
                <div class="row">
                    <div id="edulution_logo">
                        <img src="images/edulution_logo.png" class="img-responsive center-block">
					</div>
                        <div class="pd-tb">
                            <div class="pd-lr">
                                <form action="/submit_test" name="testForm2" method="post">
                                    <p style="box-sizing: border-box; font-size: 34px; line-height: 135%; max-width: 100%; min-width: 0%;"> Bravo B1</p>
                                    <div class="HeaderbannerLabel">USERNAME</div>
                                    <!-- Input fiels for user_id contains some js code for validation -->
                                    <label for="username" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%; font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;">Username</label>
                                    <input type="text" autocomplete="off" id="user_id" name="username" ng-model="test_response.username" whitelist style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                                    <span class="password-error" ng-show="testForm2.$dirty && testForm2.username.$error.whitelist">Please enter a valid Student ID</span>
                                    <div style="color:rgb(219, 68, 55);font-size: 13px;margin-top: 22px;"></div>
                                    <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                                    <div class="ins">Time allowed: 1 Hour <br>Calculators are NOT allowed<br>Ask your coach if you are not sure how to answer the questions</div>
                                    <div class="HeaderbannerLabel extend_banner">ASSESSMENT</div>
                                    <!-- TODO: Add form name,action and method -->
                                    <!-- <form name="testForm" action="/submit_test" method="post"> -->
                                    <h3>(1) 2y &plus; 7x &equals; &minus;5 and 5y &minus; 7x &equals; 12</h3>
                                    <p>Solve the simultaneous equations above giving your answer as coordinates.</p>
                                    <p>
                                        <!-- TODO: Add value attribute to each radio button -->
                                        <!-- Each group of radio buttons with the same name corresponds to one question -->
                                        <!-- Wrong answers are 0, correct answer is 1 -->
                                        <!-- Example below -->
                                        <!-- <input type="radio" id="test1" name="q1" value="0"> -->
                                        <input type="radio" id="q1_a" name="q1" value="1">
                                        <label for="q1_a">(&minus;1,1)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q1_b" name="q1" value="0">
                                        <label for="q1_b">(1,1)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q1_c" name="q1" value="0">
                                        <label for="q1_c">(&minus;1,2)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q1_d" name="q1" value="0">
                                        <label for="q1_d">(&minus;2,1)</label>
                                    </p>
                                    <h3>(2) 7x &plus; 10y &equals; 36 and y &equals; 2x &plus; 9</h3>
                                    <p>Solve the simultaneous equations above giving your answer as coordinates.</p>
                                    <p>
                                        <input type="radio" id="q2_a" name="q2" value="0">
                                        <label for="q2_a">(2,5)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q2_b" name="q2" value="0">
                                        <label for="q2_b">(2,&minus;5)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q2_c" name="q2" value="1">
                                        <label for="q2_c">(&minus;2,4)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q2_d" name="q2" value="0">
                                        <label for="q2_d">(&minus;2,&minus;5)</label>
                                    </p>
                                    <h3>(3) Calculate the gradient of the line joining the following pairs of points (3,0), (4,3)</h3>
                                    <p>
                                        <input type="radio" id="q3_a" name="q3" value="0">
                                        <label for="q3_a">1</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q3_b" name="q3" value="0">
                                        <label for="q3_b">3</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q3_c" name="q3" value="1">
                                        <label for="q3_c">4</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q3_d" name="q3" value="0">
                                        <label for="q3_d">2</label>
                                    </p>
                                    <h3>(4) Calculate the gradient of the line joining the points D (1,5) and E (5,2)</h3>
                                    <p>
                                        <input type="radio" id="q4_a" name="q4" value="0">
                                        <label for="q4_a">
                                            <span class="frac">
											<sup>&minus;3</sup>
											<span>/</span>
                                            <sub>4</sub>
                                            </span>
                                        </label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q4_b" name="q4" value="1">
                                        <label for="q4_b">
                                            <span class="frac">
											<sup>3</sup>
											<span>/</span>
                                            <sub>4</sub>
                                            </span>
                                        </label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q4_c" name="q4" value="0">
                                        <label for="q4_c">
                                            <span class="frac">
											<sup>1</sup>
											<span>/</span>
                                            <sub>4</sub>
                                            </span>
                                        </label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q4_d" name="q4" value="0">
                                        <label for="q4_d">
                                            <span class="frac">
											<sup>&minus;1</sup>
											<span>/</span>
                                            <sub>4</sub>
                                            </span>
                                        </label>
                                    </p>
                                    <h3>(5) Mary is 3 times as old as her son. In 12 years Mary's age will be 1 year less than twice the son's age.
									How old is the son now?</h3>
                                    <p>
                                        <input type="radio" id="q5_a" name="q5" value="1">
                                        <label for="q5_a">9 years</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q5_b" name="q5" value="0">
                                        <label for="q5_b">10 years</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q5_c" name="q5" value="0">
                                        <label for="q5_c">11 years</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q5_d" name="q5" value="0">
                                        <label for="q5_d">12 years</label>
                                    </p>
                                    <h3>(6) &minus;4y &plus; 7x &equals; 49 and &minus;16y &plus; 9x &equals; 63</h3>
                                    <p>Solve the simultaneous equations above giving your answer as coordinates.</p>
                                    <p>
                                        <input type="radio" id="q6_a" name="q6" value="0">
                                        <label for="q6_a">(7,1)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q6_b" name="q6" value="0">
                                        <label for="q6_b">(&minus;7,0)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q6_c" name="q6" value="1">
                                        <label for="q6_c">(7,0)</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="q6_d" name="q6" value="0">
                                        <label for="q6_d">(7,&minus;1)</label>
                                    </p>
                                    <h3>(7) Elsa and Olaf's teacher gave them a system of linear equations to solve. They each took a few steps
									that led to the system shown in the table below.</h3>
                                    <p>Which system has the same solution as the teacher's system?</p>
                                    <div>
                                        <img src="images/bravo_b1/b1q7.png" />
								</div>
                                        <p>
                                            <input type="radio" id="q7_a" name="q7" value="1">
                                            <label for="q7_a">Only Elsa</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q7_b" name="q7" value="0">
                                            <label for="q7_b">Only Olaf</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q7_c" name="q7" value="0">
                                            <label for="q7_c">Both Elsa and Olaf</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="q7_d" name="q7" value="0">
                                            <label for="q7_d">Neither Elsa or Olaf</label>
                                        </p>
                                        <h3>(8) What is the distance between the points below?</h3>
                                        <div>
                                            <img src="images/bravo_b1/b1q8.png" />
								</div>
                                            <p>
                                                <input type="radio" id="q8_a" name="q8" value="1">
                                                <label for="q8_a">5</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q8_b" name="q8" value="0">
                                                <label for="q8_b">7</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q8_c" name="q8" value="0">
                                                <label for="q8_c">12</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q8_d" name="q8" value="0">
                                                <label for="q8_d">28</label>
                                            </p>
                                            <h3>(9) What is the distance between (4, 7) and (2, 2)</h3>
                                            <p>
                                                <input type="radio" id="q9_a" name="q9" value="0">
                                                <label for="q9_a">10</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q9_b" name="q9" value="0">
                                                <label for="q9_b">17</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q9_c" name="q9" value="0">
                                                <label for="q9_c">19</label>
                                            </p>
                                            <p>
                                                <input type="radio" id="q9_d" name="q9" value="1">
                                                <label for="q9_d">29</label>
                                            </p>
                                            <h3>(10) Which line fits the data graphed below?</h3>
                                            <div>
                                                <img src="images/bravo_b1/b1q10.png" />
								</div>
                                                <p>
                                                    <input type="radio" id="q10_a" name="q10" value="0">
                                                    <label for="q10_a">A</label>
                                                </p>
                                                <p>
                                                    <input type="radio" id="q10_b" name="q10" value="1">
                                                    <label for="q10_b">B</label>
                                                </p>
                                                <p>
                                                    <input type="radio" id="q10_c" name="q10" value="0">
                                                    <label for="q10_c">C</label>
                                                </p>
                                                <p>
                                                    <input type="radio" id="q10_d" name="q10" value="0">
                                                    <label for="q10_d">None</label>
                                                </p>
                                                <h3>(11) Which line fits the data graphed below?</h3>
                                                <div>
                                                    <img src="images/bravo_b1/b1q11.png" />
								</div>
                                                    <p>
                                                        <input type="radio" id="q11_a" name="q11" value="0">
                                                        <label for="q11_a">A</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio" id="q11_b" name="q11" value="0">
                                                        <label for="q11_b">B</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio" id="q11_c" name="q11" value="1">
                                                        <label for="q11_c">C</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio" id="q11_d" name="q11" value="0">
                                                        <label for="q11_d">None</label>
                                                    </p>
                                                    <h3>(12) The following table shows the yearly salaries for each of the cheerleading coaches in Dokato Country.</h3>
                                                    <p>What is the lowest yearly salary for a chearleading coach?</p>
                                                    <div>
                                                        <img src="images/bravo_b1/b1q12.jpg" />
								</div>
                                                        <p>
                                                            <input type="radio" id="q12_a" name="q12" value="0">
                                                            <label for="q12_a">0</label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q12_b" name="q12" value="0">                      <label for="q12_b">10</label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q12_c" name="q12" value="1">
                                                            <label for="q12_c">36</label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q12_d" name="q12" value="0">
                                                            <label for="q12_d">57</label>
                                                        </p>
                                                        <h3>(13) 3, 2, 16, 4, 26, 8, 6, 3</h3>
                                                        <p>The data points above represent the weight (in kilograms) of each dog in the Ridgeway Dog show. How many
                                                            less kilograms did the lightest dog weigh than the heaviest dog?</p>
                                                        <p>
                                                            <input type="radio" id="q13_a" name="q13" value="0">
                                                            <label for="q13_a">8</label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q13_b" name="q13" value="0">
                                                            <label for="q13_b">16</label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q13_c" name="q13" value="1">
                                                            <label for="q13_c">24</label>
                                                        </p>
                                                        <p>
                                                            <input type="radio" id="q13_d" name="q13" value="0">
                                                            <label for="q13_d">28</label>
                                                        </p>
                                                        <h3>(14) The following dot plot shows the essay score for each student in Mr. Ji's class. Each dot represents a
									different student</h3>
                                                        <p>What was the minimum essay score that a student received?</p>
                                                        <div>
                                                            <img src="images/bravo_b1/b1q14.jpg" />
								</div>
                                                            <p>
                                                                <input type="radio" id="q14_a" name="q14" value="0">
                                                                <label for="q14_a">1</label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q14_b" name="q14" value="1">
                                                                <label for="q14_b">2</label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q14_c" name="q14" value="0">
                                                                <label for="q14_c">4</label>
                                                            </p>
                                                            <p>
                                                                <input type="radio" id="q14_d" name="q14" value="0">
                                                                <label for="q14_d">5</label>
                                                            </p>
                                                            <h3>(15) The following dot plot shows the number of chocolate chips in each cookie that Shawn has. Each dot
									represents a different cookie.</h3>
                                                            <p>What is the fewest chocolate chips in a cookie?</p>
                                                            <div>
                                                                <img src="images/bravo_b1/b1q15.jpg" />
								</div>
                                                                <p>
                                                                    <input type="radio" id="q15_a" name="q15" value="0">
                                                                    <label for="q15_a">0</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q15_b" name="q15" value="0">
                                                                    <label for="q15_b">1</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q15_c" name="q15" value="1">
                                                                    <label for="q15_c">2</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q15_d" name="q15" value="0">
                                                                    <label for="q15_d">5</label>
                                                                </p>
                                                                <h3>(16) 5x &plus; 12y &minus; 10 &equals; 0 and 2x &minus; 3y &plus; 35 &equals; 0</h3>
                                                                <p>Solve the simultaneous equations giving your answer as coordinates.</p>
                                                                <p>
                                                                    <input type="radio" id="q16_a" name="q16" value="0">
                                                                    <label for="q16_a">(10,5)</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q16_b" name="q16" value="1">
                                                                    <label for="q16_b">(&minus;10,5)</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q16_c" name="q16" value="0">
                                                                    <label for="q16_c">(2,&minus;5)</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q16_d" name="q16" value="0">
                                                                    <label for="q16_d">(5,10)</label>
                                                                </p>
                                                                <h3>(17) 12x &minus; 5y &equals; &minus;20 and y &equals; x &plus; 4</h3>
                                                                <p>Solve the simultaneous equations giving your answer as coordinates</p>
                                                                <p>
                                                                    <input type="radio" id="q17_a" name="q17" value="1">
                                                                    <label for="q17_a">(0,4)</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q17_b" name="q17" value="0">
                                                                    <label for="q17_b">(1,4)</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q17_c" name="q17" value="0">
                                                                    <label for="q17_c">(2,4)</label>
                                                                </p>
                                                                <p>
                                                                    <input type="radio" id="q17_d" name="q17" value="0">
                                                                    <label for="q17_d">(3,4)</label>
                                                                </p>
                                                                <h3>(18) Is x&deg; greater than, less than, or equal to 139&deg;?</h3>
                                                                <div>
                                                                    <img src="images/bravo_b1/b1q18.jpg" />
								</div>
                                                                    <p>
                                                                        <input type="radio" id="q18_a" name="q18" value="0">
                                                                        <label for="q18_a">x&deg; &gt; 139&deg;</label>
                                                                    </p>
                                                                    <p>
                                                                        <input type="radio" id="q18_b" name="q18" value="0">
                                                                        <label for="q18_b">x&deg; &lt 139&deg;</label>
                                                                    </p>
                                                                    <p>
                                                                        <input type="radio" id="q18_c" name="q18" value="1">
                                                                        <label for="q18_c">x&deg; &equals; 139&deg;</label>
                                                                    </p>
                                                                    <h3>(19) Does the graph below represent a function?</h3>
                                                                    <div>
                                                                        <img src="images/bravo_b1/b1q19.jpg" class="" />
								</div>
                                                                        <p>
                                                                            <input type="radio" id="q19_a" name="q19" value="1">
                                                                            <label for="q19_a">x&deg; &gt; 69&deg;</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q19_b" name="q19" value="0">
                                                                            <label for="q19_b">x&deg; &lt; 69&deg;</label>
                                                                        </p>
                                                                        <p>
                                                                            <input type="radio" id="q19_c" name="q19" value="0">
                                                                            <label for="q19_c">x&deg; &equals; 69&deg;</label>
                                                                        </p>
                                                                        <h3>(20) Find the value value of x&deg;</h3>
                                                                        <div>
                                                                            <img src="images/bravo_b1/b1q20.jpg" class="" />
								</div>
                                                                            <p>
                                                                                <input type="radio" id="q20_a" name="q20" value="0">
                                                                                <label for="q20_a">x &equals; 80&deg;</label>
                                                                            </p>
                                                                            <p>
                                                                                <input type="radio" id="q20_b" name="q20" value="0">
                                                                                <label for="q20_b">x &equals; 69&deg;</label>
                                                                            </p>
                                                                            <p>
                                                                                <input type="radio" id="q20_c" name="q20" value="1">
                                                                                <label for="q20_c">x &equals; 40&deg;</label>
                                                                            </p>
                                                                            <p>
                                                                                <input type="radio" id="q20_d" name="q20" value="0">
                                                                                <label for="q20_d">x &equals; 160&deg;</label>
                                                                            </p>
                                                                            <div class="HeaderbannerLabel">COACH CREDENTIALS</div>
                                                                            <!-- TODO: Add text input fields for user_id, coach_email -->
                                                                            <!-- Hidden fields for test,course and module -->
                                                                            <input type="hidden" name="test" value="bravo_b1">
                                                                            <input type="hidden" name="course" value="bravo_b">
                                                                            <input type="hidden" name="module" value="numeracy">
                                                                            <label for="coach_id" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Coach ID</label>
                                                                            <input type="text" name="coach_id" ng-model="test_response.coach_id" required ng-maxlength="5" placeholder="e.g MM003" style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                                                                            <span class="password-error" ng-show="testForm2.coach_id.$error.maxlength">Please enter a valid Coach ID</span>
                                                                            <!-- Submit button disabled if form is invalid -->
                                                                            <!-- <input type="submit" value="submit" ng-disabled="testForm2.$invalid"> -->
                                                                            <button type="submit" value="Submit" ng-disabled="testForm2.$invalid" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
