<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Pre-alpha </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <!-- TODO : please ensure that all fonts and libraries are offline -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- TODO: Include password modal js below -->
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- include partial for password modal -->
    <div ng-include="/pmodule/templates/pmodal_content.html"></div>
    <!-- Run init function when page opens -->
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <p class="test_name">Pre Alpha A1</p>
                        <div ng-include="'/pmodule/templates/username_input.html'"></div>
                        <!-- Input fiels for user_id contains some js code for validation -->
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Time allowed: 1 Hour 30 Minutes <br>Calculators are NOT allowed<br>Ask your coach if you are not sure how to answer the questions</div>
                        <div class="HeaderbannerLabel">ASSESSMENT</div>
                        <h3>(1) Calculate <span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span> &times; <span class="frac"><sup>1</sup><span>/</span><sub>3</sub></span></h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_a"><span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b"><span class="frac"><sup>2</sup><span>/</span><sub>6</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c"><span class="frac"><sup>1</sup><span>/</span><sub>5</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0000">
                            <label for="q1_d"><span class="frac"><sup>2</sup><span>/</span><sub>5</sub></span></label>
                        </p>
                        <h3>(2) Calculate <span class="frac"><sup>4</sup><span>/</span><sub>7</sub></span> &times; <span class="frac"><sup>2</sup><span>/</span><sub>3</sub></span></h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a"><span class="frac"><sup>6</sup><span>/</span><sub>10</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="00">
                            <label for="q2_b"><span class="frac"><sup>12</sup><span>/</span><sub>14</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_c"><span class="frac"><sup>8</sup><span>/</span><sub>21</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d"><span class="frac"><sup>8</sup><span>/</span><sub>10</sub></span></label>
                        </p>
                        <h3>(3) Calculate 2<span class="frac"><sup>3</sup><span>/</span><sub>8</sub></span> &times; 1<span class="frac"><sup>4</sup><span>/</span><sub>5</sub></span></h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">1<span class="frac"><sup>7</sup><span>/</span><sub>13</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_b">2<span class="frac"><sup>12</sup><span>/</span><sub>40</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">3<span class="frac"><sup>12</sup><span>/</span><sub>40</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">3<span class="frac"><sup>7</sup><span>/</span><sub>13</sub></span></label>
                        </p>
                        <h3>(4) Calculate 8.021 &plus; 11.76</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">19.097</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_b">19.97</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_c">19.739</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_d">19.781</label>
                        </p>
                        <h3>(5) Calculate 9.8 &minus; 0.592</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a">8.416</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_b">9.208</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c">9.6</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d">10.392</label>
                        </p>
                        <h3>(6) Calculate 7.005 &minus; 4.8</h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_a">2.205</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_b">3.042</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_c">3.205</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_d">3.795</label>
                        </p>
                        <h3>(7) Calculate 4.83 &times; 10</h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a">0.483</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="00">
                            <label for="q7_b">4.083</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_c">48.3</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d">483</label>
                        </p>
                        <h3>(8) Calculate 239 &divide; 10</h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_a">0.239</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_b">2.39</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_c">239</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_d">2390</label>
                        </p>
                        <h3>(9) Calculate 0.7 &times; 0.3</h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">0.10</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_b">0.21</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_c">2.1</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="0000">
                            <label for="q9_d">21</label>
                        </p>
                        <h3>(10) Calculate 0.36 &times; 4</h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">0.4</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b">0.72</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_c">1.44</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_d">144</label>
                        </p>
                        <h3>(11) Calculate 2.5 &times; 0.14</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a">0.254</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_b">0.35</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">2.64</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_d">35</label>
                        </p>
                        <h3>(12) Calculate 3.84 &divide; 2</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_a">1.92</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b">3.42</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">3.64</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_d">3.82</label>
                        </p>
                        <h3>(13) A cake shop baked 50cakes in the first week. How many cakes werebakedin the second week if that amount increased by 20%?</h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_a">60</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">70</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_c">75</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">120</label>
                        </p>
                        <h3>(14) A farm grows 30%lessapples this year than last year. If they grew 1200apples last year, how many apples did they grow this year?</h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_a">40</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_b">840</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c">1170</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="0000">
                            <label for="q14_d">1230</label>
                        </p>
                        <h3>(15) Select anexpression that is equivalent to 5 &times; 5 &times; 5 &times; 5.</h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a">5 &times; 4</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="00">
                            <label for="q15_b">5<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_c">5<sup>4</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="0000">
                            <label for="q15_d">4<sup>5</sup></label>
                        </p>
                        <h3>(16) Select an expression that is equivalent to 6<sup>2</sup>.<h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_a">2 &times; 2</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="00">
                            <label for="q16_b">6 &times; 2</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_c">6 &times; 6</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_d">6 &times; 6 &times; 6</label>
                        </p>
                        <h3>(17) Calculate 7 &plus; (6 &times; 5<sup>2</sup> &plus; 3)</h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_a">160</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="00">
                            <label for="q17_b">175</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_c">328</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="0000">
                            <label for="q17_d">910</label>
                        </p>
                        <h3>(18) Calculate √81</h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_a">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="00">
                            <label for="q18_b">8</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_c">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="0000">
                            <label for="q18_d">10</label>
                        </p>
                        <h3>(19) Calculate <sup>3</sup>√125</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_a">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_b">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_c">41.67</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_d">122</label>
                        </p>
                        <h3>(20) Calculate 10<sup>5</sup></h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_a">50</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="00">
                            <label for="q20_b">105</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="000">
                            <label for="q20_c">10 000</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_d">100 000</label>
                        </p>
                        <h3>(21) John bakesbiscuits. He spent $20baking the biscuits and sold them for $30. What was his profit?</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_a">$10</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00">
                            <label for="q21_b">$20</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="000">
                            <label for="q21_c">$30</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="0000">
                            <label for="q21_d">$50</label>
                        </p>
                        <h3>(22) Peter has $200in his bank account. The bank pays 5%simple interest per annum. How much money does he have in his account after 2 years?</h3>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="0">
                            <label for="q22_a">$205</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="00">
                            <label for="q22_b">$210</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_c">$220</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_d">$220.50</label>
                        </p>
                        <h3>(23) The graph shows the number of chairs that can be packed around anumber of tablesthat arejoined together. </h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q23.jpg" class="img-responsive"/></div></h3>
                        <h3>How many chairs are needed if 5tablesare joined together?</h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_a">2<sup>1</sup><span>/</span><sub>2</sub></span> chairs</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="00">
                            <label for="q23_b">5 chairs</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_c">8 chairs</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_d">10 chairs</label>
                        </p>
                        <h3>(24) Mark puts some money in a tin each day. The table shows how much money he has saved.</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q24.jpg" class="img-responsive"/></div></h3>
                        <h3>Determinethe ruleused to calculate the amount of money in the tin.</h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_a">Amount of money = Number of days &times; 12</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="00">
                            <label for="q24_b">Number of days= amount of money &times; 6</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_c">Amount of money = Number of days &times; 6</label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_d">Amount of money = Number of days &plus; 6</label>
                        </p>
                        <h3>(25) Order the negative numbers: 2; &minus;9; 0; &minus;34 from smallest to largest.</h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_a">2; 0; &minus;9; &minus;34</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="00">
                            <label for="q25_b">0; 2; &minus;9; &minus;34</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_c">&minus;34; &minus;9; 0; 2</label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="0000">
                            <label for="q25_d">&minus;9; &minus;34; 2; 0</label>
                        </p>
                        <h3>(26) Calculate &minus;5 &minus; 8</h3>
                        <p>
                            <input type="radio" id="q26_a" name="q26" ng-model="testResponse.q26" value="0">
                            <label for="q26_a">&minus;13</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_b" name="q26" ng-model="testResponse.q26" value="1">
                            <label for="q26_b">&minus;3</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_c" name="q26" ng-model="testResponse.q26" value="000">
                            <label for="q26_c">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q26_d" name="q26" ng-model="testResponse.q26" value="0000">
                            <label for="q26_d">13</label>
                        </p>
                        <h3>(27) Calculate &minus;5 &minus; 8</h3>
                        <p>
                            <input type="radio" id="q27_a" name="q27" ng-model="testResponse.q27" value="1">
                            <label for="q27_a">&minus;13</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_b" name="q27" ng-model="testResponse.q27" value="00">
                            <label for="q27_b">&minus;3</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_c" name="q27" ng-model="testResponse.q27" value="000">
                            <label for="q27_c">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q27_d" name="q27" ng-model="testResponse.q27" value="0000">
                            <label for="q27_d">13</label>
                        </p>
                        <h3>(28) Calculate &minus;5 &plus; (&minus;8)</h3>
                        <p>
                            <input type="radio" id="q28_a" name="q28" ng-model="testResponse.q28" value="1">
                            <label for="q28_a">&minus;13</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_b" name="q28" ng-model="testResponse.q28" value="00">
                            <label for="q28_b">&minus;3</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_c" name="q28" ng-model="testResponse.q28" value="000">
                            <label for="q28_c">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q28_d" name="q28" ng-model="testResponse.q28" value="0000">
                            <label for="q28_d">13</label>
                        </p>
                        <h3>(29) Calculate &minus;5 &minus; (&minus;8)</h3>
                        <p>
                            <input type="radio" id="q29_a" name="q29" ng-model="testResponse.q29" value="0">
                            <label for="q29_a">&minus;13</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_b" name="q29" ng-model="testResponse.q29" value="00">
                            <label for="q29_b">&minus;3</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_c" name="q29" ng-model="testResponse.q29" value="1">
                            <label for="q29_c">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q29_d" name="q29" ng-model="testResponse.q29" value="0000">
                            <label for="q29_d">13</label>
                        </p>
                        <h3>(30) What is the name of the quadrilateralwith opposite sides and opposite angles equal, and opposite sides parallel?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q30.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q30_a" name="q30" ng-model="testResponse.q30" value="0">
                            <label for="q30_a">Square</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_b" name="q30" ng-model="testResponse.q30" value="00">
                            <label for="q30_b">Rectangle</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_c" name="q30" ng-model="testResponse.q30" value="1">
                            <label for="q30_c">Parallelogram</label>
                        </p>
                        <p>
                            <input type="radio" id="q30_d" name="q30" ng-model="testResponse.q30" value="0000">
                            <label for="q30_d">Kite</label>
                        </p>
                        <h3>(31) What is the name of the quadrilateralwith only one pair of opposite sidesparallel?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q31.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q31_a" name="q31" ng-model="testResponse.q31" value="0">
                            <label for="q31_a">Rectangle</label>
                        </p>
                        <p>
                            <input type="radio" id="q31_b" name="q31" ng-model="testResponse.q31" value="00">
                            <label for="q31_b">Parallelogram</label>
                        </p>
                        <p>
                            <input type="radio" id="q31_c" name="q31" ng-model="testResponse.q31" value="1">
                            <label for="q31_c">Trapezium</label>
                        </p>
                        <p>
                            <input type="radio" id="q31_d" name="q31" ng-model="testResponse.q31" value="0000">
                            <label for="q31_d">Kite</label>
                        </p>
                        <h3>(32) What is the name of atriangle with two sides equal?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q32.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q32_a" name="q32" ng-model="testResponse.q32" value="0">
                            <label for="q32_a">Right-angledtriangle</label>
                        </p>
                        <p>
                            <input type="radio" id="q32_b" name="q32" ng-model="testResponse.q32" value="1">
                            <label for="q32_b">Isosceles triangle</label>
                        </p>
                        <p>
                            <input type="radio" id="q32_c" name="q32" ng-model="testResponse.q32" value="000">
                            <label for="q32_c">Equilateral triangle</label>
                        </p>
                        <p>
                            <input type="radio" id="q32_d" name="q32" ng-model="testResponse.q32" value="0000">
                            <label for="q32_d">None of these</label>
                        </p>
                        <h3>(33) What is the name of atriangle with all anglesequal?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q33.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q33_a" name="q33" ng-model="testResponse.q33" value="0">
                            <label for="q33_a">Right-angledtriangle</label>
                        </p>
                        <p>
                            <input type="radio" id="q33_b" name="q33" ng-model="testResponse.q33" value="00">
                            <label for="q33_b">Isosceles triangle</label>
                        </p>
                        <p>
                            <input type="radio" id="q33_c" name="q33" ng-model="testResponse.q33" value="1">
                            <label for="q33_c">Equilateral triangle</label>
                        </p>
                        <p>
                            <input type="radio" id="q33_d" name="q33" ng-model="testResponse.q33" value="0000">
                            <label for="q33_d">None of these</label>
                        </p>
                        <h3>(34) What is the radius of the circle if the diameter is 16mm?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q34.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q34_a" name="q34" ng-model="testResponse.q34" value="0">
                            <label for="q34_a">4 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q34_b" name="q34" ng-model="testResponse.q34" value="1">
                            <label for="q34_b">8 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q34_c" name="q34" ng-model="testResponse.q34" value="000">
                            <label for="q34_c">16 mm</label>
                        </p>
                        <p>
                            <input type="radio" id="q34_d" name="q34" ng-model="testResponse.q34" value="0000">
                            <label for="q34_d">32 mm</label>
                        </p>
                        <h3>(35) Square A (with sides 3cm) is enlarged in the ratio 1:2to create Square B. What is the area of Square B?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q35.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q35_a" name="q35" ng-model="testResponse.q35" value="0">
                            <label for="q35_a">9 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q35_b" name="q35" ng-model="testResponse.q35" value="00">
                            <label for="q35_b">18 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q35_c" name="q35" ng-model="testResponse.q35" value="000">
                            <label for="q35_c">27 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q35_d" name="q35" ng-model="testResponse.q35" value="1">
                            <label for="q35_d">36 cm<sup>2</sup></label>
                        </p>
                        <h3>(36) How would you describe lines AB and CD?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q36.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q36_a" name="q36" ng-model="testResponse.q36" value="0">
                            <label for="q36_a">Perpendicular</label>
                        </p>
                        <p>
                            <input type="radio" id="q36_b" name="q36" ng-model="testResponse.q36" value="1">
                            <label for="q36_b">Parallel</label>
                        </p>
                        <p>
                            <input type="radio" id="q36_c" name="q36" ng-model="testResponse.q36" value="000">
                            <label for="q36_c">Equal</label>
                        </p>
                        <p>
                            <input type="radio" id="q36_d" name="q36" ng-model="testResponse.q36" value="0000">
                            <label for="q36_d">Special</label>
                        </p>
                        <p>
                            <input type="radio" id="q36_e" name="q36" ng-model="testResponse.q36" value="00000">
                            <label for="q36_e">None of these</label>
                        </p>
                        <h3>(37) How would you describe lines EF and GH?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q37.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q37_a" name="q37" ng-model="testResponse.q37" value="1">
                            <label for="q37_a">Perpendicular</label>
                        </p>
                        <p>
                            <input type="radio" id="q37_b" name="q37" ng-model="testResponse.q37" value="00">
                            <label for="q37_b">Parallel</label>
                        </p>
                        <p>
                            <input type="radio" id="q37_c" name="q37" ng-model="testResponse.q37" value="000">
                            <label for="q37_c">Equal</label>
                        </p>
                        <p>
                            <input type="radio" id="q37_d" name="q37" ng-model="testResponse.q37" value="0000">
                            <label for="q37_d">Special</label>
                        </p>
                        <p>
                            <input type="radio" id="q37_e" name="q37" ng-model="testResponse.q37" value="00000">
                            <label for="q37_e">None of these</label>
                        </p>
                        <h3>(38) Use the formula:𝐴𝑟𝑒𝑎 = 𝑏𝑎𝑠𝑒 &times;⊥ℎ𝑒𝑖𝑔ℎ𝑡 to calculate the area of the triangle with a base of 7mm and a perpendicular height of 4mm.</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q38.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q38_a" name="q38" ng-model="testResponse.q38" value="0">
                            <label for="q38_a">11 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q38_b" name="q38" ng-model="testResponse.q38" value="1">
                            <label for="q38_b">14 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q38_c" name="q38" ng-model="testResponse.q38" value="000">
                            <label for="q38_c">28 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q38_d" name="q38" ng-model="testResponse.q38" value="0000">
                            <label for="q38_d">30 mm<sup>2</sup></label>
                        </p>
                        <h3>(39) Use the formula: 𝐴𝑟𝑒𝑎 = &times; 𝑏𝑎𝑠𝑒 &times; ⊥ ℎ𝑒𝑖𝑔ℎ𝑡to calculate the area of the right-angled triangle.</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q39.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q39_a" name="q39" ng-model="testResponse.q39" value="0">
                            <label for="q39_a">3 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q39_b" name="q39" ng-model="testResponse.q39" value="00">
                            <label for="q39_b">21 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q39_c" name="q39" ng-model="testResponse.q39" value="1">
                            <label for="q39_c">54 cm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q39_d" name="q39" ng-model="testResponse.q39" value="0000">
                            <label for="q39_d">108 cm<sup>2</sup></label>
                        </p>
                        <h3>(40) Calculate the area of the shape.</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q40.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q40_a" name="q40" ng-model="testResponse.q40" value="0">
                            <label for="q40_a">8 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q40_b" name="q40" ng-model="testResponse.q40" value="00">
                            <label for="q40_b">16 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q40_c" name="q40" ng-model="testResponse.q40" value="1">
                            <label for="q40_c">24 mm<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q40_d" name="q40" ng-model="testResponse.q40" value="0000">
                            <label for="q40_d">128 mm<sup>2</sup></label>
                        </p>
                        <h3>(41) Whatsingletransformationwasappliedtoquadrilateral A to get quadrilateral B?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q41.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q41_a" name="q41" ng-model="testResponse.q41" value="0">
                            <label for="q41_a">Translation</label>
                        </p>
                        <p>
                            <input type="radio" id="q41_b" name="q41" ng-model="testResponse.q41" value="1">
                            <label for="q41_b">Rotation</label>
                        </p>
                        <p>
                            <input type="radio" id="q41_c" name="q41" ng-model="testResponse.q41" value="000">
                            <label for="q41_c">Reflection</label>
                        </p>
                        <p>
                            <input type="radio" id="q41_d" name="q41" ng-model="testResponse.q41" value="0000">
                            <label for="q41_d">Dilation</label>
                        </p>
                        <h3>(42) What single transformation was applied to quadrilateral A to get quadrilateral B?</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q42.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q42_a" name="q42" ng-model="testResponse.q42" value="0">
                            <label for="q42_a">Translation</label>
                        </p>
                        <p>
                            <input type="radio" id="q42_b" name="q42" ng-model="testResponse.q42" value="00">
                            <label for="q42_b">Rotation</label>
                        </p>
                        <p>
                            <input type="radio" id="q42_c" name="q42" ng-model="testResponse.q42" value="000">
                            <label for="q42_c">Reflection</label>
                        </p>
                        <p>
                            <input type="radio" id="q42_d" name="q42" ng-model="testResponse.q42" value="1">
                            <label for="q42_d">Dilation</label>
                        </p>
                        <h3>(43) Calculate the volume of the rectanglular prism whose base has an area of 15mm<sup>2</sup>and is 4 mm high.</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q43.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q43_a" name="q43" ng-model="testResponse.q43" value="0">
                            <label for="q43_a">12 mm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q43_b" name="q43" ng-model="testResponse.q43" value="00">
                            <label for="q43_b">15 mm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q43_c" name="q43" ng-model="testResponse.q43" value="000">
                            <label for="q43_c">20 mm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q43_d" name="q43" ng-model="testResponse.q43" value="1">
                            <label for="q43_d">60 mm<sup>3</sup></label>
                        </p>
                        <h3>(44) Calculate the volume of the rectangular prism.</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q44.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q44_a" name="q44" ng-model="testResponse.q44" value="0">
                            <label for="q44_a">17 mm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q44_b" name="q44" ng-model="testResponse.q44" value="00">
                            <label for="q44_b">20 mm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q44_c" name="q44" ng-model="testResponse.q44" value="000">
                            <label for="q44_c">32 mm<sup>3</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q44_d" name="q44" ng-model="testResponse.q44" value="1">
                            <label for="q44_d">160 mm<sup>3</sup></label>
                        </p>
                        <h3>(45) Calculate the surface area of the rectangular prism. The net of the prism is shown.</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q45.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q45_a" name="q45" ng-model="testResponse.q45" value="0">
                            <label for="q45_a">35 units<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q45_b" name="q45" ng-model="testResponse.q45" value="00">
                            <label for="q45_b">50 units<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q45_c" name="q45" ng-model="testResponse.q45" value="1">
                            <label for="q45_c">62 units<sup>2</sup></label>
                        </p>
                        <p>
                            <input type="radio" id="q45_d" name="q45" ng-model="testResponse.q45" value="0000">
                            <label for="q45_d">70 units<sup>2</sup></label>
                        </p>
                        <h3>(46) What is the probability of a coin landing on heads?</h3>
                        <p>
                            <input type="radio" id="q46_a" name="q46" ng-model="testResponse.q46" value="0">
                            <label for="q46_a">0.1</label>
                        </p>
                        <p>
                            <input type="radio" id="q46_b" name="q46" ng-model="testResponse.q46" value="00">
                            <label for="q46_b">0.2</label>
                        </p>
                        <p>
                            <input type="radio" id="q46_c" name="q46" ng-model="testResponse.q46" value="1">
                            <label for="q46_c">0.5</label>
                        </p>
                        <p>
                            <input type="radio" id="q46_d" name="q46" ng-model="testResponse.q46" value="0000">
                            <label for="q46_d">1</label>
                        </p>
                        <h3>(47) If a bag has 4yellow marbles and 1 red marble, what is the probability of someone randomly picking out a yellow marble from the bag?</h3>
                        <p>
                            <input type="radio" id="q47_a" name="q47" ng-model="testResponse.q47" value="0">
                            <label for="q47_a">0.1</label>
                        </p>
                        <p>
                            <input type="radio" id="q47_b" name="q47" ng-model="testResponse.q47" value="00">
                            <label for="q47_b">0.4</label>
                        </p>
                        <p>
                            <input type="radio" id="q47_c" name="q47" ng-model="testResponse.q47" value="000">
                            <label for="q47_c">0.5</label>
                        </p>
                        <p>
                            <input type="radio" id="q47_d" name="q47" ng-model="testResponse.q47" value="1">
                            <label for="q47_d">0.8</label>
                        </p>
                        <h3>(48) Peter records the height of all the children in his year. He records the results in a histogram.</h3>
                        <h3><div><img src="/images/level_5_pre/level_5_pre_q48.jpg" class="img-responsive"/></div></h3>
                        <h3>Which rangeof heightwas between 30and 40children?</h3>
                        <p>
                            <input type="radio" id="q48_a" name="q48" ng-model="testResponse.q48" value="0">
                            <label for="q48_a">120 &minus; 129 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q48_b" name="q48" ng-model="testResponse.q48" value="00">
                            <label for="q48_b">130 &minus; 139 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q48_c" name="q48" ng-model="testResponse.q48" value="1">
                            <label for="q48_c">150 &minus; 159 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q48_d" name="q48" ng-model="testResponse.q48" value="0000">
                            <label for="q48_d">160 &minus; 169 cm</label>
                        </p>
                        <h3>(49) Joyce asks her friends their Maths test results out of 25. She wrote them below. Calculate the mean of the results.</h3>
                        <h3>14, 18, 11, 15, 22
                        <p>
                            <input type="radio" id="q49_a" name="q49" ng-model="testResponse.q49" value="0">
                            <label for="q49_a">13</label>
                        </p>
                        <p>
                            <input type="radio" id="q49_b" name="q49" ng-model="testResponse.q49" value="00">
                            <label for="q49_b">14</label>
                        </p>
                        <p>
                            <input type="radio" id="q49_c" name="q49" ng-model="testResponse.q49" value="000">
                            <label for="q49_c">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q49_d" name="q49" ng-model="testResponse.q49" value="1">
                            <label for="q49_d">16</label>
                        </p>
                        <h3>(50) Joyce asks her friends their Maths test results out of 25. She wrote them below. Calculate the median of the results.</h3>
                        <h3>14, 18, 11, 15, 22</h3>
                        <p>
                            <input type="radio" id="q50_a" name="q50" ng-model="testResponse.q50" value="0">
                            <label for="q50_a">13</label>
                        </p>
                        <p>
                            <input type="radio" id="q50_b" name="q50" ng-model="testResponse.q50" value="00">
                            <label for="q50_b">14</label>
                        </p>
                        <p>
                            <input type="radio" id="q50_c" name="q50" ng-model="testResponse.q50" value="1">
                            <label for="q50_c">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q50_d" name="q50" ng-model="testResponse.q50" value="0000">
                            <label for="q50_d">16</label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='level_5_pre'">
                        <input type="hidden" name="course" ng-init="testResponse.course='level_5'">
                        <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                        
                        <div ng-include="'/pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>