<!DOCTYPE html>
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Level 6 Section 3 Test </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/no_back_please.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/angular-md5.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- Run init function when page opens -->
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="form.testForm">
                        <p class="test_name">Level 6 Section 3 Test</p>
                        <usernameinput></usernameinput>
                        <!-- Input fiels for user_id contains some js code for validation -->
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Test is for 15 marks.<br>Use a pencil and paper to do all your working out.<br>Select the most correct answer to each question.<br>You may NOT use a calculator to help you.<br>You have 30 Minutes to complete this test.<br>Ask your coach if you are not sure how to answer the questions.</div>
                        <div class="HeaderbannerLabel">TEST</div>
                        <h3>(1) Determine the length of <i>DF</i></h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q1.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_a"><i>DF</i> = 17 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="00">
                            <label for="q1_b"><i>DF</i> = 23 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c"><i>DF</i> = 269 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0000">
                            <label for="q1_d"><i>DF</i> = 7 cm</label>
                        </p>
                        <h3>(2) Determine the length of TU.</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q2.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a"><i>TU</i> = 36 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b"><i>TU</i> = 12 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c"><i>TU</i> = 4 cm</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d"><i>TU</i> = 25.6 cm</label>
                        </p>
                        <h3>(3) Each of the triangles look like right-angled triangles. Use the length of their sides</h3>
                        <h3>to determine which of the triangles are right-angled triangles.</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q3.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_a">A and D</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_b">A, B and D</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="000">
                            <label for="q3_c">B, C and D</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">A, B, C and D</label>
                        </p>
                        <h3>(4) Determine the size of <i>DB&#770;C</i>.</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q4.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_a"><i>DB&#770;C</i> = 48&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_b"><i>DB&#770;C</i> = 42&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_c"><i>DB&#770;C</i> = 90&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0000">
                            <label for="q4_d"><i>DB&#770;C</i> = 138&deg;</label>
                        </p>
                        <h3>(5) <i>ABC</i> is a straight line. Determine the size of <i>DB&#770;A</i>.</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q5.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a"><i>DB&#770;A</i> = 90&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_b"><i>DB&#770;A</i> = 143&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c"><i>DB&#770;A</i> = 180&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d"><i>DB&#770;A</i> = 270&deg;</label>
                        </p>
                        <h3>(6) <i>ABC</i> and <i>DBN</i> are straight lines intersecting at <i>B</i>. Determine the size of <i>AB&#770;E</i>.</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q6.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="1">
                            <label for="q6_a"><i>AB&#770;E</i> = 60&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00">
                            <label for="q6_b"><i>AB&#770;E</i> = 120&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="000">
                            <label for="q6_c"><i>AB&#770;E</i> = 150&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q6_d" name="q6" ng-model="testResponse.q6" value="0000">
                            <label for="q6_d"><i>AB&#770;E</i> = 180&deg;</label>
                        </p>
                        <h3>(7) In the sketch <i>VW</i> ∥ <i>TU</i>. Determine the size of <i>UR&#770;S</i> <i>(&alpha;)</i></h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q7.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="0">
                            <label for="q7_a"><i>UR&#770;S</i> = 15&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_b"><i>UR&#770;S</i> = 30&deg;</label>
                        </p>
                        <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="000">
                        <label for="q7_c"><i>UR&#770;S</i> = 150&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d"><i>UR&#770;S</i> = 180&deg;</label>
                        </p>
                        <h3>(8) In the sketch <i>MN</i> ∥ <i>OP</i> and <i>RQ&#770;M</i> = 78&deg;. Determine the size of <i>PR&#770;Q</i> (𝑥).</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q8.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_a"><i>PR&#770;Q</i> = 45&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_b"><i>PR&#770;Q</i> = 78&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_c"><i>PR&#770;Q</i> = 102&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="0000">
                            <label for="q8_d"><i>PR&#770;Q</i> = 180&deg;</label>
                        </p>
                        <h3>(9) In the sketch <i>AC</i> ∥ <i>DG</i>, <i>GE&#770;B</i> = 39&deg; and <i>GF&#770;H</i> = 153&deg;. Determine the size of <i>HB&#770;C</i> (𝑥).</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q9.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q9_a" name="9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a"><i>HB&#770;C</i> = 27&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b"><i>HB&#770;C</i> = 66&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_c"><i>HB&#770;C</i> = 107&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_d"><i>HB&#770;C</i> = 153&deg;</label>
                        </p>
                        <h3>(10) In the sketch <i>AC</i> ∥ <i>DG</i>, <i>GE&#770;B</i> = 39&deg; and <i>GF&#770;H</i> = 153&deg;. Determine the size of <i>DF&#770;H</i> (𝑦).</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q9.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_a"><i>DF&#770;H</i> = 27&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b"><i>DF&#770;H</i> = 39&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c"><i>DF&#770;H</i> = 90&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="0000">
                            <label for="q10_d"><i>DF&#770;H</i> = 153&deg;</label>
                        </p>
                        <h3>(11) In the sketch <i>AC</i> ∥ <i>DG</i>, <i>GE&#770;B</i> = 39&deg; and <i>GF&#770;H</i> = 153&deg;. Determine the size of <i>IB&#770;J</i> <i>(z)</i>.</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q9.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a"><i>IB&#770;J</i> = 27&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="00">
                            <label for="q11_b"><i>IB&#770;J</i> = 39&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_c"><i>IB&#770;J</i> = 114&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="0000">
                            <label for="q11_d"><i>IB&#770;J</i> = 153&deg;</label>
                        </p>
                        <h3>(12) Select the word that completes the sentence correctly: </h3>
                        <h3> Two adjacent angles lie on a straight line. If one angle is obtuse, then the other angle must be.</h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_a">Obtuse</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="00">
                            <label for="q12_b">Reflex</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">Straight</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_d">Acute</label>
                        </p>
                        <h3>(13) <i>PQR</i> is a straight line. Determine the value of (𝑥).</h3>
                        <h3>
                            <div><img src="/images/level_6_sec_3/level_6_sec_3_q10.jpg" class="img-responsive" /></div>
                        </h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_a">𝑥 = 34&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">𝑥 = 44&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="000">
                            <label for="q13_c">𝑥 = 68&deg;</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">𝑥 = 102&deg;</label>
                        </p>
                        <h3>(14) The diagram shows line segment <i>MPO</i> and <i>PN</i>.
                            <h3> If <i>MP&#770;N</i> is twice the size of <i>NP&#770;O</i>, determine the size of <i>MP&#770;N</i>.</h3>
                            <h3>
                                <div><img src="/images/level_6_sec_3/level_6_sec_3_q11.jpg" class="img-responsive" /></div>
                            </h3>
                            <p>
                                <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="0">
                                <label for="q14_a"><i>MP&#770;N</i> = 60&deg;</label>
                            </p>
                            <p>
                                <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="1">
                                <label for="q14_b"><i>MP&#770;N</i> = 120&deg;</label>
                            </p>
                            <p>
                                <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                                <label for="q14_c"><i>MP&#770;N</i> = 180&deg;</label>
                            </p>
                            <p>
                                <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="0000">
                                <label for="q14_d"><i>MP&#770;N</i> = 220&deg;</label>
                            </p>
                            <h3>(15) In the sketch <i>EF</i> ∥ <i>GH</i>. Determine the size of angle <i>E&#770;</i></h3>
                            <h3>
                                <div><img src="/images/level_6_sec_3/level_6_sec_3_q12.jpg" class="img-responsive" /></div>
                            </h3>
                            <p>
                                <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                                <label for="q15_a">4&deg;</label>
                            </p>
                            <p>
                                <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="00">
                                <label for="q15_b">56&deg;</label>
                            </p>
                            <p>
                                <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="000">
                                <label for="q15_c">60&deg;</label>
                            </p>
                            <p>
                                <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="1">
                                <label for="q15_d">116&deg;</label>
                            </p>
                            <!-- Hidden fields for test,course and module -->
                            <input type="hidden" name="test" ng-init="testResponse.test='level_6_sec_3'">
                            <input type="hidden" name="course" ng-init="testResponse.course='level_6'">
                            <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                            <coachsection></coachsection>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>