<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">
<head>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<title>Pre-Alpha 3</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!--Custom Css-->
<link rel="stylesheet" href="css/custom.css">
<!--Fonts-->
<!-- TODO : please ensure that all fonts and libraries are offline -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="css/all.min.css" rel="stylesheet">
<!--Js-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- TODO: Include password modal js below -->
<!-- password modal js -->
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="pmodule/app.js"></script>
<link rel="stylesheet" href="pmodule/password_modal.css">
<style>
.HeaderbannerLabel {
    background-color: rgb(0, 159, 21);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-left: 34px;
    margin-left: -30px;
    font: 400 16px/24px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 8px 8px 8px 34px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 45%;
}
.ins {
    color: #212121;
    font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: 135%;
    margin-top: 22px;
    white-space: pre-wrap;
}
h3 {
    font-weight: normal;
}
.box {	display: inline-block;
	background-color: none; 
	vertical-align: middle}
span.frac {  display: inline-block;  font-size: 75%;  text-align: center; vertical-align: middle}
span.frac > sup {  display: block;  border-bottom: 1px solid;  font: inherit;}
span.frac > span {  display: none;}
span.frac > sub {  display: block;  font: inherit;}
</style>
</head>
<body ng-controller="ModalDemoCtrl as ctrl" style="background-color: rgb(179, 255, 179); font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
	<!-- TODO: Add inline script for passowrd modal -->
	<!-- Password modal -->
    <script type="text/ng-template" id="testModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">The Coach should enter the password</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <label class="item item-input">
                <input ng-model="password" type="password" class="form-control" id="passwordInput" required>
            </label>
            <p class="password-error" ng-show="wrongPassword==true">Sorry, that is not the correct password. Please try again</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="$ctrl.checkPassword(password)">OK</button>
            <button class="btn btn-danger" type="button">Cancel</button>
        </div>
    </script> 


	<!-- TODO: Add tag to instantiate modal when page opens -->
	<span ng-init=ctrl.openModal()></span>
<section class="container-fluid" style="margin: auto; width: 640px !important; background-color: white;">
	<div class="row">
		<div class="container page">
			<div class="row">
				<div id="edulution_logo">
				    <img src="images/edulution_logo.png" class="img-responsive center-block">
				</div>
			 <div class="pd-tb">
			    <div class="pd-lr"> 
				  <form action="/submit_test" name="testForm3" method="post">
			       <p style="box-sizing: border-box; font-size: 34px; line-height: 135%; max-width: 100%; min-width: 0%;"> Pre Alpha 3</p>
			       <div class="HeaderbannerLabel">USERNAME</div>
                          <!-- Input fiels for user_id contains some js code for validation -->
                          <label for="username" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%; font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;">Username</label>
                          <input type="text" autocomplete="off" id="user_id" name="username" ng-model="test_response.username" whitelist style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                          <span class="password-error" ng-show="testForm1.$dirty && testForm1.username.$error.whitelist">Please enter a valid Student ID</span>
                          <div style="color:rgb(219, 68, 55);font-size: 13px;margin-top: 22px;"></div>
			        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
			        <div class="ins">Time allowed: 1 hour <br>Calculators are NOT allowed<br>Ask your coach if you are not sure how to answer the questions</div>
                    <div class="HeaderbannerLabel">SECTION A</div>
                    <h3>(1)  4, 5, 6, 7, <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
                    <!-- TODO: Add form name,action and method --> 
                    <!-- <form name="testForm3" action="/submit_test" method="post"> -->
					  <p>
					  	<!-- TODO: Add value attribute to each radio button -->
					  	<!-- Each group of radio buttons with the same name corresponds to one question -->
					  	<!-- Wrong answers are 0, correct answer is 1 -->
					  	<!-- Example below -->
					    <!-- <input type="radio" id="test1" name="q1" value="0"> -->

					    <input type="radio" id="test1" name="q1" value="0">
					    <label for="test1">4</label>
					  </p>
					  <p>
					    <input type="radio" id="test2" name="q1" value="0">
					    <label for="test2">6</label>
					  </p>
					  <p>
					    <input type="radio" id="test3" name="q1" value="1">
					    <label for="test3">8</label>
					  </p>
					  <p>
					    <input type="radio" id="test4" name="q1" value="0">
					    <label for="test4">10</label>
					  </p>
					<h3>(2) 10, 15, 20, <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> , 30</h3>
					  <p>
					    <input type="radio" id="test5" name="q2" value="0">
					    <label for="test5">10</label>
					  </p>
					  <p>
					    <input type="radio" id="test6" name="q2" value="0">
					    <label for="test6">40</label>
					  </p>
					  <p>
					    <input type="radio" id="test7" name="q2" value="1">
					    <label for="test7">25</label>
					  </p>
					  <p>
					    <input type="radio" id="test8" name="q2" value="0">
					    <label for="test8">20</label>
					  </p>
					  <h3>(3)  70, 80, 90, 100, <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> </h3>
                   <p>
					    <input type="radio" id="test9" name="q3" value="0">
					    <label for="test9">120</label>
					  </p>
					  <p>
					    <input type="radio" id="test10" name="q3" value="0">
					    <label for="test10">115</label>
					  </p>
					  <p>
					    <input type="radio" id="test11" name="q3" value="1">
					    <label for="test11">110</label>
					  </p>
					  <p>
					    <input type="radio" id="test12" name="q3" value="0">
					    <label for="test12">105</label>
					  </p>
					  
					  <h3>(4) Which one of the following is the biggest number?</h3>
                      
					  <p>
					    <input type="radio" id="test13" name="q4" value="0">
					    <label for="test13">4</label>
					  </p>
					  <p>
					    <input type="radio" id="test14" name="q4" value="0">
					    <label for="test14">5</label>
					  </p>
					  <p>
					    <input type="radio" id="test15" name="q4" value="0">
					    <label for="test15">7</label>
					  </p>
					  <p>
					    <input type="radio" id="test16" name="q4" value="1">
					    <label for="test16">8</label>
					  </p>
					  
					  <h3>(5) 1 + 2 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test17" name="q5" value="0">
					    <label for="test17">-1</label>
					  </p>
					  <p>
					    <input type="radio" id="test18" name="q5" value="0">
					    <label for="test18">1</label>
					  </p>
					  <p>
					    <input type="radio" id="test19" name="q5" value="1">
					    <label for="test19">3</label>
					  </p>
					  
					  <p>
					    <input type="radio" id="test20" name="q5" value="0">
					    <label for="test20">4</label>
					  </p>
					  
					  <h3>(6) 9 - 3 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> </h3>
					  <p>
					    <input type="radio" id="test21" name="q6" value="0">
					    <label for="test21">3</label>
					  </p>
					  <p>
					    <input type="radio" id="test22" name="q6" value="1">
					    <label for="test22">6</label>
					  </p>
					  <p>
					    <input type="radio" id="test23" name="q6" value="0">
					    <label for="test23">11</label>
					  </p>
					  <p>
					    <input type="radio" id="test24" name="q6" value="0">
					    <label for="test24">12</label>
					  </p>
					  
					  <h3>(7) Which shape is a circle?</h3>
					  <div class="full" style="display:flex;">
					 <div class="half" style="width: 276px;">
					    <div><img src="images/prealpha_3/NameShapes2Test3Shape1.png" class="center-block"/></div>
					  <p>
					    <input type="radio" id="test25" name="q7" value="1">
					    <label for="test25">a</label>
					  </p>
					  </div>
					  
					  <div class="half" style="width: 276px;">
					    <div><img src="images/prealpha_3/NameShapes2Test3Shape2.png" class="center-block"/></div>
					  <p>
					    <input type="radio" id="test26" name="q7" value="0">
					    <label for="test26">b</label>
					  </p>
					  </div>
					  </div>
					  <div class="clearfix"></div>
					  <div class="half">
					    <div><img src="images/prealpha_3/NameShapes2Test3Shape3.png" class="center-block"/></div>
					  <p>
					    <input type="radio" id="test27" name="q7" value="0">
					    <label for="test27">c</label>
					  </p>
					  </div>
					  
					  <div class="clearfix"></div>
					  
					  <h3>(8) 27 <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> 72 </h3>
                       <span>Fill in the blank with <, > or =.</span>
					  <p>
					    <input type="radio" id="test28" name="q8" value="0">
					    <label for="test28">></label>
					  </p>
					  <p>
					    <input type="radio" id="test29" name="q8" value="1">
					    <label for="test29"><</label>
					  </p>
					  <p>
					    <input type="radio" id="test30" name="q8" value="0">
					    <label for="test30">=</label>
					  </p>
					  <p>
					    <input type="radio" id="test31" name="q8" value="0">
					    <label for="test31">None of the above</label>
					  </p>
					  
					  <h3>(9) 8 = 11 - <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test32" name="q9" value="1">
					    <label for="test32">3</label>
					  </p>
					  <p>
					    <input type="radio" id="test33" name="q9" value="0">
					    <label for="test33">6</label>
					  </p>
					  <p>
					    <input type="radio" id="test34" name="q9" value="0">
					    <label for="test34">9</label>
					  </p>
					  <p>
					    <input type="radio" id="test35" name="q9" value="0">
					    <label for="test35">12</label>
					  </p>
					  
					  <h3>(10) 21 + 21 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test36" name="q10" value="0">
					    <label for="test36">24</label>
					  </p>
					  <p>
					    <input type="radio" id="test37" name="q10" value="0">
					    <label for="test37">22</sup></label>
					  </p>
					  <p>
					    <input type="radio" id="test38" name="q10" value="0">
					    <label for="test38">32</label>
					  </p>
					  <p>
					    <input type="radio" id="test39" name="q10" value="1">
					    <label for="test39">42</sup></label>
					  </p>
					  
					  <h3>(11) 72 + 9 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test40" name="q11" value="0">
					    <label for="test40">18</label>
					  </p>
					  <p>
					    <input type="radio" id="test41" name="q11" value="0">
					    <label for="test41">61</label>
					  </p>
					  <p>
					    <input type="radio" id="test42" name="q11" value="0">
					    <label for="test42">71</label>
					  </p>
					  <p>
					    <input type="radio" id="test43" name="q11" value="1">
					    <label for="test43">81</label>
					  </p>
				         <h3>(12) 80 + 29 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test180" name="q12" value="0">
					    <label for="test180">40</label>
					  </p>
					  <p>
					    <input type="radio" id="test181" name="q12" value="0">
					    <label for="test181">61</label>
					  </p>
					  <p>
					    <input type="radio" id="test182" name="q12" value="0">
					    <label for="test182">96</label>
					  </p>
					  <p>
					    <input type="radio" id="test183" name="q12" value="1">
					    <label for="test183">109</label>
					  </p>
					  
					  <h3>(13) How many squares long is the green square?</h3>
					  <div><img src="images/prealpha_3/MeasureLengthsTest3.png" class="img-responsive"/></div>
					  <p>
					    <input type="radio" id="test44" name="q13" value="0">
					    <label for="test44">3</label>
					  </p>
					  <p>
					    <input type="radio" id="test45" name="q13" value="0">
					    <label for="test45">5</label></label>
					  </p>
					  <p>
					    <input type="radio" id="test46" name="q13" value="1">
					    <label for="test46">7</label>
					  </p>
					  <p>
					    <input type="radio" id="test47" name="q13" value="0">
					    <label for="test47">9</label>
					  </p>
					   <h3>(14) What time is it in the morning?</h3>
					   <div><img src="images/prealpha_3/TellTimetoHourorHalfanHourTest3.png" class="img-responsive"/></div>
					  <p>
					    <input type="radio" id="test48" name="q14" value="1">
					    <label for="test48">09:30</label>
					  </p>
					  <p>
					    <input type="radio" id="test49" name="q14" value="0">
					    <label for="test49">03:00</label>
					  </p>
					  <p>
					    <input type="radio" id="test50" name="q14" value="0">
					    <label for="test50">09:00</label>
					  </p>
					  <p>
					    <input type="radio" id="test51" name="q14" value="0">
					    <label for="test51">09:09</label>
					  </p>
					   <h3>(15) 89 - 80 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test52" name="q15" value="1">
					    <label for="test52">9</label>
					  </p>
					  <p>
					    <input type="radio" id="test53" name="q15" value="0">
					    <label for="test53">13</label>
					  </p>
					  <p>
					    <input type="radio" id="test54" name="q15" value="0">
					    <label for="test54">18</label>
					  </p>
					  <p>
					    <input type="radio" id="test55" name="q15" value="0">
					    <label for="test55">27</label>
					  </p>
					  
					  
					  <h3>(16) 68 - 22 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test56" name="q16" value="0">
					    <label for="test56">36</label>
					  </p>
					  <p>
					    <input type="radio" id="test57" name="q16" value="0">
					    <label for="test57">42</label>
					  </p>
					  <p>
					    <input type="radio" id="test58" name="q16" value="1">
					    <label for="test58">46</label>
					  </p>
					  <p>
					    <input type="radio" id="test59" name="q16" value="0">
					    <label for="test59">48</label>
					  </p>
					  
					  <h3>(17) 53 - 4 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test60" name="q17" value="0">
					    <label for="test60">29</label>
					  </p>
					  <p>
					    <input type="radio" id="test61" name="q17" value="0">
					    <label for="test61">39</label>
					  </p>
					  <p>
					    <input type="radio" id="test62" name="q17" value="1">
					    <label for="test62">49</label>
					  </p>
					  <p>
					    <input type="radio" id="test63" name="q17" value="0">
					    <label for="test63">57</label>
					  </p>
					   <h3>(18) 37 - 18 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test64" name="q18" value="0">
					    <label for="test64">10</label>
					  </p>
					  <p>
					    <input type="radio" id="test65" name="q18" value="0">
					    <label for="test65">18</label>
					  </p>
					  <p>
					    <input type="radio" id="test66" name="q18" value="1">
					    <label for="test66">19</label>
					  </p>
					  <p>
					    <input type="radio" id="test67" name="q18" value="0">
					    <label for="test67">21</label>
					  </p>
					  <h3>(19) 1050, 950, <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> , 750, 650</h3>
					  <span>Count backwards by 100s.</span>
					  <p>
					    <input type="radio" id="test68" name="q19" value="1">
					    <label for="test68">850</label>
					  </p>
					  <p>
					    <input type="radio" id="test69" name="q19" value="0">
					    <label for="test69">650</label>
					  </p>
					  <p>
					    <input type="radio" id="test70" name="q19" value="0">
					    <label for="test70">450</label>
					  </p>
					  <p>
					    <input type="radio" id="test71" name="q19" value="0">
					    <label for="test71">250</label>
					  </p>
					  <h3>(20) <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> - 9 = 72</h3>
					  <p>
					    <input type="radio" id="test72" name="q20" value="0">
					    <label for="test72">62</label>
					  </p>
					  <p>
					    <input type="radio" id="test73" name="q20" value="0">
					    <label for="test73">72</label>
					  </p>
					  <p>
					    <input type="radio" id="test74" name="q20" value="1">
					    <label for="test74">81</label>
					  </p>
					  <p>
					    <input type="radio" id="test75" name="q20" value="0">
					    <label for="test75">92</label>
					  </p>
		                          <h3>(21) 625 - 214 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test80" name="q21" value="0">
					    <label for="test80">211</label>
					  </p>
					  <p>
					    <input type="radio" id="test81" name="q21" value="0">
					    <label for="test81">311</label>
					  </p>
					  <p>
					    <input type="radio" id="test82" name="q21" value="0">
					    <label for="test82">441</label>
					  </p>
					  <p>
					    <input type="radio" id="test83" name="q21" value="1">
					    <label for="test83">411</label>
					  </p>
					  <h3>(22) 422 + 38 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test76" name="q22" value="0">
					    <label for="test76">386</label>
					  </p>
					  <p>
					    <input type="radio" id="test77" name="q22" value="0">
					    <label for="test77">412</label>
					  </p>
					  <p>
					    <input type="radio" id="test78" name="q22" value="1">
					    <label for="test78">460</label>
					  </p>
					  <p>
					    <input type="radio" id="test79" name="q22" value="0">
					    <label for="test79">468</label>
					  </p>
		                          <h3>(23) 620 &minus; 300 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> </h3>
					  <p>
					    <input type="radio" id="test88" name="q23" value="0">
					    <label for="test88">120</label>
					  </p>
					  <p>
					    <input type="radio" id="test89" name="q23" value="0">
					    <label for="test89">280</label>
					  </p>
					  <p>
					    <input type="radio" id="test90" name="q23" value="0">
					    <label for="test90">300</label>
					  </p>
					  <p>
					    <input type="radio" id="test91" name="q23" value="1">
					    <label for="test91">320</label>
					  </p>
					  <h3>(24) 625 + 214 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test184" name="q24" value="0">
					    <label for="test184">411</label>
					  </p>
					  <p>
					    <input type="radio" id="test185" name="q24" value="0">
					    <label for="test185">656</label>
					  </p>
					  <p>
					    <input type="radio" id="test186" name="q24" value="0">
					    <label for="test186">741</label>
					  </p>
					  <p>
					    <input type="radio" id="test187" name="q24" value="1">
					    <label for="test187">839</label>
					  </p>
					  <h3>(25) How long is the shape in cm?</h3>
					   <div><img src="images/prealpha_3/MeasureLengths2Test3.png" class="img-responsive"/></div>
					  <p>
					    <input type="radio" id="test84" name="q25" value="0">
					    <label for="test84">2</label>
					  </p>
					  <p>
					    <input type="radio" id="test85" name="q25" value="1">
					    <label for="test85">4</label>
					  </p>
					  <p>
					    <input type="radio" id="test86" name="q25" value="0">
					    <label for="test86">6</label>
					  </p>
					  <p>
					    <input type="radio" id="test87" name="q25" value="0">
					    <label for="test87">8</label>
					  </p>
					  <h3>(26) What time is it in the morning?</h3>
					  <div><img src="images/prealpha_3/TellTimewithLabelledClockTest3.png" class="img-responsive"/></div>
					  <p>
					    <input type="radio" id="test188" name="q26" value="1">
					    <label for="test188">09:35</label>
					  </p>
					  <p>
					    <input type="radio" id="test189" name="q26" value="0">
					    <label for="test189">90:35</label>
					  </p>
					  <p>
					    <input type="radio" id="test190" name="q26" value="0">
					    <label for="test190">09:30</label>
					  </p>
					  <p>
					    <input type="radio" id="test191" name="q26" value="0">
					    <label for="test191">10:07</label>
					  </p>
					  <h3>(27) 368 + 55= <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test92" name="q27" value="0">
					    <label for="test92">313</label>
					  </p>
					  <p>
					    <input type="radio" id="test93" name="q27" value="0">
					    <label for="test93">395</label>
					  </p>
					  <p>
					    <input type="radio" id="test94" name="q27" value="1">
					    <label for="test94">423</label>
					  </p>
					  <p>
					    <input type="radio" id="test95" name="q27" value="0">
					    <label for="test95">518</label>
					  </p>
					  <h3>(28) 454 - 395 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test96" name="q28" value="0">
					    <label for="test96">54</label>
					  </p>
					  <p>
					    <input type="radio" id="test97" name="q28" value="1">
					    <label for="test97">59</label>
					  </p>
					  <p>
					    <input type="radio" id="test98" name="q28" value="0">
					    <label for="test98">63</label>
					  </p>
					  <p>
					    <input type="radio" id="test99" name="q28" value="0">
					    <label for="test99">849</label>
					  </p>
		<div class="HeaderbannerLabel">SECTION B</div>
					  <h3>(29) 6 + 6 + 6 + 6 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> × 6</h3>
					  <p>
					    <input type="radio" id="test100" name="q29" value="1">
					    <label for="test100">4</label>
					  </p>
					  <p>
					    <input type="radio" id="test101" name="q29" value="0">
					    <label for="test101">6</label>
					  </p>
					  <p>
					    <input type="radio" id="test102" name="q29" value="0">
					    <label for="test102">12</label>
					  </p>
					  <p>
					    <input type="radio" id="test103" name="q29" value="0">
					    <label for="test103">24</label>
					  </p>
					  <h3>(30) 7 × 10 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test104" name="q30" value="0">
					    <label for="test104">0.7</label>
					  </p>
					  <p>
					    <input type="radio" id="test105" name="q30" value="0">
					    <label for="test105">1</label>
					  </p>
					  <p>
					    <input type="radio" id="test106" name="q30" value="0">
					    <label for="test106">7</label>
					  </p>
					  <p>
					    <input type="radio" id="test107" name="q30" value="1">
					    <label for="test107">70</label>
					  </p>
					  <h3>(31) 24 ÷ 8 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test108" name="q31" value="1">
					    <label for="test108">3</label>
					  </p>
					  <p>
					    <input type="radio" id="test109" name="q31" value="0">
					    <label for="test109">6</label>
					  </p>
					  <p>
					    <input type="radio" id="test110" name="q31" value="0">
					    <label for="test110">8</label>
					  </p>
					  <p>
					    <input type="radio" id="test111" name="q31" value="0">
					    <label for="test111">9</label>
					  </p>
					  <h3>(32) 30 ÷ 10 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test112" name="q32" value="1">
					    <label for="test112">3</label>
					  </p>
					  <p>
					    <input type="radio" id="test113" name="q32" value="0">
					    <label for="test113"><span class="frac"><sup>10</sup><span>/</span><sub>30</sub></span></label>
					  </p>
					  <p>
					    <input type="radio" id="test114" name="q32" value="0">
					    <label for="test114">1</label>
					  </p>
					  <p>
					    <input type="radio" id="test115" name="q32" value="0">
					    <label for="test115">30</label>
					  </p>
					  <h3>(33) <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> ÷ 6 = 5</h3>
					  <p>
					    <input type="radio" id="test116" name="q33" value="0">
					    <label for="test116">25</label>
					  </p>
					  <p>
					    <input type="radio" id="test117" name="q33" value="1">
					    <label for="test117">30</label>
					  </p>
					  <p>
					    <input type="radio" id="test118" name="q33" value="0">
					    <label for="test118">36</label>
					  </p>
					  <p>
					    <input type="radio" id="test119" name="q33" value="0">
					    <label for="test119">40</label>
					  </p>
					  <h3>(34) <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> × 12 = 12 × 5</h3>
					  <p>
					    <input type="radio" id="test120" name="q34" value="0">
					    <label for="test120">2</label>
					  </p>
					  <p>
					    <input type="radio" id="test121" name="q34" value="1">
					    <label for="test121">5</label>
					  </p>
					  <p>
					    <input type="radio" id="test122" name="q34" value="0">
					    <label for="test122">10</label>
					  </p>
					  <p>
					    <input type="radio" id="test123" name="q34" value="0">
					    <label for="test123">17</label>
					  </p>
					  <h3>(35)  4 × <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> = 3 × 4</h3>
					  <p>
					    <input type="radio" id="test124" name="q35" value="0">
					    <label for="test124">1</label>
					  </p>
					  <p>
					    <input type="radio" id="test125" name="q35" value="1">
					    <label for="test125">3</label>
					  </p>
					  <p>
					    <input type="radio" id="test126" name="q35" value="0">
					    <label for="test126">5</label>
					  </p>
					  <p>
					    <input type="radio" id="test127" name="q35" value="0">
					    <label for="test127">8</label>
					  </p>
					  <h3>(36) <span class="frac"><sup>2</sup><span>/</span><sub>8</sub></span> <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> <span class="frac"><sup>4</sup><span>/</span><sub>8</sub></span></h3>
					  <span>Fill in the blank with <, > or =.</span>
					  <p>
					    <input type="radio" id="test128" name="q36" value="0">
					    <label for="test128">></label>
					  </p>
					  <p>
					    <input type="radio" id="test129" name="q36" value="1">
					    <label for="test129"><</label>
					  </p>
					  <p>
					    <input type="radio" id="test130" name="q36" value="0">
					    <label for="test130">=</label>
					  </p>
					  <p>
					    <input type="radio" id="test131" name="q36" value="0">
					    <label for="test131">None of the above</label>
					  </p>
					  <h3>(37)  4 826 <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> 6 248</h3>
					   <span>Fill in the blank with <, > or =.</span>
					  <p>
					    <input type="radio" id="test132" name="q37" value="0">
					    <label for="test132">></label>
					  </p>
					  <p>
					    <input type="radio" id="test133" name="q37" value="1">
					    <label for="test133"><</label>
					  </p>
					  <p>
					    <input type="radio" id="test134" name="q37" value="0">
					    <label for="test134">=</label>
					  </p>
					  <p>
					    <input type="radio" id="test135" name="q37" value="0">
					    <label for="test135">None of the above</label>
					  </p>
					  <h3>(38) 10 435 + 47 589 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test136" name="q38" value="0">
					    <label for="test136">57 024</label>
					  </p>
					  <p>
					    <input type="radio" id="test137" name="q38" value="0">
					    <label for="test137">59 024</label>
					  </p>
					  <p>
					    <input type="radio" id="test138" name="q38" value="0">
					    <label for="test138">57 924</label>
					  </p>
					  <p>
					    <input type="radio" id="test139" name="q38" value="1">
					    <label for="test139">58 024</label>
					  </p>
					  <h3>(39) 23 023 + 554 984 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test140" name="q39" value="0">
					    <label for="test140">550 000</label>
					  </p>
					  <p>
					    <input type="radio" id="test141" name="q39" value="0">
					    <label for="test141">570 000</label>
					  </p>
					  <p>
					    <input type="radio" id="test142" name="q39" value="0">
					    <label for="test142">578 001</label>
					  </p>
					  <p>
					    <input type="radio" id="test143" name="q39" value="1">
					    <label for="test143">578 007</label>
					  </p>
					  <h3>(40)  508 189 - 496 193 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test144" name="q40" value="0">
					    <label for="test144">9 996</label>
					  </p>
					  <p>
					    <input type="radio" id="test145" name="q40" value="0">
					    <label for="test145">10 996</label>
					  </p>
					  <p>
					    <input type="radio" id="test146" name="q40" value="0">
					    <label for="test146">11 696</label>
					  </p>
					  <p>
					    <input type="radio" id="test147" name="q40" value="1">
					    <label for="test147">11 996</label>
					  </p>
					  <h3>(41)  80 × 20 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test148" name="q41" value="0">
					    <label for="test148">200</label>
					  </p>
					  <p>
					    <input type="radio" id="test149" name="q41" value="0">
					    <label for="test149">160</label>
					  </p>
					  <p>
					    <input type="radio" id="test150" name="q41" value="0">
					    <label for="test150">800</label>
					  </p>
					  <p>
					    <input type="radio" id="test151" name="q41" value="1">
					    <label for="test151">1 600</label>
					  </p>
				          <h3>(42) 20 × 5 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> </h3>
					  <p>
					    <input type="radio" id="test164" name="q42" value="0">
					    <label for="test164">40</label>
					  </p>
					  <p>
					    <input type="radio" id="test165" name="q42" value="0">
					    <label for="test165">60</label>
					  </p>
					  <p>
					    <input type="radio" id="test166" name="q42" value="1">
					    <label for="test166">100</label>
					  </p>
					  <p>
					    <input type="radio" id="test167" name="q42" value="0">
					    <label for="test167">110</label>
					  </p>
					  <h3>(43) 7 × 2 355 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test152" name="q43" value="0">
					    <label for="test152">14 485</label>
					  </p>
					  <p>
					    <input type="radio" id="test153" name="q43" value="0">
					    <label for="test153">15 485</label>
					  </p>
					  <p>
					    <input type="radio" id="test154" name="q43" value="0">
					    <label for="test154">15 458</label>
					  </p>
					  <p>
					    <input type="radio" id="test155" name="q43" value="1">
					    <label for="test155">16 485</label>
					  </p>
					  <h3>(44) 426 ÷ 6 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test156" name="q44" value="0">
					    <label for="test156">18</label>
					  </p>
					  <p>
					    <input type="radio" id="test157" name="q44" value="0">
					    <label for="test157">55</label>
					  </p>
					  <p>
					    <input type="radio" id="test158" name="q44" value="1">
					    <label for="test158">71</label>
					  </p>
					  <p>
					    <input type="radio" id="test159" name="q44" value="0">
					    <label for="test159">420</label>
					  </p>
				          <h3>(45) 558 ÷ 3 = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span></h3>
					  <p>
					    <input type="radio" id="test176" name="q45" value="0">
					    <label for="test176">176</label>
					  </p>
					  <p>
					    <input type="radio" id="test177" name="q45" value="1">
					    <label for="test177">186</label>
					  </p>
					  <p>
					    <input type="radio" id="test178" name="q45" value="0">
					    <label for="test178">196</label>
					  </p>
					  <p>
					    <input type="radio" id="test179" name="q45" value="0">
					    <label for="test179">200</label>
					  </p>
					  <h3>(46) <span class="frac"><sup>2</sup><span>/</span><sub>12</sub></span> + <span class="frac"><sup>5</sup><span>/</span><sub>12</sub></span> = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> </h3>
					  <p>
					    <input type="radio" id="test160" name="q46" value="0">
					    <label for="test160"><span class="frac"><sup>2</sup><span>/</span><sub>7</sub></span></label>
					  </p>
					  <p>
					    <input type="radio" id="test161" name="q46" value="0">
					    <label for="test161"><span class="frac"><sup>3</sup><span>/</span><sub>5</sub></span></label>
					  </p>
					  <p>
					    <input type="radio" id="test162" name="q46" value="0">
					    <label for="test162"><span class="frac"><sup>7</sup><span>/</span><sub>10</sub></span></label>
					  </p>
					  <p>
					    <input type="radio" id="test163" name="q46" value="1">
					    <label for="test163"><span class="frac"><sup>7</sup><span>/</span><sub>12</sub></span></label>
					  </p>
					  <h3>(47) <span class="frac"><sup>2</sup><span>/</span><sub>6</sub></span>  &minus; <span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span> = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> </h3>
					  <p>
					    <input type="radio" id="test194" name="q47" value="0">
					    <label for="test194"><span class="frac"><sup>1</sup><span>/</span><sub>4</sub></span></label>
					  </p>
					  <p>
					    <input type="radio" id="test195" name="q47" value="1">
					    <label for="test195"><span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span></label>
					  </p>
					  <p>
					    <input type="radio" id="test196" name="q47" value="0">
					    <label for="test196"><span class="frac"><sup>3</sup><span>/</span><sub>6</sub></span></label>
					  </p>
					  <p>
					    <input type="radio" id="test197" name="q47" value="0">
					    <label for="test197"><span class="frac"><sup>4</sup><span>/</span><sub>6</sub></span></label>
					  </p>
					  <h3>(48)  3,500 g = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> kg </h3>
					  <span>1kg = 1 000g</span>
             <p>
					    <input type="radio" id="test168" name="q48" value="1">
					    <label for="test168">3.5</label>
					  </p>
					  <p>
					    <input type="radio" id="test169" name="q48" value="0">
					    <label for="test169">3</label>
					  </p>
					  <p>
					    <input type="radio" id="test170" name="q48" value="0">
					    <label for="test170">35</label>
					  </p>
					  <p>
					    <input type="radio" id="test171" name="q48" value="0">
					    <label for="test171">500</label>
					  </p>
					  <h3>(49) 65 mm = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> cm</h3>
					  <p>
					    <input type="radio" id="test172" name="q49" value="0">
					    <label for="test172">0.65</label>
					  </p>
					  <p>
					    <input type="radio" id="test173" name="q49" value="1">
					    <label for="test173">6.5</label>
					  </p>
					  <p>
					    <input type="radio" id="test174" name="q49" value="0">
					    <label for="test174">65</label>
					  </p>
					  <p>
					    <input type="radio" id="test175" name="q49" value="0">
					    <label for="test175">650</label>
					  </p>
					  <h3>(50) 1.5 hours = <span style="display: inline-block;font-size: 1.1em"><i class="far fa-square"></i></span> minutes</h3>
					  <p>
					    <input type="radio" id="test198" name="q50" value="0">
					    <label for="test198">60</label>
					  </p>
					  <p>
					    <input type="radio" id="test199" name="q50" value="1">
					    <label for="test199">90</label>
					  </p>
					  <p>
					    <input type="radio" id="test200" name="q50" value="0">
					    <label for="test200">100</label>
					  </p>
					  <p>
					    <input type="radio" id="test201" name="q50" value="0">
					    <label for="test201">150</label>
					  </p>
					   
					      <div class="HeaderbannerLabel">COACH CREDENTIALS</div>
                                <!-- TODO: Add text input fields for user_id, coach_email -->
                                <!-- Hidden fields for test,course and module -->
                                <input type="hidden" name="test" value="prealpha_3">
                                <input type="hidden" name="course" value="prealpha">
                                <input type="hidden" name="module" value="numeracy">
                                <label for="coach_id" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%;">Coach ID</label>
                                <input type="text" name="coach_id" ng-model="test_response.coach_id" required ng-maxlength="5" placeholder="e.g MM003" style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                                <span class="password-error" ng-show="testForm1.coach_id.$error.maxlength">Please enter a valid Coach ID</span>
                                <!-- Submit button disabled if form is invalid -->
                                <!-- <input type="submit" value="submit" ng-disabled="testForm1.$invalid"> -->
                                <button type="submit" value="Submit" ng-disabled="testForm1.$invalid" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>