<!DOCTYPE html>
<html ng-app="passProtect">

<head>
    <title>Pre-Alpha 2</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- Password modal -->
    <div ng-include="/pmodule/templates/pmodal_content.html"></div>
    <!-- Run init function when page opens -->
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="testForm">
                        <p class="test_name"> Pre Alpha 2</p>
                        <div ng-include="'/pmodule/templates/username_input.html'"></div>
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Time allowed: 45 minutes <br>Calculators are NOT allowed<br>Ask your coach if you are not sure how to answer the questions</div>
                        <div class="HeaderbannerLabel">ASSESSMENT</div>
                        <h3>(1) 1, 2, <span class="empty_square"><i class="far fa-square"></i></span> , 4, 5</h3>
                        <p>
                            <!-- TODO: Add value attribute to each radio button -->
                            <!-- Each group of radio buttons with the same name corresponds to one question -->
                            <!-- Wrong answers are 0, correct answer is 1 -->
                            <!-- Example below -->
                            <!-- <input type="radio" id="test1" name="q1" ng-model="testResponse.q1" value="0"> -->
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a">1</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_b">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="000">
                            <label for="q1_c">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0000">
                            <label for="q1_d">7</label>
                        </p>
                        <h3>(2) 15, <span class="empty_square"><i class="far fa-square"></i></span> , 25, 30, 35</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_b">20</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="000">
                            <label for="q2_c">25</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="0000">
                            <label for="q2_d">30</label>
                        </p>
                        <h3>(3) 60, 70, 80, <span class="empty_square"><i class="far fa-square"></i></span> , 100 </h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a">50</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="00">
                            <label for="q3_b">70</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_c">90</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0000">
                            <label for="q3_d">110</label>
                        </p>
                        <h3>(4) Which one of the following is the biggest number?</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_a">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="00">
                            <label for="q4_b">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="000">
                            <label for="q4_c">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_d">6</label>
                        </p>
                        <h3>(5) 7 &minus; 2 &equals; <span class="empty_square"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_a">5</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="00">
                            <label for="q5_b">7</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="000">
                            <label for="q5_c">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0000">
                            <label for="q5_d">11</label>
                        </p>
                        <h3>(6) Which shape is a triangle?</h3>
                        <div class="img_answers">
                            <div>
                                <div><img src="/images/prealpha_2/NameShapes2Test1Shape1.png" class="img-responsive" /></div>
                                <p>
                                    <input type="radio" id="q6_a" name="q6" ng-model="testResponse.q6" value="0000">
                                    <label for="q6_a">a</label>
                                </p>
                            </div>
                            <div>
                                <div><img src="/images/prealpha_2/NameShapes2Test2Shape2.png" class="img-responsive" /></div>
                                <p>
                                    <input type="radio" id="q6_b" name="q6" ng-model="testResponse.q6" value="00000">
                                    <label for="q6_b">b</label>
                                </p>
                            </div>
                            <div>
                                <div><img src="/images/prealpha_2/NameShapes2Test2Shape3.png" class="img-responsive" /></div>
                                <p>
                                    <input type="radio" id="q6_c" name="q6" ng-model="testResponse.q6" value="1">
                                    <label for="q6_c">c</label>
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <h3>(7) 83 <span class="empty_square"><i class="far fa-square"></i></span> 58 </h3>
                        <span>Compare fractions with &gt;, &lt; or=.</span>
                        <p>
                            <input type="radio" id="q7_a" name="q7" ng-model="testResponse.q7" value="1">
                            <label for="q7_a">&gt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_b" name="q7" ng-model="testResponse.q7" value="00">
                            <label for="q7_b">&lt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_c" name="q7" ng-model="testResponse.q7" value="000">
                            <label for="q7_c">&equals;</label>
                        </p>
                        <p>
                            <input type="radio" id="q7_d" name="q7" ng-model="testResponse.q7" value="0000">
                            <label for="q7_d">None of the above</label>
                        </p>
                        <h3>(8) <div><img src="/images/prealpha_2/question8.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q8_a" name="q8" ng-model="testResponse.q8" value="0">
                            <label for="q8_a">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_b" name="q8" ng-model="testResponse.q8" value="00">
                            <label for="q8_b">46</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_c" name="q8" ng-model="testResponse.q8" value="000">
                            <label for="q8_c">54</label>
                        </p>
                        <p>
                            <input type="radio" id="q8_d" name="q8" ng-model="testResponse.q8" value="1">
                            <label for="q8_d">69</label>
                        </p>
                        <h3>(9) <div><img src="/images/prealpha_2/question9.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q9_a" name="q9" ng-model="testResponse.q9" value="0">
                            <label for="q9_a">24</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_b" name="q9" ng-model="testResponse.q9" value="00">
                            <label for="q9_b">34</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_c" name="q9" ng-model="testResponse.q9" value="000">
                            <label for="q9_c">40</label>
                        </p>
                        <p>
                            <input type="radio" id="q9_d" name="q9" ng-model="testResponse.q9" value="1">
                            <label for="q9_d">42</label>
                        </p>
                        <h3>(10) <div><img src="/images/prealpha_2/question10.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q10_a" name="q10" ng-model="testResponse.q10" value="0">
                            <label for="q10_a">96</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_b" name="q10" ng-model="testResponse.q10" value="00">
                            <label for="q10_b">106</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_c" name="q10" ng-model="testResponse.q10" value="000">
                            <label for="q10_c">120</label>
                        </p>
                        <p>
                            <input type="radio" id="q10_d" name="q10" ng-model="testResponse.q10" value="1">
                            <label for="q10_d">112</label>
                        </p>
                        <h3>(11) 24, 21, 18, <span class="empty_square"><i class="far fa-square"></i></span>, 12</h3>
                        <p>
                            <input type="radio" id="q11_a" name="q11" ng-model="testResponse.q11" value="0">
                            <label for="q11_a">14</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_b" name="q11" ng-model="testResponse.q11" value="00">
                            <label for="q11_b">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_c" name="q11" ng-model="testResponse.q11" value="000">
                            <label for="q11_c">16</label>
                        </p>
                        <p>
                            <input type="radio" id="q11_d" name="q11" ng-model="testResponse.q11" value="1">
                            <label for="q11_d">17</label>
                        </p>
                        <h3>(12) <div><img src="/images/prealpha_2/question12.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q12_a" name="q12" ng-model="testResponse.q12" value="0">
                            <label for="q12_a">28</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_b" name="q12" ng-model="testResponse.q12" value="1">
                            <label for="q12_b">38</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_c" name="q12" ng-model="testResponse.q12" value="000">
                            <label for="q12_c">48</label>
                        </p>
                        <p>
                            <input type="radio" id="q12_d" name="q12" ng-model="testResponse.q12" value="0000">
                            <label for="q12_d">60</label>
                        </p>
                        <h3>(13) <div><img src="/images/prealpha_2/question13.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q13_a" name="q13" ng-model="testResponse.q13" value="0">
                            <label for="q13_a">22</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_b" name="q13" ng-model="testResponse.q13" value="00">
                            <label for="q13_b">42</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_c" name="q13" ng-model="testResponse.q13" value="1">
                            <label for="q13_c">44</label>
                        </p>
                        <p>
                            <input type="radio" id="q13_d" name="q13" ng-model="testResponse.q13" value="0000">
                            <label for="q13_d">46</label>
                        </p>
                        <h3>(14) 105 &equals; 75 &plus; <span class="empty_square"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q14_a" name="q14" ng-model="testResponse.q14" value="0">
                            <label for="q14_a">10</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_b" name="q14" ng-model="testResponse.q14" value="00">
                            <label for="q14_b">15</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_c" name="q14" ng-model="testResponse.q14" value="000">
                            <label for="q14_c">20</label>
                        </p>
                        <p>
                            <input type="radio" id="q14_d" name="q14" ng-model="testResponse.q14" value="1">
                            <label for="q14_d">30</label>
                        </p>
                        <h3>(15) <div><img src="/images/prealpha_2/question15.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q15_a" name="q15" ng-model="testResponse.q15" value="0">
                            <label for="q15_a">498</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_b" name="q15" ng-model="testResponse.q15" value="00">
                            <label for="q15_b">589</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_c" name="q15" ng-model="testResponse.q15" value="000">
                            <label for="q15_c">598</label>
                        </p>
                        <p>
                            <input type="radio" id="q15_d" name="q15" ng-model="testResponse.q15" value="1">
                            <label for="q15_d">698</label>
                        </p>
                        <h3>(16) 3&#10188;48<h3>
                        <p>
                            <input type="radio" id="q16_a" name="q16" ng-model="testResponse.q16" value="0">
                            <label for="q16_a">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_b" name="q16" ng-model="testResponse.q16" value="1">
                            <label for="q16_b">16</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_c" name="q16" ng-model="testResponse.q16" value="000">
                            <label for="q16_c">20</label>
                        </p>
                        <p>
                            <input type="radio" id="q16_d" name="q16" ng-model="testResponse.q16" value="0000">
                            <label for="q16_d">26</label>
                        </p>
                        <h3>(17) <div><img src="/images/prealpha_2/question17.jpg" class="img-responsive"/></div></h3>
                        <p>
                            <input type="radio" id="q17_a" name="q17" ng-model="testResponse.q17" value="0">
                            <label for="q17_a">79</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_b" name="q17" ng-model="testResponse.q17" value="00">
                            <label for="q17_b">250</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_c" name="q17" ng-model="testResponse.q17" value="000">
                            <label for="q17_c">300</label>
                        </p>
                        <p>
                            <input type="radio" id="q17_d" name="q17" ng-model="testResponse.q17" value="1">
                            <label for="q17_d">329</label>
                        </p>
                        <h3>(18) 3 &times; 6 &equals; <span class="empty_square"><i class="far fa-square"></i></span></h3>
                        <p>
                            <input type="radio" id="q18_a" name="q18" ng-model="testResponse.q18" value="0">
                            <label for="q18_a">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_b" name="q18" ng-model="testResponse.q18" value="00">
                            <label for="q18_b">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_c" name="q18" ng-model="testResponse.q18" value="000">
                            <label for="q18_c">12</label>
                        </p>
                        <p>
                            <input type="radio" id="q18_d" name="q18" ng-model="testResponse.q18" value="1">
                            <label for="q18_d">18</label>
                        </p>
                        <h3>(19) 7&#10188;42</h3>
                        <p>
                            <input type="radio" id="q19_a" name="q19" ng-model="testResponse.q19" value="0">
                            <label for="q19_a">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_b" name="q19" ng-model="testResponse.q19" value="1">
                            <label for="q19_b">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_c" name="q19" ng-model="testResponse.q19" value="000">
                            <label for="q19_c">8</label>
                        </p>
                        <p>
                            <input type="radio" id="q19_d" name="q19" ng-model="testResponse.q19" value="0000">
                            <label for="q19_d">9</label>
                        </p>
                        <h3>(20) <span class="empty_square"><i class="far fa-square"></i></span> &times; 3 &equals; 3 &times; 9</h3>
                        <p>
                            <input type="radio" id="q20_a" name="q20" ng-model="testResponse.q20" value="0">
                            <label for="q20_a">3</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_b" name="q20" ng-model="testResponse.q20" value="00">
                            <label for="q20_b">6</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_c" name="q20" ng-model="testResponse.q20" value="1">
                            <label for="q20_c">9</label>
                        </p>
                        <p>
                            <input type="radio" id="q20_d" name="q20" ng-model="testResponse.q20" value="0000">
                            <label for="q20_d">11</label>
                        </p>
                        <h3>(21) 8 &times; 5 &equals; <span class="empty_square"><i class="far fa-square"></i></span> &times; 10</h3>
                        <p>
                            <input type="radio" id="q21_a" name="q21" ng-model="testResponse.q21" value="0">
                            <label for="q21_a">1</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_b" name="q21" ng-model="testResponse.q21" value="00">
                            <label for="q21_b">2</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_c" name="q21" ng-model="testResponse.q21" value="000">
                            <label for="q21_c">4</label>
                        </p>
                        <p>
                            <input type="radio" id="q21_d" name="q21" ng-model="testResponse.q21" value="1">
                            <label for="q21_d">6</label>
                        </p>
                        <h3>(22) <span class="frac"><sup>7</sup><span>/</span><sub>8</sub></span> <span class="empty_square"><i class="far fa-square"></i></span> <span class="frac"><sup>6</sup><span>/</span><sub>8</sub></span></h3>
                        <span>Compare fractions with &gt;, &lt; or=.</span>
                        <p>
                            <input type="radio" id="q22_a" name="q22" ng-model="testResponse.q22" value="1">
                            <label for="q22_a">&gt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_b" name="q22" ng-model="testResponse.q22" value="00">
                            <label for="q22_b">&lt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_c" name="q22" ng-model="testResponse.q22" value="000">
                            <label for="q22_c">&equals;</label>
                        </p>
                        <p>
                            <input type="radio" id="q22_d" name="q22" ng-model="testResponse.q22" value="0000">
                            <label for="q22_d">None of the above</label>
                        </p>
                        <h3>(23) 35 <span class="empty_square"><i class="far fa-square"></i></span> 53</h3>
                        <span>Compare fractions with &gt;, &lt; or=.</span></h3>
                        <p>
                            <input type="radio" id="q23_a" name="q23" ng-model="testResponse.q23" value="0">
                            <label for="q23_a">&gt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_b" name="q23" ng-model="testResponse.q23" value="1">
                            <label for="q23_b">&lt;</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_c" name="q23" ng-model="testResponse.q23" value="000">
                            <label for="q23_c">&equals;</label>
                        </p>
                        <p>
                            <input type="radio" id="q23_d" name="q23" ng-model="testResponse.q23" value="0000">
                            <label for="q23_d">None of the above</label>
                        </p>
                        <h3>(24) <span class="frac"><sup>4</sup><span>/</span><sub>6</sub></span> &plus; <span class="frac"><sup>1</sup><span>/</span><sub>6</sub></span> &equals; <span class="empty_square"><i class="far fa-square"></i></span> </h3>
                        <p>
                            <input type="radio" id="q24_a" name="q24" ng-model="testResponse.q24" value="0">
                            <label for="q24_a"><span class="frac"><sup>3</sup><span>/</span><sub>5</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q24_b" name="q24" ng-model="testResponse.q24" value="1">
                            <label for="q24_b"><span class="frac"><sup>5</sup><span>/</span><sub>6</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q24_c" name="q24" ng-model="testResponse.q24" value="000">
                            <label for="q24_c"><span class="frac"><sup>5</sup><span>/</span><sub>12</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q24_d" name="q24" ng-model="testResponse.q24" value="0000">
                            <label for="q24_d"><span class="frac"><sup>6</sup><span>/</span><sub>10</sub></span></label>
                        </p>
                        <h3>(25) <span class="frac"><sup>7</sup><span>/</span><sub>10</sub></span> &plus; <span class="frac"><sup>5</sup><span>/</span><sub>10</sub></span> &equals; <span class="empty_square"><i class="far fa-square"></i></span> </h3>
                        <p>
                            <input type="radio" id="q25_a" name="q25" ng-model="testResponse.q25" value="0">
                            <label for="q25_a">&minus; <span class="frac"><sup>2</sup><span>/</span><sub>10</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q25_b" name="q25" ng-model="testResponse.q25" value="1">
                            <label for="q25_b"><span class="frac"><sup>6</sup><span>/</span><sub>5</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q25_c" name="q25" ng-model="testResponse.q25" value="000">
                            <label for="q25_c"><span class="frac"><sup>2</sup><span>/</span><sub>11</sub></span></label>
                        </p>
                        <p>
                            <input type="radio" id="q25_d" name="q25" ng-model="testResponse.q25" value="0000">
                            <label for="q25_d"><span class="frac"><sup>12</sup><span>/</span><sub>11</sub></span></label>
                        </p>
                        <div class="HeaderbannerLabel">COACH SECTION</div>
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='prealpha_5'">
                        <input type="hidden" name="course" ng-init="testResponse.course='prealpha'">
                        <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                        <div ng-include="'/pmodule/templates/validate_coach_id_and_password.html'"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
