<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">
<head>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<title>Alpha A1</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!--Custom Css-->
<link rel="stylesheet" href="css/custom.css">
<!--Fonts-->
<!-- TODO : please ensure that all fonts and libraries are offline -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="css/all.min.css" rel="stylesheet">
<link href="css/angular-ui.min.css" rel="stylesheet">
<!--Js-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- TODO: Include password modal js below -->
<!-- password modal js -->
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/angular-ui.min.js"></script>
<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="pmodule/app.js"></script>
<link rel="stylesheet" href="pmodule/password_modal.css">

<style>
.HeaderbannerLabel {
    background-color: rgb(0, 159, 21);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    padding-left: 34px;
    margin-left: -30px;
    font: 400 16px/24px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 8px 8px 8px 34px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 45%;
}
.ins {
    color: #212121;
    font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: 135%;
    margin-top: 22px;
    white-space: pre-wrap;
}
h3 {
    font-weight: normal;
}
.box {	display: inline-block;
	background-color: none; 
	vertical-align: middle}
span.frac {  display: inline-block;  font-size: 75%;  text-align: center; vertical-align: middle}
span.frac > sup {  display: block;  border-bottom: 1px solid;  font: inherit;}
span.frac > span {  display: none;}
span.icon > span {  display: inline-block; font-size: 1.1em}
span.frac > sub {  display: block;  font: inherit;}
</style>
</head>
<body ng-controller="MainCtrl as ctrl" style="background-color: rgb(179, 255, 179); font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
	<!-- include partial for password modal -->
    <div ng-include="pmodule/templates/pmodal_content.html"></div>

	<!-- TODO: Add tag to instantiate modal when page opens -->
	<span ng-init=init()></span>
<section class="container-fluid" style="margin: auto; width: 640px !important; background-color: white;">
	<div class="row">
		<div class="container page">
			<div class="row">
				<div id="edulution_logo">
				    <img src="images/edulution_logo.png" class="img-responsive center-block">
				</div>
			 <div class="pd-tb">
			    <div class="pd-lr form-check"> 
				    <form name="testForm">
			       <p style="box-sizing: border-box; font-size: 34px; line-height: 135%; max-width: 100%; min-width: 0%;">Alpha A1</p>
			      <div class="HeaderbannerLabel">USERNAME</div>
                           <!-- Input fiels for user_id contains some js code for validation -->
                          <label for="username" style="color: #000;font-size: 1.1em;line-height: 135%;width: 100%; font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;">Username</label>
                          <input type="text" autocomplete="off" id="user_id" name="username" data-ng-model="testResponse.username" whitelist style="border:0px; border-bottom:1px solid #c0c0c0; width:40%; flex-shrink: 1;background-color: transparent; display: block; font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; height: 24px; line-height: 24px; margin: 0; min-width: 0%; outline: none; padding: 0; z-index: 0;">
                          <span class="password-error" ng-show="testForm.$dirty && testForm.username.$error.whitelist">Please enter a valid Student ID</span>
                          <div style="color:rgb(219, 68, 55);font-size: 13px;margin-top: 22px;"></div>
			        
						<h3>(1)  
							<span class="frac"><sup>1</sup><span>/</span><sub>2</sub></span> &#x3D;
							<span class="frac">
								<sup>
										<span class="icon"><i class="far fa-square"></i></span>
								</sup>
							<span>/</span><sub>4</sub></span>
						</h3>
						<!-- TODO: Add form name,action and method --> 
						<!-- <form name="testForm" action="/submit_test" method="post"> -->
						
					  <p>
					  	<!-- TODO: Add value attribute to each radio button -->
					  	<!-- Each group of radio buttons with the same name corresponds to one question -->
					  	<!-- Wrong answers are 0, correct answer is 1 -->
					  	<!-- Example below -->
					    <!-- <input type="radio" id="test1" name="q1" value="0"> -->
					    <input type="radio" id="q1_a" ng-model="testResponse.q1" name="q1" value="0">
					    <label for="q1_a">1</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_b" ng-model="testResponse.q1" name="q1" value="1">
					    <label for="q1_b">2</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_c" ng-model="testResponse.q1" name="q1" value="0">
					    <label for="q1_c">3</label>
					  </p>
					  <p>
					    <input type="radio" id="q1_d" ng-model="testResponse.q1" name="q1" value="0">
					    <label for="q1_d">4</label>
						</p>						    
				   <div class="HeaderbannerLabel">COACH CREDENTIALS</div>
                                <!-- TODO: Add text input fields for user_id, coach_email -->
                                <!-- Hidden fields for test,course and module -->
                                <input type="hidden" name="test" ng-init="testResponse.test='alpha_a1'">
                                <input type="hidden" name="course" ng-init="testResponse.course='alpha_a'">
                                <input type="hidden" name="module" ng-init="testResponse.module='numeracy'">
                                <!-- Submit button disabled if form is invalid -->
                                <!-- <input type="submit" value="submit" ng-disabled="testForm.$invalid"> -->
                                <!-- <button type="submit" value="Submit" ng-disabled="testForm.$invalid" ng-click="submit()" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;">Submit</button> -->
                                <input type="submit" value="Submit" ng-click="submit()" ng-disabled="testForm.$invalid" style="color: white; background-color: #4285f4; font-weight: bold; font-size: 14px; border: 0; border-radius: 3px; cursor: pointer; line-height: 30px; min-width: 88px; text-transform: uppercase; margin-top: 50px;"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
