<!DOCTYPE html>
<!-- TODO : add attribute ng-app="passProtect" to html tag -->
<!-- <html ng-app="passProtect"> -->
<html ng-app="passProtect">

<head>
    <title>Games & Energizers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--Custom Css-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/angular-ui.min.css" rel="stylesheet">
    <!--Js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/no_back_please.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- password modal js -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-ui.min.js"></script>
    <script src="/js/angular-md5.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/pmodule/coach_training_app.js"></script>
    <link rel="stylesheet" href="/pmodule/password_modal.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body ng-controller="MainCtrl as ctrl">
    <!-- Run init function when page opens -->
    <span ng-init=init()></span>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 main_content">
                    <div id="edulution_logo">
                        <img src="/images/edulution_logo.png" class="img-responsive center-block">
                    </div>
                    <form name="form.testForm">
                        <p class="test_name">GAMES & ENERGIZERS ASSESSMENT</p>
                        <usernameinput></usernameinput>
                        <!-- Input fiels for user_id contains some js code for validation -->
                        <div class="HeaderbannerLabel">INSTRUCTIONS</div>
                        <div class="ins">Select the most correct answer to each question. <br>You have 30 Minutes to complete this test.</div>
                        <div class="HeaderbannerLabel">QUIZ</div>
                        <h3>1. When preparing learners to play a game, which one of the following is it best not to do?</h3>
                        <p>
                            <input type="radio" id="q1_a" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_a"> Give instructions at the same time as demonstrating the game</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_b" name="q1" ng-model="testResponse.q1" value="1">
                            <label for="q1_b"> Give instructions before demonstrating the game</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_c" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_c">Be clear and concise</label>
                        </p>
                        <p>
                            <input type="radio" id="q1_d" name="q1" ng-model="testResponse.q1" value="0">
                            <label for="q1_d"> Keep all instructions brief</label>
                        </p>
                        <h3>2. When deciding which game to play, which one of the following is the least important factor to consider?</h3>
                        <p>
                            <input type="radio" id="q2_a" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_a"> The physical space available to play the game in</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_b" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_b"> The mood of the learners</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_c" name="q2" ng-model="testResponse.q2" value="0">
                            <label for="q2_c"> The purpose you want the game to achieve</label>
                        </p>
                        <p>
                            <input type="radio" id="q2_d" name="q2" ng-model="testResponse.q2" value="1">
                            <label for="q2_d"> Whether the learners have played the game before</label>
                        </p>
                        <h3>3. Which one of the following is the most relevant outcome of playing cooperative games?</h3>
                        <p>
                            <input type="radio" id="q3_a" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_a"> Increased trust amongst learners</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_b" name="q3" ng-model="testResponse.q3" value="1">
                            <label for="q3_b">Increased sense of inclusion amongst the learners</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_c" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_c"> Increased respect for other learners</label>
                        </p>
                        <p>
                            <input type="radio" id="q3_d" name="q3" ng-model="testResponse.q3" value="0">
                            <label for="q3_d"> Increased independence in learners</label>
                        </p>
                        <h3>4. Which one of the following statements is least likely to be true?</h3>
                        <p>
                            <input type="radio" id="q4_a" name="q4" ng-model="testResponse.q4" value="1">
                            <label for="q4_a"> Learners concentrate less if part of the session involves games</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_b" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_b"> Learners remember things better when learning is linked to physical activity</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_c" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_c">Learners feel happier if the session includes games</label>
                        </p>
                        <p>
                            <input type="radio" id="q4_d" name="q4" ng-model="testResponse.q4" value="0">
                            <label for="q4_d"> Learners are more alert if the session includes games</label>
                        </p>
                        <h3>5. How often should you allow learners to choose their own partners or groups to play games with?</h3>
                        <p>
                            <input type="radio" id="q5_a" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_a"> Never</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_b" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_b"> Always</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_c" name="q5" ng-model="testResponse.q5" value="1">
                            <label for="q5_c"> Sometimes</label>
                        </p>
                        <p>
                            <input type="radio" id="q5_d" name="q5" ng-model="testResponse.q5" value="0">
                            <label for="q5_d"> Usually</label>
                        </p>
                        <br>
                        <!-- TODO: Add text input fields for user_id, coach_email -->
                        <!-- Hidden fields for test,course and module -->
                        <input type="hidden" name="test" ng-init="testResponse.test='games_energizers'">
                        <input type="hidden" name="course" ng-init="testResponse.course='games_energizers'">
                        <input type="hidden" name="module" ng-init="testResponse.module='coach_training'">
                        <input type="hidden" name="test_version" ng-init="testResponse.test_version='v1'">
                        <button id="testsubmit-btn" class="btn btn-primary btn-lg" type="submit" ng-disabled="form.testForm.$invalid" ng-click="confirm_submission()" value="Submit">Submit</button>
                    </form>
                </div>
            </div>
    </section>
</body>

</html>